* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, p, div, h1, h2, h3, h4, h5, h6, img, pre, form, fieldset {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif
}
@font-face {
    font-family: ThaiSansNeue-Regular;
    src: url('../font/ThaiSansNeue-Regular.eot');
    src: url('../font/ThaiSansNeue-Regular.eot?') format('embedded-opentype'),
         url('../font/ThaiSansNeue-Regular.woff') format('woff'),
         url('../font/ThaiSansNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ThaiSansNeue-Bold;
    src: url('../font/ThaiSansNeue-Bold.eot');
    src: url('../font/ThaiSansNeue-Bold.eot?') format('embedded-opentype'),
         url('../font/ThaiSansNeue-Bold.woff') format('woff'),
         url('../font/ThaiSansNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

#header {
	width: 100%;
	background: #8AC007;
	border-bottom: 1px solid #729B0D;
	box-shadow: 0 1px 1px rgba(34, 25, 25, 0.1);
	color: #fff;
	padding: 0 10px;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	overflow: hidden;
}

#control-sale {
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	padding-top: 60px;
	background: white;
	height: 100%;
	z-index: 3;
}

#quick-product-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 60px;
	padding-left: 50%;
	background: #E6E6E6;
	z-index: 1;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
}
#quick-product {
	width: 100%;
	height: 100%;
	padding-top: 120px;
	position: relative;
}
#quick-product-header {
	width: 100%;
	height: 120px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 50px;
	background: #F5F5F5;
	border-bottom: 1px solid #D7D7D7;
	border-left: 1px solid #D7D7D7;
}
#quick-product-body {
	width: 100%;
	height: 100%;
	max-width: 1100px;
	/*min-width: 800px;*/
	padding: 20px;
	overflow: hidden;
	overflow-y: auto;
	border-left: 1px solid #ddd;
}

.product-category-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.product-category-list {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	white-space: nowrap;
	overflow: visible;
	position: relative;
	left: 0;
	font-size: 0;
	-moz-transition: left .3s ease-in-out;
	-webkit-transition: left .3s ease-in-out;
	transition: left .3s ease-in-out;
}
.product-category-list li {
	width: 25%;
	height: 100%;
	padding: 10px;
	display: inline-block;
	word-wrap: break-word;
}
.product-category-item-nopic {
	width: 100%;
	height: 100%;
	background: #F8F8F8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	cursor: pointer;
	padding: 5px;
}
.product-category-item-nopic.selected {
	background: rgb(230, 230, 230);
	border: 2px solid #bbb;
}
.product-category-item-nopic .prdtypName-container {
	width: 100%;
	height: 100%;
	white-space: normal;
	border: 1px dashed #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.product-category-item-nopic.selected .prdtypName-container {
	border-color: #bbb;
}
.product-category-item-nopic .prdtypName-inner {
	width: 100%;
	height: 100%;
	display: table;
}
.product-category-item-nopic p {
	width: 100%;
	height: 100%;
	font-size: 18px;
	text-align: center;
	color: #555;
	display: table-cell;
	vertical-align: middle;
}
.product-category-item-nopic.selected p {
	color: #838383;
}

.pagePrdTypBtn {
	position: absolute;
	font-size: 30px;
	background: none;
	border: none;
	top: 42px;
	outline: none;
	color: #ddd;
	cursor: pointer;
}
.pagePrdTypBtn:hover {
	color: #666;
}

#prevPagePrdTypBtn {
	left: 10px;
}
#nextPagePrdTypBtn {
	right: 10px;
}

#columns {
	width: 100%;
}

.pin-container {
	display: inline-block;
	width: 25%;
	padding: 0 5px;
	float: left;
}
.pin {
	display: block;
	background: #FFFFFF;
	background: white;
	border: 1px solid #e7e7e7;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	margin: 0 2px 20px;
	background: -moz-linear-gradient(90deg, #FFFFFF 70%, #FFFFFF);
	background: -webkit-linear-gradient(90deg, #FFFFFF 70%, #FFFFFF);
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	cursor: pointer;
}

.pin .prd-image-container {
	width: 100%;
	height: 115px;
	padding: 0 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.pin .prd-image {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-o-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}

.pin .prd-name-container {
	width: 100%;
	padding: 5px;
	overflow: hidden;
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-o-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
}
.pin p {
	display: block;
	/*display: -moz-box;
	display: -webkit-box;*/
	font: 16px/18px Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	color: #444;
	-moz-line-clamp: 2;
  	-moz-box-orient: vertical;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	height: 2.2em;
}

#sale-transaction {
	width: 100%;
	height: 100%;
	padding: 8px 8px 100px 8px;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
}
#sale-transaction-inner {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 80px 10px 100px 10px;
	position: relative;
}
#sale-tranaction-inner-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	padding: 8px;
	vertical-align: bottom;
	text-align: center;
}
#total-price-container {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background: #4E690D;
	text-align: right;
	line-height: 44px;
	font-size: 40px;
	padding: 10px 20px;
	font-family: Tahoma;
	color: white;
	position: relative;
}
#sale-tranaction-inner-header h1 {
	font-size: 26px;
	position: absolute;
	bottom: 5px;
	left: 0;
	text-align: center;
	display: block;
	color: #74A008;
	width: 100%;
	font-family: ThaiSansNeue-Bold;
}

#sale-product-list-container {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	overflow: hidden;
	overflow-y: auto;
	padding: 41px 8px 8px 8px;
	position: relative;
}
#sale-product-list-header {
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#sale-product-list-header table	{
	width: 100%;
	border-collapse: collapse;
	background: #F4F4F4;
}
#sale-product-list-header th {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-align: left;
	color: #555;
}
#sale-product-list-body {
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}

#sale-product-list {
	width: 100%;
	border-collapse: collapse;
}
#sale-product-list tr {
	background: white;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	border-bottom: 1px dotted #ddd;
	cursor: pointer;
}
#sale-product-list tr.hilight {
	background: rgb(237, 247, 214);
}
#sale-product-list tr.selected {
	background: #eee;
}
#sale-product-list th, #sale-product-list td {
	color: #555;
	padding: 10px;
	text-align: left;.
	word-wrap: break-word;
	vertical-align: top;
}

/* width of column*/
#sale-product-list-container .prdName-col {
	text-align: left;
	width: 200px;
	max-width: 200px;
	min-width: 200px;
}
#sale-product-list-container .qty-col {
	text-align: center;
	width: 120px;
	position: relative;
}
#sale-product-list-container .unitPrice-col, #sale-product-list-container .sumPrice-col,
#sale-product-list-container .sumDiscout-col {
	text-align: right;
	max-width: 115px;
	min-width: 90px;
}

#sale-product-list-container .sumDiscout-col {
	max-width: 100px;
	min-width: 90px;
}

#barcode-input-container {
	margin: 10px 0;
	height: 40px;
	position: relative;
	color: #666;
}
.icon-barcode {
	width: 50px;
	height: 100%;
	background: #eee;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 40px;
	text-align: center;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-o-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	border: 1px solid #aaa;
	background: -webkit-linear-gradient(90deg, #eee, #FFF);
	background: -moz-linear-gradient(90deg, #eee, #FFF);
	color: rgb(71, 71, 158);
	font-size: 20px;
}
#barcode-input {
	width: 100%;
	height: 100%;
	font-size: 20px;
	padding: 4px 20px 4px 60px;
	outline: none;
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

#summary-sale-tranaction {
	width: 100%;
	margin-top: 10px;
	color: #666;
}
#summary-sale-tranaction td {
	vertical-align: middle;
}

#sale-transaction-control {
	width: 100%;
	height: 80px;
	border-top: 1px solid #ddd;
	position: absolute;
	left: 0;
	bottom: 0;
}

.qty-circle-btn {
	width: 36px;
	height: 36px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid #ddd;
	background: -moz-linear-gradient(90deg, #eee, #FFF);
	background: -webkit-linear-gradient(90deg, #eee, #FFF);
	color: #666;
	outline: none;
	cursor: pointer;
}
.qty-circle-btn:active {
	background: #E9E9E9;
}
#sale-transaction .qty-circle-btn {
	display: none;
}
#sale-product-list tr.selected .qty-circle-btn {
	display: inline-block;
}

#edit-quantity-product {
	width: 100%;
	height: 100%;
	padding-top: 60px;
	padding-left: 50%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
#edit-quantity-product-inner {
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 20px;
	background: rgba(227, 224, 226, 0.95);
	border-left: 1px solid #D7D7D7;
	position: relative;
}
#edit-quantity-product-header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: right;
	padding-right: 20px;
}
#closeEqpBoxBtn {
	border: none;
	-webkit-border-radius:  0 0 6px 6px;
	-moz-border-radius:  0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.34);
}
#closeEqpBoxBtn:active {
	background: -webkit-linear-gradient(90deg, #79A01B, #4E690D);
	background: -moz-linear-gradient(90deg, #79A01B, #4E690D);
	color: white;
}
#edit-quantity-product-body {
	overflow-y: auto;
	width: 100%;
	height: 100%;
	padding-right: 20px;
	padding-top: 60px;
}
#edit-quantity-loader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url('../img/pos/loadingPOS.gif') no-repeat center;
}
#edit-quantity-product table.produt-data {
	width: 100%;
	padding: 10px;
	background: white;
	border: 1px solid #e7e7e7;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}
#edit-quantity-product .prd_image {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	max-width: 250px;
}
#edit-quantity-product td {
	vertical-align: top;
	text-align: left;
	color: #666;
}
#edit-quantity-product h1 {
	font-weight: normal;
	font-size: 25px;
}
#eqp-unitPrice {
	font-size: 35px;
}
#eqp-qty-container {
	width: 200px;
	position: relative;
	margin: 0 auto;
}
#edit-quantity-product .qty-circle-btn.minus {
	position: absolute;
	top: 0px;
	left: -45px;
	width: 40px;
	height: 40px;
	font-size: 20px;
}
#edit-quantity-product .qty-circle-btn.plus {
	position: absolute;
	top: 0px;
	right: -45px;
	width: 40px;
	height: 40px;
	font-size: 20px;
}
#eqp-qty {
	font-size: 28px;
	width: 100%;
	padding: 3px 0;
	background: #F0F0F0;
	border: 1px solid rgb(205, 205, 205);
	color: #666;
	text-align: center;
	outline: none;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}
#eqp-qty:focus {
	background: white;
}
#eqp-control {
	text-align: center;
	padding-top: 20px;
}

.pos-btn {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #ddd;
	outline: none;
	cursor: pointer;
	padding: 3px 20px;
	font-family: ThaiSansNeue-Bold;
	font-size: 25px;
}
.pos-btn.arrowBtn {
	-webkit-border-radius: 20px 100% 100% 20px;
	-moz-border-radius: 20px 100% 100% 20px;
	-o-border-radius: 20px 100% 100% 20px;
	border-radius: 20px 100% 100% 20px;
}
.pos-btn.green {
	color: white;
	background: #83B019;
	background: -webkit-linear-gradient(90deg, #83B019, #9FD520);
	background: -moz-linear-gradient(90deg, #83B019, #9FD520);
	box-shadow: 0 2px 1px rgba(255,255,255,0.5);
	border: 2px solid #697B40
}
.pos-btn.white {
	color: #666;
	background: #EEEEEE;
	background: -webkit-linear-gradient(90deg, #EEEEEE, #FFFFFF);
	background: -moz-linear-gradient(90deg, #EEEEEE, #FFFFFF);
	box-shadow: 0 2px 1px rgba(255,255,255,0.5);
	border: 2px solid #ddd;
}
.eqp-prm > h1 {
	font-family: ThaiSansNeue-Bold;
	font-size: 30px !important;
	color: #666;
}
.eqp-prm-list-container {
	width: 100%;
	background: white;
	border: 1px solid #e7e7e7;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	margin-bottom: 40px;
}
.eqp-prm-list {
	width: 100%;
	padding: 10px;
	height: 80px;
	border-bottom: 1px solid #ddd;
	position: relative;
	padding-left: 80px;
}
.eqp-prm-list .prm-thumb {
	width: 60px;
	height: 60px;
	border:1px solid #ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-color: #F0F0F0;
	position: absolute;
	left:10px;
}
.eqp-prm-list-container .eqp-prm-list:last-child {
	border-bottom: none;
}
.eqp-prm-list table {
	width: 100%;
	height: 100%;
}
.eqp-prm-list table td {
	vertical-align: middle !important;
	word-break: break-word;
}
.eqp-prm-list table td.prm-name-col {
	width: 30%;
}
.eqp-prm-list table td.amount-col, .eqp-prm-list table td.discount-col {
	width: 20%;
	text-align: center !important;
	font-size: 18px;
}
.eqp-prm-list table td.button-col {
	width: 50%;
}

.eqp-prm-list table .prm-name {
	color: #595959;
	font-weight: bold;
}
.eqp-prm-list table .discount-rate {
	color: #b7b7b7;
	font-weight: bold;
}

/*
 * pay box
 */
#payBox {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 5;
	background: rgba(0,0,0,0.3);
}
#payBox-inner {
	width: 900px;
	height: 400px;
	padding-top: 60px;
	background: #F2F2F2;
	position: absolute;
	left: 50%;
	top: 50%;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.8);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	display: table;
}
#payBox-inner-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: white;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #ddd;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #666;
}
#payBox-inner-header h1 {
	font-size: 40px;
	font-family: ThaiSansNeue-Bold;
}
#payBox-inner-body {
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
}
#payBox-leftCont {
	width: 500px;
	height: 100%;
	float: left;
	padding: 30px 15px 30px 30px;
}
#payBox-rightCont {
	width: 400px;
	height: 100%;
	float: right;
	padding: 30px 30px 30px 15px;
}