* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, p, div, h1, h2, h3, h4, h5, h6, img, pre, form, fieldset {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif
}
@font-face {
    font-family: ThaiSansNeue-Regular;
    src: url('../font/ThaiSansNeue-Regular.eot');
    src: url('../font/ThaiSansNeue-Regular.eot?') format('embedded-opentype'),
         url('../font/ThaiSansNeue-Regular.woff') format('woff'),
         url('../font/ThaiSansNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ThaiSansNeue-Bold;
    src: url('../font/ThaiSansNeue-Bold.eot');
    src: url('../font/ThaiSansNeue-Bold.eot?') format('embedded-opentype'),
         url('../font/ThaiSansNeue-Bold.woff') format('woff'),
         url('../font/ThaiSansNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.clearfix:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
}

#header {
	width: 100%;
	background: #8AC007;
	border-bottom: 1px solid #729B0D;
	box-shadow: 0 1px 1px rgba(34, 25, 25, 0.1);
	color: #fff;
	padding: 0 10px;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	overflow: hidden;
}
.header-leftCon {
	float: left;
	height: 100%;
}
.headerBtn {
	height: 40px;
	padding: 0 25px;
	font-size: 20px;
	color: white;
	text-decoration: none;
	line-height: 40px;
	display: inline-block;
	border-radius: 20px;
	border: 2px solid #5F8309;
	box-shadow: 0px 2px 2px rgba(255,255,255,0.4);
	background: -webkit-linear-gradient(90deg, #93C715 50%, #AFD84A);
	background: -moz-linear-gradient(90deg, #93C715 50%, #AFD84A);
	margin-top: 10px;
	cursor: pointer;
}

.searchProduct-container {
	float: right;
	height: 30px;
	background: white;
	margin-top: 15px;
	border-radius: 25px;
	color: #666;
	display: table;
	padding: 5px 10px;
	font-size: 18px;
}
.searchProduct-inner {
	display: table-cell;
	vertical-align: middle;
}
.searchProduct-inner input {
	width: 200px;
	border: none;
	outline: none;
	font-size: 18px;
	color: #666;
	-webkit-transition: width .2s ease-in-out;
	-moz-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out;
}
.searchProduct-inner input:focus {
	width: 330px;
}

#control-sale {
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	padding-top: 60px;
	background: white;
	height: 100%;
	z-index: 3;
}

#quick-product-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 60px;
	padding-left: 50%;
	background: #E6E6E6;
	z-index: 1;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
}
#quick-product {
	width: 100%;
	height: 100%;
	padding-top: 120px;
	position: relative;
}
#quick-product-header {
	width: 100%;
	height: 120px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 50px;
	background: #F5F5F5;
	border-bottom: 1px solid #D7D7D7;
	/*border-left: 1px solid #D7D7D7;*/
}
#quick-product-body {
	width: 100%;
	height: 100%;
	max-width: 1100px;
	/*min-width: 800px;*/
	padding: 20px;
	overflow: hidden;
	overflow-y: auto;
	border-left: 1px solid #ddd;
}

.product-category-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.product-category-list {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	white-space: nowrap;
	overflow: visible;
	position: relative;
	left: 0;
	font-size: 0;
	-moz-transition: left .3s ease-in-out;
	-webkit-transition: left .3s ease-in-out;
	transition: left .3s ease-in-out;
}
.product-category-list li {
	width: 25%;
	height: 100%;
	padding: 10px;
	display: inline-block;
	word-wrap: break-word;
}
.product-category-item-nopic {
	width: 100%;
	height: 100%;
	background: #F8F8F8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	cursor: pointer;
	padding: 5px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.product-category-item-nopic.selected {
	background: rgb(230, 230, 230);
	border: 1px solid #bbb;
}
.product-category-item-nopic .prdtypName-container {
	width: 100%;
	height: 100%;
	white-space: normal;
	border: 1px dashed #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.product-category-item-nopic.selected .prdtypName-container {
	border-color: #bbb;
}
.product-category-item-nopic .prdtypName-inner {
	width: 100%;
	height: 100%;
	display: table;
}
.product-category-item-nopic p {
	width: 100%;
	height: 100%;
	font-size: 18px;
	text-align: center;
	color: #555;
	display: table-cell;
	vertical-align: middle;
}
.product-category-item-nopic.selected p {
	color: #838383;
}

.pagePrdTypBtn {
	position: absolute;
	font-size: 30px;
	background: none;
	border: none;
	top: 42px;
	outline: none;
	color: #ddd;
	cursor: pointer;
	-webkit-transition: margin .2s;
	-moz-transition: margin .2s;
	transition: margin .2s;
}
.pagePrdTypBtn:active {
	color: #666;
}

#prevPagePrdTypBtn {
	left: 10px;
}
#prevPagePrdTypBtn:active {
	margin-left: -5px;
}
#nextPagePrdTypBtn {
	right: 10px;
}
#nextPagePrdTypBtn:active {
	margin-right: -5px;
}

#columns {
	width: 100%;
}

.pin-container {
	display: inline-block;
	width: 25%;
	padding: 0 5px;
	float: left;
}
.pin {
	display: block;
	background: #FFFFFF;
	background: white;
	border: 2px solid #ddd;
	margin: 0 2px 20px;
	background: -moz-linear-gradient(90deg, #FFFFFF 70%, #FFFFFF);
	background: -webkit-linear-gradient(90deg, #FFFFFF 70%, #FFFFFF);
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 6px 6px 5px rgba(0,0,0,0.3);
}
.pin:active {
	border-color: #999;
}

.pin .prd-image-container {
	width: 100%;
	height: 115px;
	padding: 0 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.pin .prd-image {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-border-radius: 8px 8px 0 0;
	-moz-border-radius: 8px 8px 0 0;
	-o-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
}

.pin .prd-name-container {
	width: 100%;
	padding: 5px;
	overflow: hidden;
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-o-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
}
.pin p {
	display: block;
	/*display: -moz-box;
	display: -webkit-box;*/
	font: 16px/18px Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	color: #444;
	-moz-line-clamp: 2;
  	-moz-box-orient: vertical;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	height: 2.2em;
}

#sale-transaction {
	width: 100%;
	height: 100%;
	padding: 8px 8px 70px 8px;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  	background: #F5F5F5;
}
#sale-transaction-inner {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 70px 10px 190px 10px;
	position: relative;
	background: white;
}
#sale-tranaction-inner-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	padding: 8px 10px;
	vertical-align: bottom;
	text-align: center;
}
.sale-transaction-setting {
	width: 100%;
	padding: 8px;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	color: rgb(102, 102, 102);
	display: inline-block;
	margin-bottom: 8px;
	position: relative;
}
.sale-transaction-setting-title {
	display: inline-block;
	padding-right: 20px;
	font-weight: bold;
	color: rgb(85, 85, 85);
}
.sale-transaction-setting-btn {
	background: none;
	border: none;
	padding: 0 10px;
	font-size: 20px;
	cursor: pointer;
	float: right;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	color: #666;
	height: 100%;
	outline: none;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.sale-transaction-setting-btn:active {
	background: #666;
	color: white;
}
#total-price-container {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background: #4E690D;
	text-align: right;
	line-height: 35px;
	font-size: 35px;
	padding: 10px 20px;
	font-family: Tahoma;
	color: white;
	position: relative;
}
#sale-tranaction-inner-header h1 {
	font-size: 26px;
	position: absolute;
	bottom: 5px;
	left: 0;
	text-align: center;
	display: block;
	color: #74A008;
	width: 100%;
	font-family: ThaiSansNeue-Bold;
}

#sale-product-list-container {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	overflow: hidden;
	overflow-y: auto;
	padding: 41px 0px 8px 0px;
	position: relative;
}
#sale-product-list-header {
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#sale-product-list-header table	{
	width: 100%;
	border-collapse: collapse;
	background: #F4F4F4;
}
#sale-product-list-header th {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-align: left;
	color: #555;
}
#sale-product-list-body {
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}

#sale-product-list {
	width: 100%;
	border-collapse: collapse;
}
#sale-product-list tr {
	background: white;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	border-bottom: 1px dotted #ddd;
	cursor: pointer;
}
#sale-product-list tr.hilight {
	background: rgb(237, 247, 214);
}
#sale-product-list tr.selected {
	background: #eee;
}
#sale-product-list th, #sale-product-list td {
	color: #555;
	padding: 10px;
	text-align: left;.
	word-wrap: break-word;
	vertical-align: top;
}

/* width of column*/
#sale-product-list-container .prdName-col {
	text-align: left;
	width: 200px;
	max-width: 200px;
	min-width: 200px;
}
#sale-product-list-container .qty-col {
	text-align: center;
	width: 120px;
	position: relative;
}
#sale-product-list-container .unitPrice-col, #sale-product-list-container .sumPrice-col,
#sale-product-list-container .sumDiscout-col {
	text-align: right;
	max-width: 115px;
	min-width: 90px;
}

#sale-product-list-container .sumDiscout-col {
	max-width: 100px;
	min-width: 90px;
}

#barcode-input-container {
	margin: 10px 0;
	height: 35px;
	position: relative;
	color: #666;
}
.icon-barcode {
	width: 50px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 35px;
	text-align: center;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-o-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	color: rgb(71, 71, 158);
	font-size: 16px;
}
#barcode-input {
	width: 100%;
	height: 100%;
	font-size: 16px;
	padding: 4px 20px 4px 45px;
	outline: none;
	border: 2px solid #d9d9d9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#barcode-input:focus {
	border-color: #b2b2b2;
}

#summary-sale-tranaction {
	width: 100%;
	margin-top: 10px;
	color: #666;
}
#summary-sale-tranaction td {
	vertical-align: middle;
	white-space: nowrap;
}
#summary-sale-tranaction .value-col {
	text-align: right;
	width: 20%;
}
#summary-sale-tranaction .center-col {
	width: 20%;
}

#sale-transaction-control {
	width: 100%;
	height: 70px;
	position: absolute;
	left: 0;
	bottom: 0;
	display: table;
}
.sale-transaction-control-inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	text-align: right;
	padding: 0 10px;
}
.sale-transaction-control-inner button:not(:last-child) {
	margin-right: 1%;
}

.qty-circle-btn {
	width: 36px;
	height: 36px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid #ddd;
	background: white;
	color: #666;
	outline: none;
	cursor: pointer;
}
.qty-circle-btn:active {
	background: #E9E9E9;
}
#sale-transaction .qty-circle-btn {
	display: none;
}
#sale-product-list tr.selected .qty-circle-btn {
	display: inline-block;
}

#edit-quantity-product {
	width: 100%;
	height: 100%;
	padding-top: 60px;
	padding-left: 50%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
#edit-quantity-product-inner {
	width: 100%;
	height: 100%;
	padding: 0px 0px 0px 20px;
	background: #F5F5F5;
	position: relative;
	margin-left: 100%;
	-webkit-transition: margin .2s ease-in-out;
	-moz-transition: margin .2s ease-in-out;
	transition: margin .2s ease-in-out;
}
#edit-quantity-product-header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: right;
	padding-right: 20px;
}
#closeEqpBoxBtn {
	border-top: none;
	-webkit-border-radius:  0 0 6px 6px;
	-moz-border-radius:  0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
#closeEqpBoxBtn:active {
	background: #79A01B;
	border-color: #79A01B;
	color: white;
	box-shadow: none;
}
#edit-quantity-product-body {
	overflow-y: auto;
	width: 100%;
	height: 100%;
	padding-right: 20px;
	padding-top: 60px;
}
#edit-quantity-loader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url('../img/pos/loadingPOS.gif') no-repeat center;
}
#edit-quantity-product table.produt-data {
	width: 100%;
	padding: 10px;
}
#edit-quantity-product .prd_image {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	max-width: 13vw;
	border: 8px solid #fff;
	/*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);*/
	box-shadow: 2px 2px 6px rgba(0,0,0,0.22);
}
#edit-quantity-product td {
	vertical-align: top;
	text-align: left;
	color: #666;
}
#edit-quantity-product h1 {
	font-weight: normal;
	font-size: 25px;
}
#eqp-unitPrice {
	font-size: 35px;
}
#eqp-qty-container {
	width: 200px;
	position: relative;
	margin: 0 auto;
}
#edit-quantity-product .qty-circle-btn.minus {
	position: absolute;
	top: 0px;
	left: -45px;
	width: 40px;
	height: 40px;
	font-size: 20px;
}
#edit-quantity-product .qty-circle-btn.plus {
	position: absolute;
	top: 0px;
	right: -45px;
	width: 40px;
	height: 40px;
	font-size: 20px;
}
#eqp-qty {
	font-size: 28px;
	width: 100%;
	padding: 3px 0;
	background: white;
	border: 2px solid rgb(205, 205, 205);
	color: #666;
	text-align: center;
	outline: none;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}
#eqp-qty:focus {
	border-color: #999;
}
.eqp-control {
	text-align: center;
	padding-top: 20px;
}
.eqp-control button {
	width: 32%;
	margin-bottom: 2%;
	margin-right: 2%;
}
.eqp-control button:nth-child(23n+3) {
	margin-right: 0;
}

.pos-btn {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #ddd;
	outline: none;
	cursor: pointer;
	padding: 3px 20px;
	font-family: ThaiSansNeue-Bold;
	font-size: 25px;
}
.pos-btn.arrowBtn {
	-webkit-border-radius: 20px 100% 100% 20px;
	-moz-border-radius: 20px 100% 100% 20px;
	-o-border-radius: 20px 100% 100% 20px;
	border-radius: 20px 100% 100% 20px;
}
.pos-btn.green {
	color: white;
	background: #83B019;
	border: 2px solid #666;
}
.pos-btn.green:hover {
	background: #729915;
}
.pos-btn.green:active {
	background: #668912;
}
.pos-btn.white {
	/*color: #666;
	background: #EEEEEE;
	background: -webkit-linear-gradient(90deg, #EEEEEE, #FFFFFF);
	background: -moz-linear-gradient(90deg, #EEEEEE, #FFFFFF);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	border: 1px solid #ddd;*/
	color: #666;
	background: white;
	border: 2px solid #ccc;
}
.pos-btn.white:hover {
	background: rgb(204, 204, 204);
	color: white;
}
.pos-btn.white:active {
	background: #aaa;
	border-color: #aaa;
}
.eqp-prm > h1 {
	font-family: ThaiSansNeue-Bold;
	font-size: 30px !important;
	color: #666;
}
.eqp-prm-list-container {
	width: 100%;
	margin-bottom: 40px;
}
.eqp-prm-list {
	width: 100%;
	padding: 10px;
	height: 80px;
	position: relative;
	padding-left: 80px;
}
.eqp-prm-list .prm-thumb {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	background-color: #F0F0F0;
	position: absolute;
	left:10px;
}
.eqp-prm-list table {
	width: 100%;
	height: 100%;
}
.eqp-prm-list table td {
	vertical-align: middle !important;
	word-break: break-word;
}
.eqp-prm-list table td.prm-name-col {
	width: 50%;
}
.eqp-prm-list table td.amount-col {
	width: 10%;
	text-align: right !important;
}
.eqp-prm-list table td.discount-col {
	width: 40%;
	text-align: right !important;
	font-weight: bold;
	color: rgb(255, 68, 68) !important;
}

.eqp-prm-list table .prm-name {
	color: #595959;
}
.eqp-prm-list table .discount-rate {
	color: #b7b7b7;
}

/*
 * pay box
 */
#payBox {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 5;
	background: rgba(0,0,0,0.3);
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
}
#payBox-inner {
	width: 500px;
	/*height: 400px;*/
	padding-top: 60px;
	background: #F2F2F2;
	position: absolute;
	left: 50%;
	top: 50%;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.8);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	display: table;
}
#payBox-inner-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: white;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #ddd;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: #666;
}
#payBox-inner-header h1 {
	font-size: 40px;
	font-family: ThaiSansNeue-Bold;
}
#payBox-inner-body {
	width: 100%;
	height: 100%;
	border-top: 1px solid #fff;
}
#payBox-leftCont {
	width: 500px;
	height: 100%;
	float: left;
	padding: 30px 15px 30px 30px;
	padding: 20px;
	text-align: center;
}
#payBox-rightCont {
	width: 500px;
	height: 100%;
	float: right;
	padding: 30px 30px 30px 15px;
	display: none;
}
.payBox-table-pay {
	width: 100%;
	margin-bottom: 20px;
}
.payBox-table-pay td {
	vertical-align: middle;
	font-size: 35px;
	color: #999;
	font-family: ThaiSansNeue-Bold;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}
.payBox-table-pay td:first-child {
	text-align: left;
}
.payBox-table-pay td:last-child {
	text-align: right;
}
#payMoney-input {
	font-family: ThaiSansNeue-Bold;
	font-size: 35px;
	text-align: right;
	padding: 2px 5px;
	width: 150px;
}
.payBox-table-pay .totalPrice-row td {
	font-size: 35px;
	color: #666;
	margin-bottom: 20px;
}
.payBox-table-pay .changement-row td {
	font-size: 35px;
	color: rgb(255, 97, 97);
	margin-bottom: 20px;
}
#payBox-leftCont button {
	width: 49%;
}
#payBox-leftCont button:first-child {
	margin-right: 2%;
}
.thaiMoneyLevel {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.thaiMoneyLevel li {
	width: 22.5%;
	margin-right: 2%;
	margin-bottom: 2%;
	height: 80px;
	border: 1px solid rgb(221, 221, 221);
	display: inline-block;
}
.thaiMoneyLevel li:nth-child(4n+4) {
	margin-right: 0px;
}

/*
 * Popup box
 */
.popupBox {
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	z-index: 6;
 	background: rgba(0,0,0,0.22);
 	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
}
.popupBox-container {
  	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 4px;
	border: 2px solid rgba(0,0,0,0.3);
}
.popupBox-header {
	width: 100%;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
.popupBox-header-inner {
	width: 100%;
	padding: 10px;
	background: white;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-align: center;
	color: #8AC007;
	border-bottom: 2px solid #ddd;
}
.popupBox-header h1 {
	color: #8AC007;
	font-family: ThaiSansNeue-Bold;
	font-size: 25px;
}
.popupBox-body {
	width: 100%;
	padding: 20px;
	overflow-y: auto;
	max-height: 80vh;
	max-width: 80vw;
	/*background: #f7f7f7;*/
	background: white;
	color: #444;
}
.popupBox-footer {
	background: #f7f7f7;
	border-radius: 0 0 4px 4px;
	padding: 10px;
	text-align: center;
	position: relative;
}
.popupBox-footer-left {
	float:left;
	position: absolute;
	left: 10px;
}
.popupBox-footer-right {
	float:right;
	position: absolute;
	right: 10px;
}
.popupBox-footer > .pos-btn,
.popupBox-footer-left > .pos-btn,
.popupBox-footer-right > .pos-btn{
	margin-right: 10px;
}
.popupBox-footer > .pos-btn:last-child,
.popupBox-footer-left > .pos-btn:last-child,
.popupBox-footer-right > .pos-btn:last-child {
	margin-right: 0;
}

/*
 * Popup Box content
 */
 #prmFreeAmount {
 	font-size:18px;
 	margin:0 5px;
 	text-align: center;
 }
#saleDiscoutInput {
	width: 100%;
	width: 100%;
	text-align: center;
	font-size: 18px;
}

/*
 * Input style
 */
.pos-input {
	padding: 5px;
	border: 2px solid #d9d9d9;
	border-radius: 6px;
	outline: none;
	color: #444;
}
.pos-input:focus {
	border-color: #b2b2b2;
}
.pos-input .required {
	border-color: red; 
}
/*
 * Radio style
 */
.pos-radio {
	padding: 0;
	margin: 0;
	list-style: none;
}
.pos-radio li {
	width: 100%;
	padding: 10px;
	cursor: pointer;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 5px;
}
.pos-radio li i {
	padding: 5px;
	border-radius: 50%;
	margin-right: 5px;
	background: #ddd;
	color: #ddd;
	box-shadow: 0 0 5px rgb(199, 199, 199) inset;
}
.pos-radio li.checked i {
	background: rgb(138, 192, 7);
	color: white;
}
.pos-radio li:hover, .pos-radio li.checked {
	background: #f2f2f2;
}