* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, p, div, h1, h2, h3, h4, h5, h6, img, pre, form, fieldset {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial sans-serif;
}
@font-face {
    font-family: ThaiSansNeue-Regular;
    src: url('../font/ThaiSansNeue-Regular.eot');
    src: url('../font/ThaiSansNeue-Regular.eot?') format('embedded-opentype'),
         url('../font/ThaiSansNeue-Regular.woff') format('woff'),
         url('../font/ThaiSansNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ThaiSansNeue-Bold;
    src: url('../font/ThaiSansNeue-Bold.eot');
    src: url('../font/ThaiSansNeue-Bold.eot?') format('embedded-opentype'),
         url('../font/ThaiSansNeue-Bold.woff') format('woff'),
         url('../font/ThaiSansNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

#header {
	width: 100%;
	background: #8AC007;
	color: #fff;
	padding: 0 10px;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	overflow: hidden;
}

#control-sale {
	position: fixed;
	top: 0;
	left: 0;
	width: 700px;
	padding-top: 60px;
	background: white;
	height: 100%;
	z-index: 3;
}

#quick-product-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 60px;
	padding-left: 700px;
	background: #83B019;
	z-index: 1;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
}
#quick-product {
	width: 100%;
	height: 100%;
	padding-top: 60px;
	position: relative;
}
#quick-product-header {
	width: 100%;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	background: #83B019;
}
#quick-product-body {
	width: 100%;
	height: 100%;
	max-width: 1100px;
	/*min-width: 800px;*/
	padding: 20px;
	overflow: hidden;
	overflow-y: auto;
}
#columns {
	-webkit-column-count: 4;
	-webkit-column-gap: 20px;
	/*-webkit-column-fill: auto;*/
	-moz-column-count: 4;
	-moz-column-gap: 20px;
	/*-moz-column-fill: auto;*/
	column-count: 4;
	column-gap: 15px;
	/*column-fill: auto;*/
}

.pin-container {
	display: inline-block;
	width: 100%;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
}
.pin {
	display: block;
	background: #8AC007;
	border: 1px solid #D6EF9A;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 20px;
	background: -moz-linear-gradient(90deg, #8AC007, #B5DB58);
	background: -webkit-linear-gradient(90deg, #8AC007, #B5DB58);
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}

.pin .prd-image-container {
	width: 100%;
	height: 130px;
	padding: 0 5px;
}
.pin .prd-image {
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.pin .prd-name-container {
	width: 100%;
	padding: 5px;
	background: #ADD254;
	overflow: hidden;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
.pin p {
	display: block;
	display: -moz-box;
	display: -webkit-box;
	font: 16px/18px Arial, sans-serif;
	color: #FFF;
	-moz-line-clamp: 2;
  	-moz-box-orient: vertical;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	height: 2.2em;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

#sale-transaction {
	width: 100%;
	height: 100%;
	padding: 8px 8px 100px 8px;
	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
}
#sale-transaction-inner {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 80px 10px 100px 10px;
	position: relative;
}
#sale-tranaction-inner-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	padding: 8px;
	vertical-align: bottom;
	text-align: center;
}
#total-price-container {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background: #5A5A5A;
	text-align: right;
	line-height: 44px;
	font-size: 40px;
	padding: 10px 20px;
	font-family: Tahoma;
	color: rgb(88, 223, 88);
	position: relative;
}
#sale-tranaction-inner-header h1 {
	font-size: 26px;
	position: absolute;
	bottom: 5px;
	left: 0;
	text-align: center;
	display: block;
	color: #74A008;
	width: 100%;
	font-family: ThaiSansNeue-Bold;
}

#sale-product-list-container {
	width: 100%;
	height: 100%;
	border: 1px solid #ddd;
	overflow: hidden;
	overflow-y: auto;
	padding: 41px 8px 8px 8px;
	position: relative;
}
#sale-product-list-header {
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#sale-product-list-header table	{
	width: 100%;
	border-collapse: collapse;
	background: #F4F4F4;
}
#sale-product-list-header th {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	text-align: left;
}
#sale-product-list-body {
	overflow: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
}

#sale-product-list {
	width: 100%;
	border-collapse: collapse;
}
#sale-product-list tr {
	background: white;
	/*-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;*/
	cursor: pointer;
}
#sale-product-list tr.hilight {
	background: rgb(199, 242, 173);
}
#sale-product-list tr.selected {
	background: #eee;
}
#sale-product-list th, #sale-product-list td {
	padding: 10px;
	border-bottom: 1px dotted #aaa;
	text-align: left;.
	word-wrap: break-word;
	vertical-align: top;
}

/* width of column*/
#sale-product-list-container .prdName-col {
	text-align: left;
	width: 300px;
	max-width: 300px;
	min-width: 300px;
}
#sale-product-list-container .qty-col {
	text-align: center;
	width: 120px;
	position: relative;
}
#sale-product-list-container .unitPrice-col, #sale-product-list-container .sumPrice-col {
	text-align: right;
	width: 120px;
	max-width: 120px;
}

#barcode-input-container {
	margin: 10px 0;
	height: 40px;
	position: relative;
}
.icon-barcode {
	width: 50px;
	height: 100%;
	background: #eee;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 40px;
	text-align: center;
	-webkit-border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	-o-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
	border: 1px solid #aaa;
	background: -webkit-linear-gradient(90deg, #eee, #FFF);
	color: rgb(71, 71, 158);
	font-size: 20px;
}
#barcode-input {
	width: 100%;
	height: 100%;
	font-size: 20px;
	padding: 4px 20px 4px 60px;
	outline: none;
	border: 1px solid #aaa;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

#summary-sale-tranaction {
	width: 100%;
	margin-top: 10px;
	color: #666;
}
#summary-sale-tranaction td {
	vertical-align: middle;
}

#sale-transaction-control {
	width: 100%;
	height: 80px;
	border-top: 1px solid #ddd;
	position: absolute;
	left: 0;
	bottom: 0;
}

.qty-circle-btn {
	width: 36px;
	height: 36px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid #ddd;
	background: -moz-linear-gradient(90deg, #eee, #FFF);
	background: -webkit-linear-gradient(90deg, #eee, #FFF);
	color: rgb(71, 71, 158);
	outline: none;
	cursor: pointer;
}
#sale-transaction .qty-circle-btn {
	display: none;
}
#sale-product-list tr.selected .qty-circle-btn {
	display: inline-block;
}

#edit-quantity-product {
	width: 100%;
	height: 100%;
	padding-top: 60px;
	padding-left: 700px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
#edit-quantity-product-inner {
	width: 100%;
	height: 100%;
	padding: 20px;
	background: #83B019;
	position: relative;
}
#edit-quantity-product-header {
	width: 100%;
	padding-bottom: 20px;
}
#edit-quantity-loader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url('../img/pos/loadingPOS.gif') no-repeat center;
}
#edit-quantity-product table {
	width: 100%;
	font-family: ThaiSansNeue-Regular;
	border-bottom: 1px solid #CFE29F;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
#edit-quantity-product .prd_image {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	max-width: 250px;
}
#edit-quantity-product td {
	vertical-align: top;
	text-align: left;
	color: white;
	font-size: 25px;
}
#edit-quantity-product h1 {
	font-weight: normal;
	font-size: 35px;
}
#eqp-unitPrice {
	font-size: 35px;
}
#edit-quantity-product .qty-circle-btn.minus {
	position: absolute;
	top: 0px;
	left: 0;
	width: 40px;
	height: 40px;
	font-size: 20px;
}
#edit-quantity-product .qty-circle-btn.plus {
	position: absolute;
	top: 0px;
	right: 0;
	width: 40px;
	height: 40px;
	font-size: 20px;
}
#eqp-qty {
	font-size: 28px;
	width: 100%;
	padding: 3px 0;
	background: rgb(153, 194, 58);
	border: none;
	color: rgb(255, 255, 255);
	text-align: center;
	outline: none;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}

.pos-btn {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	border: 2px solid #ddd;
	outline: none;
	cursor: pointer;
	padding: 3px 20px;
	font-family: ThaiSansNeue-Bold;
	font-size: 25px;
}
.pos-btn.arrowBtn {
	-webkit-border-radius: 20px 100% 100% 20px;
	-moz-border-radius: 20px 100% 100% 20px;
	-o-border-radius: 20px 100% 100% 20px;
	border-radius: 20px 100% 100% 20px;
}
.pos-btn.green {
	color: white;
	background: #83B019;
	background: -webkit-linear-gradient(90deg, #83B019, #9FD520);
	background: -moz-linear-gradient(90deg, #83B019, #9FD520);
	box-shadow: 0 2px 1px rgba(255,255,255,0.5);
	border: 2px solid #697B40
}
.pos-btn.white {
	color: #83B019;
	background: #EEEEEE;
	background: -webkit-linear-gradient(90deg, #EEEEEE, #FFFFFF);
	background: -moz-linear-gradient(90deg, #EEEEEE, #FFFFFF);
	box-shadow: 0 2px 1px rgba(255,255,255,0.5);
	border: 2px solid #729D0D;
}