* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, p, div, h1, h2, h3, h4, h5, h6, img, pre, form, fieldset {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial sans-serif;
	/*background: #F3F3F3;*/
	padding-top: 60px;
}
@font-face {
    font-family: ThaiSansNeue-Regular;
    src: url('../font/ThaiSansNeue-Regular.eot');
    src: url('../font/ThaiSansNeue-Regular.eot?') format('embedded-opentype'),
         url('../font/ThaiSansNeue-Regular.woff') format('woff'),
         url('../font/ThaiSansNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ThaiSansNeue-Bold;
    src: url('../font/ThaiSansNeue-Bold.eot');
    src: url('../font/ThaiSansNeue-Bold.eot?') format('embedded-opentype'),
         url('../font/ThaiSansNeue-Bold.woff') format('woff'),
         url('../font/ThaiSansNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

#header {
	width: 100%;
	background: #8AC007;
	border-bottom: 1px solid #729B0D;
	box-shadow: 0 1px 1px rgba(34, 25, 25, 0.1);
	color: #fff;
	padding: 0 10px;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4;
	overflow: hidden;
}

#title-container {
	font-family: ThaiSansNeue-Bold;
	text-align: center;
	background-color: white;
	color: #A1A1A1;
	height: 200px;
	font-size: 40px;
	background-image: url('../img/pos/title_background.png');
	margin-top: 60px;
}
#title-container h1 {
	color: #504A50;
}

.container {
	margin: 0px auto;
	width: 800px;
	min-width: 800px;
	max-width: 800px;
	width: 90%;
}

.shop-list {
	list-style: none;
	width: 100%;
	padding: 0;
}
.shop-list li {
	width: 25%;
	padding: 30px 20px;
	float: left;
	cursor: pointer;
	border: 1px solid #fff;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}
.shop-list li:hover {
	background: #f5f5f5;
	border: 1px solid #ddd;
}
.shop-list li:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
}
.shop-picture {
	display: block;
	width: 160px;
	height: 160px;
	cursor: pointer;
	margin: 0 auto;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.shop-picture img {
	width: 100%;
}
.shop-info {
	width: 100%;
}
.shop-info h2 {
	margin-bottom: 0.6em;
	text-transform: none;
	margin-top: 0;
}
.shop-info h2 a {
	font-family: ThaiSansNeue-Bold;
	text-decoration: none;
	outline: none;
	color: #31656e;
	font-size: 28px;
	cursor: pointer;
}
.shop-info p {
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 0;
	color: #799ba5;
	padding: 0;
	moz-line-clamp: 4;
	-moz-box-orient: vertical;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 6.2em;
	display: block;
	display: -moz-box;
	display: -webkit-box;
}
