* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, p, div, h1, h2, h3, h4, h5, h6, img, pre, form, fieldset {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial sans-serif;
	background: #F5F5F5;
	/*padding-top: 60px;*/
}
@font-face {
    font-family: ThaiSansNeue-Regular;
    src: url('../font/ThaiSansNeue-Regular.eot');
    src: url('../font/ThaiSansNeue-Regular.eot?') format('embedded-opentype'),
         url('../font/ThaiSansNeue-Regular.woff') format('woff'),
         url('../font/ThaiSansNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: ThaiSansNeue-Bold;
    src: url('../font/ThaiSansNeue-Bold.eot');
    src: url('../font/ThaiSansNeue-Bold.eot?') format('embedded-opentype'),
         url('../font/ThaiSansNeue-Bold.woff') format('woff'),
         url('../font/ThaiSansNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@media (min-width: 780px) {
    .container {
        max-width: 780px;
    }
}
.clearfix:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
}

#header {
    width: 100%;
    background: #8AC007;
    border-bottom: 1px solid #729B0D;
    box-shadow: 0 1px 1px rgba(34, 25, 25, 0.1);
    color: #fff;
    padding: 0 10px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    overflow: hidden;
}

#title-container {
    font-family: ThaiSansNeue-Bold;
    text-align: center;
    background-color: #2EB494;
    color: white;
    height: 230px;
    font-size: 50px;
    background-image: url('../img/time_attendances/title_background.png');
}

.container {
    margin: 0 auto;
    padding-top: 50px;
}