<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4  col-md-4 col-sm-4 col-xs-12">
          <h3>
            Support 
          </h3>
          <ul>
            <li class="supportLi">
              <p>
                เปิดให้บริการ ทุกวันอังคาร - วันอาทิตย์ 08.30 -20.00 น.
              </p>
              <h4>
                <a class="inline" href="callto:{$spaData.spa_tel}">
                  <strong>
                    <i class="fa fa-phone">
                    </i>
                     {$spaData.spa_tel}
                  </strong>
                </a>
              </h4>

              <h4>
                <a class="inline" href="mailto:{$spaData.spa_email}">
                  <i class="fa fa-envelope-o">
                  </i>
                  {$spaData.spa_email}
                </a>
              </h4>

              <h4>
                <a class="inline" href="http://facebook.com">
                  <strong>
                    <i class="fa fa-facebook"> 
                    </i>
                     Abhaibhubajhr Day Spa 
                  </strong>
                </a>
              </h4>

            </li>
          </ul>

          <!-- <ul class="social">
            <li> <a href="http://facebook.com">
                <i class=" fa fa-facebook">
                  &nbsp;
                </i>
              </a>
            </li>
            <li> <a href="http://twitter.com">
                <i class="fa fa-twitter">
                  &nbsp;
                </i>
              </a>
            </li>
            <li> <a href="https://plus.google.com">
                <i class="fa fa-google-plus">
                  &nbsp;
                </i>
              </a>
            </li>
            <li> <a href="http://youtube.com">
                <i class="fa fa-pinterest">
                  &nbsp;
                </i>
              </a>
            </li>
            <li> <a href="http://youtube.com">
                <i class="fa fa-youtube">
                  &nbsp;
                </i>
              </a>
            </li>
          </ul> -->
        </div>
        
        <div class="col-lg-4  col-md-4 col-sm-4 col-xs-12">
          <h3> Website Spa </h3>
          <ul>
            <li> <a href="index.php"> หน้าแรก </a> </li>
            <li> <a href="shop_service_lists.php"> จองรายการบริการ </a> </li>
            <li> <a href="shop_packages.php"> จองแพ็คเกจ </a> </li>
            <li> <a href="#"> โปรโมชั่น </a> </li>
            <li> <a href="#"> ผลิตภัณฑ์ </a> </li>
            <li> <a href="#"> อาหาร/เครื่องดื่ม </a> </li>
            <li> <a href="about_us.php"> เกี่ยวกับเรา </a> </li>
          </ul>
        </div>
        
        <div class="col-lg-4  col-md-4 col-sm-4 col-xs-12">
          <h3>
            Account
          </h3>
          <ul>
            <li> <a href="myaccount.php">
                เข้าสู่ระบบ
              </a>
              
            </li>
            <li> <a href="shop-ui-register.php">
                สมัครสมาชิก
              </a>
              
            </li>
          </ul>
        </div>
      </div><!--/.row-->
    </div><!--/.container-->
  </div><!--/.footer-->
  
  <div class="footer-bottom">
  
    <div class="container">
      <p class="pull-left">
        © Abhaibhubajhr Day Spa 2015. All right reserved.
      </p>
    </div>
    
  </div><!--/.footer-bottom-->
</footer>