<header class="spa-header">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="header-left clearfix">
					<!-- logo -->
					<div class="logo">
						<a href="index.html"><img id="logo" src="img/spaLogo.png" alt="Abhaibhubajhr Day Spa" style="height:70px;"></a>
					</div>
				</div>
			</div>
			<div class="col-md-7">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">

						<!-- Toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="true">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="navbar-collapse collapse in" id="navbar-collapse-1" aria-expanded="true">
							<ul class="nav navbar-nav">
								<li {if $tplName == 'index.html'}class="active"{/if}>
									<a href="index.php">หน้าแรก</a>
								</li>
								<li class="dropdown{if $tplName == 'shop_service_lists.html' || $tplName == 'shop_packages.html'} active{/if}">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">จอง <b class="caret"> </b></a>
									<ul class="dropdown-menu">
										<li>
											<a href="shop_service_lists.php">รายการบริการ</a>
										</li>
										<li>
											<a href="shop_packages.php">แพ็คเกจ</a>
										</li>
									</ul>
								</li>													
								<!-- mega-menu start -->
								<li class="dropdown mega-menu" style="">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"> </b></a>
									<ul class="dropdown-menu">
										<li>
											<div class="row">
												<div class="col-lg-4 col-md-3 hidden-sm">
													<h4>Premium HTML5 Template</h4>
													<p>iDea is perfectly suitable for corporate, business and company webpages.</p>
													<img src="images/section-image-3.png" alt="iDea">
												</div>
												<div class="col-lg-8 col-md-9">
													<h4>Pages</h4>
													<div class="row">
														<div class="col-sm-4">
															<div class="divider"></div>
															<ul class="menu">
																<li><a href="page-about.html"><i class="icon-right-open"></i>About Us</a></li>
																<li><a href="page-about-2.html"><i class="icon-right-open"></i>About Us 2</a></li>
																<li><a href="page-about-3.html"><i class="icon-right-open"></i>About Us 3</a></li>
																<li><a href="page-about-me.html"><i class="icon-right-open"></i>About Me</a></li>
																<li><a href="page-team.html"><i class="icon-right-open"></i>Our Team - Options</a></li>
																<li><a href="page-services.html"><i class="icon-right-open"></i>Services</a></li>
															</ul>
														</div>
														<div class="col-sm-4">
															<div class="divider"></div>
															<ul class="menu">
																<li><a href="page-contact.html"><i class="icon-right-open"></i>Contact</a></li>
																<li><a href="page-contact-2.html"><i class="icon-right-open"></i>Contact 2</a></li>
																<li><a href="page-coming-soon.html"><i class="icon-right-open"></i>Coming Soon Page</a></li>
																<li><a href="page-404.html"><i class="icon-right-open"></i>404 error</a></li>
																<li><a href="page-faq.html"><i class="icon-right-open"></i>FAQ page</a></li>
																<li><a href="page-affix-sidebar.html"><i class="icon-right-open"></i>Sidebar - Affix Menu</a></li>
															</ul>
														</div>
														<div class="col-sm-4">
															<div class="divider"></div>
															<ul class="menu">
																<li><a href="page-left-sidebar.html"><i class="icon-right-open"></i>Left Sidebar</a></li>
																<li><a href="page-right-sidebar.html"><i class="icon-right-open"></i>Right Sidebar</a></li>
																<li><a href="page-two-sidebars.html"><i class="icon-right-open"></i>Two Sidebars</a></li>
																<li><a href="page-no-sidebar.html"><i class="icon-right-open"></i>No Sidebars</a></li>
																<li><a href="page-sitemap.html"><i class="icon-right-open"></i>Sitemap</a></li>
																<li><a href="page-invoice.html"><i class="icon-right-open"></i>Invoice <span class="badge">v1.1</span></a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<!-- mega-menu end -->
								<!-- mega-menu start -->
								<li class="dropdown mega-menu" style="">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Components <b class="caret"> </b></a>
									<ul class="dropdown-menu">
										<li>
											<div class="row">
												<div class="col-sm-4 col-md-6">
													<h4>iDea - Powerful Bootstrap Theme</h4>
													<p>iDea is a Clean and Super Flexible Bootstrap Theme with many Features and Unlimited options.</p>
													<img src="images/section-image-1.png" alt="image-1">
												</div>
												<div class="col-sm-8 col-md-6">
													<h4>Components</h4>
													<div class="row">
														<div class="col-sm-6">
															<div class="divider"></div>
															<ul class="menu">
																<li><a href="components-tabs-and-pills.html"><i class="icon-right-open"></i>Tabs &amp; Pills</a></li>
																<li><a href="components-accordions.html"><i class="icon-right-open"></i>Accordions</a></li>
																<li><a href="components-social-icons.html"><i class="icon-right-open"></i>Social Icons</a></li>
																<li><a href="components-buttons.html"><i class="icon-right-open"></i>Buttons</a></li>
																<li><a href="components-forms.html"><i class="icon-right-open"></i>Forms</a></li>
																<li><a href="components-progress-bars.html"><i class="icon-right-open"></i>Progress bars</a></li>
																<li><a href="components-alerts-and-callouts.html"><i class="icon-right-open"></i>Alerts &amp; Callouts</a></li>
																<li><a href="components-content-sliders.html"><i class="icon-right-open"></i>Content Sliders</a></li>
															</ul>
														</div>
														<div class="col-sm-6">
															<div class="divider"></div>
															<ul class="menu">
																<li><a href="components-lightbox.html"><i class="icon-right-open"></i>Lightbox</a></li>
																<li><a href="components-icon-boxes.html"><i class="icon-right-open"></i>Icon Boxes</a></li>
																<li><a href="components-image-boxes.html"><i class="icon-right-open"></i>Image Boxes</a></li>
																<li><a href="components-video-and-audio.html"><i class="icon-right-open"></i>Video &amp; Audio</a></li>
																<li><a href="components-modals.html"><i class="icon-right-open"></i>Modals</a></li>
																<li><a href="components-animations.html"><i class="icon-right-open"></i>Animations</a></li>
																<li><a href="components-counters.html"><i class="icon-right-open"></i>Counters</a></li>
																<li><a href="components-tables.html"><i class="icon-right-open"></i>Tables</a></li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<!-- mega-menu end -->
								<li {if $tplName == 'about_us.html'}class="active"{/if}>
									<a href="about_us.php">เกี่ยวกับเรา</a>
								</li>
							</ul>
						</div>

					</div>
				</nav>

			</div>
			<div class="col-md-2">
				<!-- <ul class="list-inline shop-badge badge-lists badge-icons pull-right visible-md visible-lg">
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart"></i></a>
                            <span class="badge badge-sea rounded-x">3</span>
                            <ul class="list-unstyled badge-open mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" data-mcs-theme="minimal-dark" style="overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                                <li>
                                    <img src="assets/img/thumb/05.jpg" alt="" class="mCS_img_loaded">
                                    <button type="button" class="close">×</button>
                                    <div class="overflow-h">
                                        <span>Black Glasses</span>
                                        <small>1 x $400.00</small>
                                    </div>    
                                </li>
                                <li>
                                    <img src="assets/img/thumb/02.jpg" alt="" class="mCS_img_loaded">
                                    <button type="button" class="close">×</button>
                                    <div class="overflow-h">
                                        <span>Black Glasses</span>
                                        <small>1 x $400.00</small>
                                    </div>    
                                </li>
                                <li>
                                    <img src="assets/img/thumb/03.jpg" alt="" class="mCS_img_loaded">
                                    <button type="button" class="close">×</button>
                                    <div class="overflow-h">
                                        <span>Black Glasses</span>
                                        <small>1 x $400.00</small>
                                    </div>    
                                </li>
                                <li class="subtotal">
                                    <div class="overflow-h margin-bottom-10">
                                        <span>Subtotal</span>
                                        <span class="pull-right subtotal-cost">$1200.00</span>
                                    </div>
                                    <div class="row">    
                                        <div class="col-xs-6">
                                            <a href="shop-ui-inner.html" class="btn-u btn-brd btn-brd-hover btn-u-sea-shop btn-block">View Cart</a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="shop-ui-add-to-cart.html" class="btn-u btn-u-sea-shop btn-block">Checkout</a>
                                        </div>
                                    </div>        
                                </li>    
                            </div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px; display: block; height: 298px; max-height: 364px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></ul>
                        </li>
                    </ul> -->
			</div>
		</div>
	</div>
</header>