<!DOCTYPE html>
<html>
<head>
	<title>Abhaibhubajhr Day Spa</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {include file="../common/common_headericon_ws.html"}
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="inc/Flat-UI-master/dist/css/flat-ui.css">
    <link rel="stylesheet" href="css/fontFace.css">
    <link rel="stylesheet" href="inc/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="inc/jquery-mCustomScrollbar/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="css/spaMain.css">
    <link rel="stylesheet" href="css/header-v5.css">
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="inc/jquery-mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="inc/Flat-UI-master/dist/js/flat-ui.min.js"></script>
    <script src="inc/Flat-UI-master/docs/assets/js/application.js"></script>
    <script src="js/spaMain.js"></script>
</head>
<body class="header-fixed">
{include file="_header.html"}
<div class="page-wrapper">
	<div class="container headerOffset">
  <div class="row innerPage">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row userInfo">
        <div class="col-xs-12 col-sm-12">
          <h1 class="title-big text-center section-title-style2">
            <span>
              เกี่ยวกับเรา
            </span>
          </h1>
          
          <p class="lead text-center">
            <span id="spaname">{$spaData.spa_name}</span>
              <table align="center" id="descspa">
                <tr>
                  <td>ที่อยู่ : </td>
                  <td>{$spaData.spa_addr}</td>
                </tr>

                <tr>
                  <td>อีเมล : </td>
                  <td>{$spaData.spa_email}</td>
                </tr>

                <tr>
                  <td>โทรศัพท์ : </td>
                  <td>{$spaData.spa_tel}</td>
                </tr>

                <tr>
                  <td>โทรสาร : </td>
                  <td>{$spaData.spa_fax}</td>
                </tr>

                <tr>
                  <td>เปิดให้บริการ : </td>
                  <td>ทุกวันอังคาร - วันอาทิตย์ 08.30 - 20.00 น.</td>
                </tr>

                <tr>
                  <td colspan="2"><hr class="hr hr30"></td>
                </tr>
                <br>
                <tr>
                  <td colspan="2"><center><div class="shadowImg"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3870.3819902751416!2d101.39586855!3d14.054606300000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311c55ae99d1a417%3A0x44dcfbd861204696!2z4LmC4Lij4LiH4Lie4Lii4Liy4Lia4Liy4Lil4LmA4LiI4LmJ4Liy4Lie4Lij4Liw4Lii4Liy4Lit4Lig4Lix4Lii4Lig4Li54LmA4Lia4Lio4Lij!5e0!3m2!1sth!2sth!4v1433593765937" width="600" height="450" frameborder="0" style="border:0"></iframe></div></center></td>
                </tr>
              </table>
          </p>

          <hr class="hr hr30">
          <div class="row animated">
            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
              <img class="img-responsive shadowImg" src="img/aboutus/about1.png" alt="img">
              <h3 class="block-title-3 titleAbout">
                หลากหลายรายการบริการคุณภาพ
              </h3>
              <p class="descAbout">
                รายการบริการ และแพ็คเกจที่คัดสรรคมาเพื่อลูกค้าที่รักสุขภาพที่ดี ด้วยการให้บริการแบบสมัยใหม่และแพทย์แผนไทยใช้สมุนไทย
              </p>
              
              
              
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
              <img class="img-responsive shadowImg" src="img/aboutus/about2.png" alt="img">
              <h3 class="block-title-3 titleAbout">
                บริการประทับใจ 
              </h3>
              <p class="descAbout">
                ให้บริการด้วยใจ เป็นกันเอง เพื่อให้ลูกค้าได้ผ่อนคลายกับการทำสปาด้วยสมุนไพรไทย พร้อมอาหารและเครื่องดื่มที่อุดมไปด้วยคุณประโยชน์จากสมุนไพรไทย
              </p>
              
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
              <img class="img-responsive shadowImg" src="img/aboutus/about3.png" alt="img">
              <h3 class="block-title-3 titleAbout">
                สดชื่น ผ่อนคลายกับสถานที่ 
              </h3>
              <p class="descAbout">
                ตกแต่งด้วยความเรียบง่าย สบายตา น่าพักผ่อน ทำให้รู้สึกสดชื่น ผ่อนคลาย ลูกค้าจะได้รับสุขภาพที่ดีกลับบ้าน
              </p>
              
            </div>
            
            
            
          </div><!--/.row-->
          
          <hr>
        </div>
      </div>  <!--/row end-->
    </div>
  </div> <!--/.innerPage-->
  <div style="clear:both">  </div>

		
	</div>
</div>
{include file="_footer.html"}
</body>
</script>