<!DOCTYPE html>
<html>
<head>
	<title>Abhaibhubajhr Day Spa</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {include file="../common/common_headericon_ws.html"}
  {literal}
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="inc/Flat-UI-master/dist/css/flat-ui.css">
    <link rel="stylesheet" type="text/css" href="inc/datetimepicker/jquery.datetimepicker.css">
    <link rel="stylesheet" href="css/fontFace.css">
    <link rel="stylesheet" href="inc/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="inc/jquery-mCustomScrollbar/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="css/spaMain.css">
    <link rel="stylesheet" href="css/header-v5.css">
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="inc/jquery-mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script src="inc/Flat-UI-master/dist/js/flat-ui.min.js"></script>
    <script src="inc/Flat-UI-master/docs/assets/js/application.js"></script>
    <script src="js/spaMain.js"></script>
    <script src="js/spaMainForm.js"></script>
    <style type="text/css">
      #error-message {
        color: #C0392B;
        background: #FADBD8;
        padding: 10px;
        border-radius: 6px;
      }
    </style>
    <script type="text/javascript">
        var titleList = {/literal}{$titleList|@json_encode}{literal};

        $(document).ready(function() {
        $('#error-message').slideUp(0);

        $('#register-btn').click(function() {
          if(!checkRequiredInput()) {
            // No input error
            $.ajax({
              url: 'common/ajaxCustomerRegister.php',
              type: 'POST',
              data: {
                'formData' : $('#form-login').serialize()
              },
              success:
              function(response) {
                if(response == 'PASS') {
                  parent.showActionDialog({
                      title: 'สมัครสมาชิกเรียบร้อยแล้ว',
                      message: 'ขอบคุณสำหรับการสมัครสมาชิก ตอนนี้คุณสามารถเข้าสู่ระบบเพื่อทำการจองบริการต่างๆ ได้แล้ว',
                      actionList: [
                          {
                              id: 'ok',
                              name: 'เข้าสู่ระบบ',
                              func:
                              function() {
                                  parent.hideActionDialog();
                                  document.location.href = 'account_login.php';
                              }
                          }
                      ],
                      boxWidth: 400
                  });
                } else if(response == 'NOT_PASS') {
                  parent.showActionDialog({
                      title: 'เกิดข้อผิดพลาด',
                      message: 'เกิดข้อผิดพลาด การสมัครสมาชิกล้มเหลว',
                      actionList: [
                          {
                              id: 'ok',
                              name: 'ตกลง',
                              func:
                              function() {
                                  parent.hideActionDialog();
                              }
                          }
                      ],
                      boxWidth: 400
                  });
                }  else {
                  alert(response);
                }
              }
            });
          } else {
            // Has input error
            parent.showActionDialog({
                title: 'ข้อมูลไม่ถูกต้อง',
                message: 'คุณป้อนข้อมูลไม่ครบ หรือรูปแบบข้อมูลไม่ถูกต้อง โปรดตรวจสอบข้อความแจ้งเตือนและแก้ไขให้ถูกต้องด้วยค่ะ',
                actionList: [
                    {
                        id: 'ok',
                        name: 'ตกลง',
                        func:
                        function() {
                            parent.hideActionDialog();
                        }
                    }
                ],
                boxWidth: 400
            });
          }
          
        });

        $('#cus_email').focus(function() {
          $('#error-message').slideUp(0);
        });
        $('#cus_password').focus(function() {
          $('#error-message').slideUp(0);
        });

        $('#cus_birthdate').datetimepicker({
            lang                : 'th',
            format              : 'Y/m/d',
            timepicker          :false,
            closeOnDateSelect   :true,
            scrollInput         :false,
            yearOffset          :543,
            onSelectDate: 
            function(){
              $('#birthday').blur();
            },
            onShow:function( ct ){
                this.setOptions({
                    maxDate:realDateToTmpDate('{/literal}{$nowDate}{literal}')
                })
            },
            timepicker:false
        });

        $('#title_id').change(function() {
          setSexId();
        });
        setSexId();

        $('#cus_pass').focusout(function() {
          checkEqualPassword();
        });
        $('#comfirm_pasword').focusout(function() {
          checkEqualPassword();
        });
      });

      function checkEqualPassword() {
        setTimeout(function() {
          if($('#cus_pass').val() != '' && $('#comfirm_pasword').val() != '' && 
            $('#cus_pass').val() != $('#comfirm_pasword').val()) {
            $('#err-comfirm_pasword-notEqual').css('display', 'block');
            $('#comfirm_pasword').addClass('has-error');
          }
        }, 10);
      }

      function setSexId() {
        var sexData = getSexOfTitle($('#title_id').val());
        if(sexData != null) {
          $('#s2id_sex_id .select2-chosen').text(sexData.sex_name);
          $('#sex_id').val(sexData.sex_id);
          $('#sex_id').prop('disabled', true);
        } else {
          $('#sex_id').prop('disabled', false);
        }
      }

      function getSexOfTitle(titleId) {
        for(i in titleList) {
          if(titleId == i && titleList[i].sex_id != '') {
            return {sex_id: titleList[i].sex_id, sex_name: titleList[i].sex_name};
          }
        }
        return null;
      }
    </script>
    {/literal}
</head>
<body class="header-fixed">
{include file="_header.html"}
<div class="page-wrapper">
  <div class="container headerOffset">
    <div class="row">
      <div class="breadcrumbDiv col-md-12 col-lg-12">
        <ul class="breadcrumb">
              <li><a href="index.php"><span class="fui-home"></span> หน้าแรก</a></li>
              <li class="active">สมัครสมาชิก</li>
           </ul>
      </div>
    </div>
    <div class="row">
  
    <div class="col-lg-12 col-md-12 col-sm-7">
      <h1 class="section-title-inner"><span><i class="fa fa-user"></i> สมัครสมาชิก</span></h1>
      <form id="form-login" role="form" class="logForm" onsubmit="return false;">
      <div class="row userInfo">
        <div class="col-xs-12 col-md-6">
          <h2 class="block-title-2"><span>สมัครสมาชิกเพื่อทำการจองรายการบริการและแพ็คเกจ</span></h2>
          <span id="error-message"></span>
            <div class="form-group">
              
              <label class="input-required">คำนำหน้าชื่อ</label>
              <select id="title_id" class="form-control select select-primary" data-toggle="select" name="title_id">
                {foreach from=$titleList key=i item=title}
                  <option value="{$title.title_id}">{$title.title_name}</option>
                {/foreach}
              </select>

              <label>เพศ</label>
              <select id="sex_id" class="form-control select select-primary" data-toggle="select" name="sex_id">
                {foreach from=$sexList key=i item=sex}
                  <option value="{$sex.sex_id}" >{$sex.sex_name}</option>
                {/foreach}
              </select>

              <label class="input-required">ชื่อ</label>
              <input id="cus_name" name="cus_name" type="text" class="form-control" placeholder="Enter your name" require valuepattern="character">
              <span id="err-cus_name-require" class="errInputMsg err-cus_name">โปรดป้อนชื่อ</span>
              <span id="err-cus_name-character" class="errInputMsg err-cus_name">โปรดกรอกตัวอักษรภาษาไทย หรือตัวอักษรภาษาอังกฤษเท่านั้น</span>
             
              <label class="input-required">นามสกุล</label>
              <input id="cus_surname" name="cus_surname" type="text" class="form-control" placeholder="Enter your surname" require valuepattern="character">
              <span id="err-cus_surname-require" class="errInputMsg err-cus_surname">โปรดป้อนนามสกุล</span>
              <span id="err-cus_surname-character" class="errInputMsg err-cus_surname">โปรดกรอกตัวอักษรภาษาไทย หรือตัวอักษรภาษาอังกฤษเท่านั้น</span>
              
              <label class="input-required">ที่อยู่</label>
              <input id="cus_addr" name="cus_addr" type="text" class="form-control" placeholder="Enter your address" require>
              <span id="err-cus_addr-require" class="errInputMsg err-cus_addr">โปรดป้อนที่อยู่</span>
              
              <label class="input-required">เบอร์โทรศัพท์</label>
              <input id="cus_tel" name="cus_tel" type="text" class="form-control" placeholder="Enter your telephone number" require valuepattern="tel" maxlength="10">
              <span id="err-cus_tel-require" class="errInputMsg err-cus_tel">โปรดป้อนเบอร์โทรศัพท์</span>
              <span id="err-cus_tel-tel" class="errInputMsg half err-cus_tel">โปรดกรอกเบอร์โทรเป็นตัวเลข 10 หลัก</span>

              <label>วันเกิด</label>
              <input id="cus_birthdate" name="cus_birthdate" type="text" class="form-control mbk-dtp-th" placeholder="Enter your birthday" value="{$birthday}">

               <label>Facebook(Link)</label>
              <input id="cus_facebook" name="cus_facebook" type="text" class="form-control" placeholder="Enter your Facebook link">

               <label>Line(ID)</label>
              <input id="cus_line" name="cus_line" type="text" class="form-control" placeholder="Enter your Line ID">
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <h2 class="block-title-2"> ข้อมูลการเข้าสู่ระบบ </h2>
              <label class="input-required">Username(Email Address)</label>
              <input id="cus_email" name="cus_email" type="email" class="form-control" placeholder="Enter email address" require valuepattern="email">
              <span id="err-cus_email-require" class="errInputMsg err-cus_email">โปรดป้อนอีเมล</span>
              <span id="err-cus_email-email" class="errInputMsg err-cus_email">รูปแบบอีเมลไม่ถูกต้องค่ะ</span>

              <label class="input-required">Password</label>
              <input id="cus_pass" name="cus_pass" type="password" class="form-control" placeholder="Enter password" require>
              <span id="err-cus_pass-require" class="errInputMsg err-cus_pass">โปรดป้อนรหัสผ่าน</span>

              <label class="input-required">Confirm Password</label>
              <input id="comfirm_pasword" name="comfirm_pasword" type="password" class="form-control" placeholder="Enter confirm password " require>
              <span id="err-comfirm_pasword-require" class="errInputMsg err-comfirm_pasword">โปรดป้อนรหัสผ่านอีกครั้ง</span>
              <span id="err-comfirm_pasword-notEqual" class="errInputMsg err-comfirm_pasword">โปรดป้อนรหัสผ่านให้ตรงกันค่ะ</span>

              <hr class="hr hr30">
              <button id="register-btn" class="btn btn-primary btn-lg btn-block" type="submit"><i class="fa fa-sign-in"></i> สมัครสมาชิก</button>
            </div>
          </form>
        </div>
      </div>
      <!--/row end--> 
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5"> </div>
  </div>	
  </div>
</div>
{include file="_footer.html"}
</body>
</script>