<!DOCTYPE html>
<html>
<head>
	<title>Abhaibhubajhr Day Spa</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {include file="../common/common_headericon_ws.html"}
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="inc/Flat-UI-master/dist/css/flat-ui.css">
    <link rel="stylesheet" href="css/fontFace.css">
    <link rel="stylesheet" href="inc/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="inc/jquery-mCustomScrollbar/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="css/header-v5.css">
    <link rel="stylesheet" href="css/spaMain.css">
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="inc/jquery-mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="inc/Flat-UI-master/dist/js/flat-ui.min.js"></script>
    <script src="inc/Flat-UI-master/docs/assets/js/application.js"></script>
    <script src="js/spaMain.js"></script>
</head>
<body class="header-fixed">
{include file="_header.html"}
<div class="page-wrapper">
    <div class="container headerOffset">
        <div class="row">
          <div class="breadcrumbDiv col-md-12 col-lg-12">
            <ul class="breadcrumb">
                  <li><a href="index.php"><i class="fa fa-home"></i> หน้าแรก</a></li>
                  <li><a href="myaccount.php">บัญชีของฉัน</a></li>
                  <li class="active">ประวัติการจอง</li>
               </ul>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
              <h1 class="section-title-inner"><span><i class="fa fa-calendar"></i> ประวัติการจอง </span></h1>
                <div class="row userInfo">
                  <div class="col-lg-12">
                    <h2 class="block-title-2"> ประวัติการจองของคุณ  </h2>
                  </div>
        
                  <div class="col-xs-12 col-sm-12">
                    <table class="bkgHistory-table">
                      <thead>
                        <tr>
                          <th>
                            {if $sort == 'ID_ASC'}
                            <a href="booking_history.php?sort=ID_DESC&page={$foo}&itemDisplay={$itemDisplay}" class="header-sorter-asc">รหัสการจอง</a>
                            {elseif $sort == 'ID_DESC'}
                            <a href="booking_history.php?sort=ID_ASC&page={$foo}&itemDisplay={$itemDisplay}" class="header-sorter-desc">รหัสการจอง</a>
                            {else}
                            <a href="booking_history.php?sort=ID_DESC&page={$foo}&itemDisplay={$itemDisplay}">รหัสการจอง</a>
                            {/if}
                          </th>
                          <th>
                            {if $sort == 'PRICE_ASC'}
                            <a href="booking_history.php?sort=PRICE_DESC&page={$foo}&itemDisplay={$itemDisplay}" class="header-sorter-asc">ราคาสุทธิ</a>
                            {elseif $sort == 'PRICE_DESC'}
                            <a href="booking_history.php?sort=PRICE_ASC&page={$foo}&itemDisplay={$itemDisplay}" class="header-sorter-desc">ราคาสุทธิ</a>
                            {else}
                            <a href="booking_history.php?sort=PRICE_DESC&page={$foo}&itemDisplay={$itemDisplay}">ราคาสุทธิ</a>
                            {/if}
                          </th>
                          <th>
                            {if $sort == 'DATE_ASC'}
                            <a href="booking_history.php?sort=DATE_DESC&page={$foo}&itemDisplay={$itemDisplay}" class="header-sorter-asc">วันที่จอง</a>
                            {elseif $sort == 'DATE_DESC'}
                            <a href="booking_history.php?sort=DATE_ASC&page={$foo}&itemDisplay={$itemDisplay}" class="header-sorter-desc">วันที่จอง</a>
                            {else}
                            <a href="booking_history.php?sort=DATE_DESC&page={$foo}&itemDisplay={$itemDisplay}">วันที่จอง</a>
                            {/if}
                          </th>
                          <th>เวลาที่จอง</th>
                          <th>
                            {if $sort == 'STATUS_ASC'}
                            <a href="booking_history.php?sort=STATUS_DESC&page={$foo}&itemDisplay={$itemDisplay}" class="header-sorter-asc">สถานะ</a>
                            {elseif $sort == 'STATUS_DESC'}
                            <a href="booking_history.php?sort=STATUS_ASC&page={$foo}&itemDisplay={$itemDisplay}" class="header-sorter-desc">สถานะ</a>
                            {else}
                            <a href="booking_history.php?sort=STATUS_ASC&page={$foo}&itemDisplay={$itemDisplay}">สถานะ</a>
                            {/if}
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        {foreach from=$bkgList key=i item=bkg}
                        <tr>
                          <td><a href="booking_detail.php?bkg_id={$bkg.bkg_id}" style="text-decoration: underline;">{$bkg.bkg_id}</a></td>
                          <td>{$bkg.bkg_total_price|number_format:2:".":","} บาท</td>
                          <td>{$bkg.bkg_date_th}</td>
                          <td>{$bkg.bkg_time} น.</td>
                          <td>
                            {if $bkg.status_id == 'S02'}
                              <span class="statusHL statusHL-darkYellow">{$bkg.bkgstat_name}</span>
                            {else if $bkg.status_id == 'S03'}
                              <span class="statusHL statusHL-blue">{$bkg.bkgstat_name}</span>
                            {else if $bkg.status_id == 'S04'}
                              <span class="statusHL statusHL-lightGreen">{$bkg.bkgstat_name}</span>
                            {else if $bkg.status_id == 'S05'}
                              <span class="statusHL statusHL-green">{$bkg.bkgstat_name}</span>
                            {else if $bkg.status_id == 'S06'}
                              <span class="statusHL statusHL-red">{$bkg.bkgstat_name}</span>
                            {else if $bkg.status_id == 'S07'}
                              <span class="statusHL statusHL-yellow">{$bkg.bkgstat_name}</span>
                            {else}
                              <span class="statusHL statusHL-gray">{$bkg.bkgstat_name}</span>
                            {/if}
                          </td>
                        </tr>
                        {/foreach}
                      </tbody>
                    </table>
                  </div>
                    <div class="col-xs-12 clearfix">
                      <div class="productList-footer">
                        {if $allPage > 1}
                        <div class="pagination pull-left">
                            <ul>
                              <li class="previous"><a href="{$prevPageLink}" class="fui-arrow-left"></a></li>
                                {for $foo=1 to $allPage}
                                  {if $foo == $page}
                                  <li class="active"><a href="booking_history.php?sort={$sort}&page={$foo}&itemDisplay={$itemDisplay}">{$foo}</a></li>
                                  {else}
                                  <li><a href="booking_history.php?sort={$sort}&page={$foo}&itemDisplay={$itemDisplay}">{$foo}</a></li>
                                  {/if}
                        {/for}
                                <li class="next"><a href="{$nextPageLink}" class="fui-arrow-right"></a></li>
                            </ul>
                        </div>
                        {/if}
                        <div class="pull-right">
                          แสดงรายการที่ {$startPage}{if $endPage}–{$endPage}{/if} จากทั้งหมด {$allRecord} รายการ
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 clearfix">
                      <ul class="pageBtnList">
                        <li class="next pull-left"><a href="myaccount.php"><i class="fa fa-long-arrow-left"></i> กลับไปยังบัญชีของฉัน</a></li>
                        <li class="next pull-right"><a href="index.php"><i class="fa fa-home"></i> ทำการจองต่อ</a></li>
                      </ul>
                    </div>
                  </div>
                  <!--/row end--> 
      
          </div>
        </div>
    </div>
</div>
{include file="_footer.html"}
</body>
</html>