<!DOCTYPE html>
<html>
<head>
	<title>Abhaibhubajhr Day Spa</title>
	<meta charset="utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/spaMain.css">
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<header>
	<nav class="navbar navbar-default">
	  	<div class="container-fluid">
	    	<!-- <div class="navbar-header">
	      		<a class="navbar-brand" href="#">Abhaibhubajhr Day Spa</a>
	    	</div> -->
	    	<!-- <img src="img/backoffice/logo-back-office.png"> -->
	    	<div>
	      		<ul class="nav navbar-nav">
	        		<li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>หน้าแรก</a></li>
	        		<li><a href="#">รายการสปา</a></li>
			    	<li><a href="#">แพ็คเกจสปา</a></li>
			    	<li><a href="#">โปรโมชั่น</a></li>
			    	<li><a href="#">บริการลูกค้า</a></li>
			    	<li><a href="#">ขั้นตอนการจอง</a></li>
			    	<li><a href="#">เกี่ยวกับเรา</a></li> 
	     	 	</ul>
	    	</div>
	  	</div>
	</nav>
</header>	

<div class="container">
  	<div class="mainheader">
	    <h1>อภัยภูเบศร เดย์ สปา</h1>      
	    <p>ยินดีต้อนรับสู่การทำสปาบำบัดด้วยสมุนไพรไทย สบาย ผ่อนคลาย เพื่อสุขภาพและผิวพรรณที่สดใส</p>
	</div>  
</div>

</body>
</html>