<!DOCTYPE html>
<html>
<head>
	<title>Abhaibhubajhr Day Spa</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="inc/Flat-UI-master/dist/css/flat-ui.css">
    <link rel="stylesheet" href="css/fontFace.css">
    <link rel="stylesheet" href="inc/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="inc/jquery-mCustomScrollbar/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="css/spaMain.css">
    <link rel="stylesheet" href="css/header-v5.css">
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="inc/jquery-mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="inc/Flat-UI-master/dist/js/flat-ui.min.js"></script>
    <script src="inc/Flat-UI-master/docs/assets/js/application.js"></script>
    <script src="js/spaMain.js"></script>
</head>
<body class="header-fixed">
{include file="_header.html"}
<div class="page-wrapper">
	<div class="testSlide" style="background-image:url('img/testSlide.jpeg')"></div>
	<div class="container">
		<div class="row">
			<div class="top-product">
				<div class="col-sm-6">
			    	<h2 class="section-title">
			    		<span>รายการบริการยอดนิยม</span>
			    	</h2>
			        <div class="thumb-product">
			        	<div class="thumb-product-img" style="background-image:url('img/service_lists/SL001.jpeg')"></div>
	                    <div class="thumb-product-in">
	                        <h4><a href="shop-ui-inner.html">นวดน้ำมันอโรม่า</a></h4>
	                        <span class="thumb-product-type">Footwear - Oxfords</span>
	                    </div>
	                    <ul class="list-inline overflow-h">
	                        <li class="thumb-product-price line-through">$75.00</li>
	                        <li class="thumb-product-price">$65.00</li>
	                        <li class="thumb-product-purchase">
	                        	<a href="#" title="หยิบใส่ตระกร้า">
	                        		<i class="fa fa-shopping-cart"></i>
	                        	</a>
	                        </li>
	                    </ul>    
	                </div>
	                <div class="thumb-product">
			        	<div class="thumb-product-img" style="background-image:url('img/service_lists/SL002.jpeg')"></div>
	                    <div class="thumb-product-in">
	                        <h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
	                        <span class="thumb-product-type">Footwear - Oxfords</span>
	                    </div>
	                    <ul class="list-inline overflow-h">
	                        <li class="thumb-product-price line-through">$75.00</li>
	                        <li class="thumb-product-price">$65.00</li>
	                        <li class="thumb-product-purchase">
	                        	<a href="#" title="หยิบใส่ตระกร้า">
	                        		<i class="fa fa-shopping-cart"></i>
	                        	</a>
	                        </li>
	                    </ul>    
	                </div>
	                <div class="thumb-product">
			        	<div class="thumb-product-img" style="background-image:url('img/service_lists/SL003.jpeg')"></div>
	                    <div class="thumb-product-in">
	                        <h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
	                        <span class="thumb-product-type">Footwear - Oxfords</span>
	                    </div>
	                    <ul class="list-inline overflow-h">
	                        <li class="thumb-product-price line-through">$75.00</li>
	                        <li class="thumb-product-price">$65.00</li>
	                        <li class="thumb-product-purchase">
	                        	<a href="#" title="หยิบใส่ตระกร้า">
	                        		<i class="fa fa-shopping-cart"></i>
	                        	</a>
	                        </li>
	                    </ul>    
	                </div>
			    </div>
			    <div class="col-sm-6">
			    	<h2 class="section-title">
			    		<span>แพ็คเกจยอดนิยม</span>
			    	</h2>
			        <div class="thumb-product">
			        	<div class="thumb-product-img" style="background-image:url('img/service_lists/SL004.jpeg')"></div>
	                    <div class="thumb-product-in">
	                        <h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
	                        <span class="thumb-product-type">Footwear - Oxfords</span>
	                    </div>
	                    <ul class="list-inline overflow-h">
	                        <li class="thumb-product-price line-through">$75.00</li>
	                        <li class="thumb-product-price">$65.00</li>
	                        <li class="thumb-product-purchase">
	                        	<a href="#" title="หยิบใส่ตระกร้า">
	                        		<i class="fa fa-shopping-cart"></i>
	                        	</a>
	                        </li>
	                    </ul>    
	                </div>
	                <div class="thumb-product">
			        	<div class="thumb-product-img" style="background-image:url('img/service_lists/SL005.jpeg')"></div>
	                    <div class="thumb-product-in">
	                        <h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
	                        <span class="thumb-product-type">Footwear - Oxfords</span>
	                    </div>
	                    <ul class="list-inline overflow-h">
	                        <li class="thumb-product-price line-through">$75.00</li>
	                        <li class="thumb-product-price">$65.00</li>
	                        <li class="thumb-product-purchase">
	                        	<a href="#" title="หยิบใส่ตระกร้า">
	                        		<i class="fa fa-shopping-cart"></i>
	                        	</a>
	                        </li>
	                    </ul>    
	                </div>
	                <div class="thumb-product">
			        	<div class="thumb-product-img" style="background-image:url('img/service_lists/SL006.jpeg')"></div>
	                    <div class="thumb-product-in">
	                        <h4><a href="shop-ui-inner.html">Yuketen</a> – <a href="shop-ui-inner.html">Derby Shoe</a></h4>
	                        <span class="thumb-product-type">Footwear - Oxfords</span>
	                    </div>
	                    <ul class="list-inline overflow-h">
	                        <li class="thumb-product-price line-through">$75.00</li>
	                        <li class="thumb-product-price">$65.00</li>
	                        <li class="thumb-product-purchase">
	                        	<a href="#" title="หยิบใส่ตระกร้า">
	                        		<i class="fa fa-shopping-cart"></i>
	                        	</a>
	                        </li>
	                    </ul>    
	                </div>
			    </div>
			</div>
		</div>
	</div>
</div>
{include file="_footer.html"}
</body>
</html>