<!DOCTYPE html>
<html>
<head>
	<title>Abhaibhubajhr Day Spa</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {include file="../common/common_headericon_ws.html"}
  {literal}
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="inc/Flat-UI-master/dist/css/flat-ui.css">
    <link rel="stylesheet" type="text/css" href="inc/datetimepicker/jquery.datetimepicker.css">
    <link rel="stylesheet" href="css/fontFace.css">
    <link rel="stylesheet" href="inc/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="inc/jquery-mCustomScrollbar/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="css/spaMain.css">
    <link rel="stylesheet" href="css/header-v5.css">
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="inc/jquery-mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script src="inc/Flat-UI-master/dist/js/flat-ui.min.js"></script>
    <script src="inc/Flat-UI-master/docs/assets/js/application.js"></script>
    <script src="js/spaMain.js"></script>
    <script src="js/spaMainForm.js"></script>
    <style type="text/css">
      #error-message {
        color: #C0392B;
        background: #FADBD8;
        padding: 10px;
        border-radius: 6px;
      }
    </style>
    <script type="text/javascript">
        var titleList = {/literal}{$titleList|@json_encode}{literal};

        $(document).ready(function() {
        $('#error-message').slideUp(0);

        $('#register-btn').click(function() {
          if(!checkRequiredInput()) {
            // No input error
            $.ajax({
              url: 'common/ajaxCustomerRegister.php',
              type: 'POST',
              data: {
                'formData' : $('#form-login').serialize()
              },
              success:
              function(response) {
                if(response == 'PASS') {
                  parent.showActionDialog({
                      title: 'สมัครสมาชิกเรียบร้อยแล้ว',
                      message: 'ขอบคุณสำหรับการสมัครสมาชิก ตอนนี้คุณสามารถเข้าสู่ระบบเพื่อทำการจองบริการต่างๆ ได้แล้ว',
                      actionList: [
                          {
                              id: 'ok',
                              name: 'เข้าสู่ระบบ',
                              func:
                              function() {
                                  parent.hideActionDialog();
                                  document.location.href = 'account_login.php';
                              }
                          }
                      ],
                      boxWidth: 400
                  });
                } else if(response == 'NOT_PASS') {
                  parent.showActionDialog({
                      title: 'เกิดข้อผิดพลาด',
                      message: 'เกิดข้อผิดพลาด การสมัครสมาชิกล้มเหลว',
                      actionList: [
                          {
                              id: 'ok',
                              name: 'ตกลง',
                              func:
                              function() {
                                  parent.hideActionDialog();
                              }
                          }
                      ],
                      boxWidth: 400
                  });
                }  else {
                  alert(response);
                }
              }
            });
          } else {
            // Has input error
            parent.showActionDialog({
                title: 'ข้อมูลไม่ถูกต้อง',
                message: 'คุณป้อนข้อมูลไม่ครบ หรือรูปแบบข้อมูลไม่ถูกต้อง โปรดตรวจสอบข้อความแจ้งเตือนและแก้ไขให้ถูกต้องด้วยค่ะ',
                actionList: [
                    {
                        id: 'ok',
                        name: 'ตกลง',
                        func:
                        function() {
                            parent.hideActionDialog();
                        }
                    }
                ],
                boxWidth: 400
            });
          }
          
        });

        $('#cus_email').focus(function() {
          $('#error-message').slideUp(0);
        });
        $('#cus_password').focus(function() {
          $('#error-message').slideUp(0);
        });

        $('#cus_birthdate').datetimepicker({
            lang                : 'th',
            format              : 'Y/m/d',
            timepicker          :false,
            closeOnDateSelect   :true,
            scrollInput         :false,
            yearOffset          :543,
            onSelectDate: 
            function(){
              $('#birthday').blur();
            },
            onShow:function( ct ){
                this.setOptions({
                    maxDate:realDateToTmpDate('{/literal}{$nowDate}{literal}')
                })
            },
            timepicker:false
        });

        $('#title_id').change(function() {
          setSexId();
        });
        setSexId();

        $('#cus_pass').focusout(function() {
          checkEqualPassword();
        });
        $('#comfirm_pasword').focusout(function() {
          checkEqualPassword();
        });
      });

      function checkEqualPassword() {
        setTimeout(function() {
          if($('#cus_pass').val() != '' && $('#comfirm_pasword').val() != '' && 
            $('#cus_pass').val() != $('#comfirm_pasword').val()) {
            $('#err-comfirm_pasword-notEqual').css('display', 'block');
            $('#comfirm_pasword').addClass('has-error');
          }
        }, 10);
      }

      function setSexId() {
        var sexData = getSexOfTitle($('#title_id').val());
        if(sexData != null) {
          $('#s2id_sex_id .select2-chosen').text(sexData.sex_name);
          $('#sex_id').val(sexData.sex_id);
          $('#sex_id').prop('disabled', true);
        } else {
          $('#sex_id').prop('disabled', false);
        }
      }

      function getSexOfTitle(titleId) {
        for(i in titleList) {
          if(titleId == i && titleList[i].sex_id != '') {
            return {sex_id: titleList[i].sex_id, sex_name: titleList[i].sex_name};
          }
        }
        return null;
      }
    </script>
    {/literal}
</head>
<body class="header-fixed">
{include file="_header.html"}
<div class="page-wrapper">
  <div class="container headerOffset">
    <div class="row">
      <div class="breadcrumbDiv col-md-12 col-lg-12">
        <ul class="breadcrumb">
              <li><a href="index.php"><span class="fui-home"></span> หน้าแรก</a></li>
              <li class="active">บัญชีของฉัน</li>
           </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-7">
        <h1 class="section-title-inner"><span><i class="fa fa-unlock-alt"></i> บัญชีของฉัน</span></h1>
        <h2 class="block-title-2"><span>ยินดีต้อนรับสู่บัญชีของคุณ คุณสามารถจัดการข้อมูลส่วนตัว และดูประวัติการจองของคุณได้</span></h2>
        <ul class="myAccountList row">
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
              <div class="thumbnail equalheight" style="height: 116px;"> <a title="Orders" href="booking_history.php"><i class="fa fa-calendar"></i> ประวัติการจอง </a> </div>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
              <div class="thumbnail equalheight" style="height: 116px;"> <a title="Personal information" href="updateAccount.php"><i class="fa fa-cog"></i> ข้อมูลส่วนตัว</a> </div>
            </li>
            <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4  text-center ">
              <div class="thumbnail equalheight" style="height: 116px;"> <a title="Reset password" href="resetPassword.php"><i class="fa fa-lock"></i> เปลี่ยนรหัสผ่าน</a> </div>
            </li>
          </ul>
      </div>
    </div>
    <!--/row end--> 
  </div>
</div>	
{include file="_footer.html"}
</body>
</script>