<!DOCTYPE html>
<html>
<head>
	<title>Abhaibhubajhr Day Spa</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{literal}
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="inc/Flat-UI-master/dist/css/flat-ui.css">
    <link rel="stylesheet" type="text/css" href="inc/datetimepicker/jquery.datetimepicker.css">
    <link rel="stylesheet" href="css/fontFace.css">
    <link rel="stylesheet" href="inc/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="inc/jquery-mCustomScrollbar/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="css/spaMain.css">
    <link rel="stylesheet" href="css/header-v5.css">
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="inc/jquery-mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script src="inc/Flat-UI-master/dist/js/flat-ui.min.js"></script>
    <script src="inc/Flat-UI-master/docs/assets/js/application.js"></script>
    <script src="js/spaMain.js"></script>
    <script src="js/shop.js"></script>
    <style type="text/css">
    .bkgempCont, .bkgempErrCont {
    	display: none;
    }
    </style>
    <script type="text/javascript">
    $(document).ready(function() {
    	$('#bkg_date').datetimepicker({
            lang                : 'th',
            format              : 'Y/m/d',
            timepicker          :false,
            closeOnDateSelect   :true,
            scrollInput         :false,
            yearOffset          :543,
            onSelectDate: 
            function(){
              $('#bkg_date').blur();
            },
            onShow:function( ct ){
                this.setOptions({
                    minDate:realDateToTmpDate('{/literal}{$nowDate}{literal}')
                })
            },
            timepicker:false
        });
        $('#addToCartBtn').click(function() {
        	// Skip
        	if($('.bkgempErrCont').css('display') != 'none') {
        		alert('ขออภัยค่ะ ไม่มีพนักงานที่สามารถให้บริการได้ในวันเวลาดังกล่าว');
        		return;
        	}

        	$.ajax({
        		url: 'addSvlToCart.php',
        		type: 'POST',
        		data: {
        			svl_id: $('#svl_id').val(),
        			persons: $('#persons').val(),
        			bkg_date: getRealDate($('#bkg_date').val()),
        			bkg_time: $('#bkg_time').val(),
        			svl_picture: '{/literal}{$prdData.svl_picture}{literal}',
        			svl_name: '{/literal}{$prdData.svl_name}{literal}',
        			svl_price: $('input[name="realPrice"]').val(),
        			bkgemp_id: $('#bkgemp_id').val(),
        			bkgemp_fullname: $('#s2id_bkgemp_id .select2-chosen').text()
        		},
        		success:
        		function(response) {
        			if(response == 'PASS') {
        				$('#persons_text').text($('#persons').val() + ' คน');
        				$('#bkg_date_text').text($('#bkg_date').val());
        				$('#bkg_time_text').text($('#bkg_time').val() + ' น.');
        				$('#bkgemp_id_text').text($('#s2id_bkgemp_id .select2-chosen').text());
        				$('.sectionContainer').fadeOut(500);
        				$('.action-control').fadeOut(500);
        				setTimeout(function() {
        					$('.addCartSuccess').slideDown(500);
        				}, 500);
        			} else if(response == 'FAIL') {
        				alert('เกิดข้อผิดพลาด!');
        			} else {
        				alert(response);
        			}
        		}
        	});
        });

		// Check for display booking employee
		$('#bkg_date').focusout(checkForShowBkgEmp);
		$('#persons').change(checkForShowBkgEmp);
		$('#bkg_time').change(checkForShowBkgEmp);
    });

	function checkForShowBkgEmp() {
		var persons = parseInt($('#persons').val());
		var date = $('#bkg_date').val();
		var time = $('#bkg_time').val();
		if(isDateThaiFormat(date)) {
			date = getRealDate(date);
		} else if(isDateFormat(date)) {
			date = tmpDateToRealDate(date);
		}
		if(persons == 1 && isDateFormat(date) && date != '' && time != '') {
			pullBkgEmp({
				success:
				function() {
					$('.bkgempErrCont').fadeOut();
					$('.bkgempCont').slideDown();
				}
			});
		} else {
			$('.bkgempCont').slideUp();
			$('#bkgemp_id').val('');
			$('#s2id_bkgemp_id .select2-chosen').text('ไม่ระบุ');
		}
	}

	function pullBkgEmp(data) {
		var allMin = {/literal}{$prdData.allMin}{literal};
		var date = $('#bkg_date').val();
		var time = $('#bkg_time').val();
		var timeEnd = addMinutes(time, allMin);
		if(isDateThaiFormat(date)) {
			date = getRealDate(date);
		} else if(isDateFormat(date)) {
			date = tmpDateToRealDate(date);
		}

		$.ajax({
	        url: 'common/ajaxPullEmpIdOfBooking.php',
	        type: 'POST',
	        data: {
	            date: date,
	            time: time,
	            timeEnd: timeEnd
	        },
	        success:
	        function(responseJSON) {
	            var response = $.parseJSON(responseJSON);
	            if(response.status == 'PASS') {
	                // Add options
	                var empIdListHTML = '<option value="">ไม่ระบุ</option>';
	                for(i in response.returnEmpId) {
	                    empIdListHTML  += '<option value="' + response.returnEmpId[i].emp_id + '">'
	                    				+ response.returnEmpId[i].fullName
	                                    + '</option>';
	                }
	                $('#bkgemp_id').html(empIdListHTML);

	                if(typeof(data.success) == 'function') {
		                data.success(); // calback
		            }
	            } else if(response.status == 'EMPTY') {
	                // data.empInput.parent().parent().find('.bkgemp_col').css('display','none');
	                // data.empInput.find('.selectReferenceJS-text').text('ไม่ระบุ');
	                // data.empInput.find('.selectReferenceJS-input').val('');
	                // data.empInput.parent().parent().find('.err-bkgemp-require').css('display','inline');
	                $('.bkgempCont').slideUp();
					$('#bkgemp_id').val('');
					$('#s2id_bkgemp_id .select2-chosen').text('ไม่ระบุ');
	                $('.bkgempErrCont').fadeIn();
	            } else {
	                alert(response.status);
	            }
	        }
	    });
	}

	function addMinutes(time, addMin) {
	    var now = new Date();
	    var date = new Date(now.getMonth()+ '/' +now.getDate()+ '/' +now.getFullYear() + ' ' + time + ':00');
	    if(addMin > 0) {
	        var after = new Date(date.getTime() + addMin*60000);
	    } else {
	        var after = date;
	    }
	    return after.getHours() + ':' + (after.getMinutes()<10?'0':'') + after.getMinutes();
	}
    </script>
    {/literal}
</head>
<body class="header-fixed">
{include file="_header.html"}
<div class="page-wrapper">
	<div class="container headerOffset">
		<div class="row">
			<div class="breadcrumbDiv col-md-12 col-lg-12">
				<ul class="breadcrumb">
			        <li><a href="index.php"><span class="fui-home"></span> หน้าแรก</a></li>
			        <li><a href="shop_service_lists.php">รายการบริการ</a></li>
			        <li class="active">{$prdData.svl_name}</li>
			     </ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-6">
				<div class="product-image">
					<img src="img/service_lists/{$prdData.svl_picture}" class="img-responsive" alt="{$prdData.svl_name}">
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-md-6">
				<h1 class="product-title">{$prdData.svl_name}</h1>
				<h3 class="product-type">ประเภท : {$prdData.svltyp_name}</h3>
				<div class="product-price"> 
					{if $prdData.svl_prmPrice}
						<span class="price-sales">{$prdData.svl_prmPrice|number_format:2:".":","} บาท</span> 
			        	<span class="price-standard">{$prdData.svl_price|number_format:2:".":","} บาท</span> 
			        	<input type="hidden" name="realPrice" value="{$prdData.svl_prmPrice}">
					{else}
						<span class="price-sales">{$prdData.svl_price|number_format:2:".":","} บาท</span> 
						<input type="hidden" name="realPrice" value="{$prdData.svl_price}">
					{/if}
			    </div>
			    <div class="product-time">
			    	<i class="fa fa-clock-o"></i> 
			    	{if $prdData.svl_hr > 0 || $prdData.svl_min > 0}
			    		{if $prdData.svl_hr > 0}
			    			{$prdData.svl_hr} ชั่วโมง
			    		{/if}
			    		{if $prdData.svl_min > 0}
			    			{$prdData.svl_min} นาที
			    		{/if}
			    	{else}
			    	-
			    	{/if}
			    </div>
			    <div class="product-desc">
			    	<p>{$prdData.svl_desc}</p>
			    </div>
			    <div class="sectionContainer">
			    	<div class="row">
			    		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			    			<div class="form-group">
			    				<label class="input-required">จำนวนผู้ใช้บริการ</label>
			    				<input type="hidden" id="svl_id" name="svl_id" value="{$prdData.svl_id}" />
				            	<input type="text" id="persons" name="persons" placeholder="จำนวนผู้ใช้บริการ" class="form-control" value="{$persons}">
				        	</div>
			    		</div>
			    		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			    			<div class="form-group">
			    				<label class="input-required">วันที่จอง</label>
				            	<input id="bkg_date" name="bkg_date" type="text" placeholder="วันที่จอง" class="form-control mbk-dtp-th" value="{$bkg_date}">
				        	</div>
			    		</div>
			    		<div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
			    			<div class="form-group">
			    				<label class="input-required">เวลาที่จอง</label>
				            	<select id="bkg_time" class="form-control select select-primary" data-toggle="select" name="bkg_time" value="{$bkg_time}">
				            		<option value="">เวลาที่จอง</option>
					            	{foreach from=$times key=i item=time}
					            		{if $time == $bkg_time}
					            		<option value="{$time}" selected>{$time} น.</option>
					            		{else}
					            		<option value="{$time}">{$time} น.</option>
					            		{/if}
					            	{/foreach}
					            </select>
				        	</div>
			    		</div>
			    		<div class="col-xs-12 bkgempCont">
			    			<div class="form-group">
			    				<label>พนักงานที่จอง</label>
				            	<select id="bkgemp_id" class="form-control select select-primary" data-toggle="select" name="bkgemp_id" value="{$bkgemp_id}">
					            </select>
				        	</div>
			    		</div>
			    		<div class="col-xs-12 bkgempErrCont">
			    			<span class="errInputMsg">ขออภัยค่ะ ไม่มีพนักงานที่สามารถให้บริการได้ในวันเวลาดังกล่าว</span>
			    		</div>
			    	</div>
			    </div>
			    <div class="action-control">
			    	{if $edit}
			    	<button id="addToCartBtn" class="btn btn-inverse" type="submit">
			    		<span class="add2cart">
	            			<i class="fa fa-check"></i>&nbsp;&nbsp;บันทึกการจอง
	            		</span>
			    	</button>
			    	&nbsp;
			    	<a href="shopping_cart.php" class="btn btn-default">
			    		<i class="fa fa-times"></i>&nbsp;&nbsp;ยกเลิก
			    	</a>
			    	{else}
			    	<button id="addToCartBtn" class="btn btn-primary" type="submit">
			    		<span class="add2cart">
	            			<i class="fa fa-calendar"></i>&nbsp;&nbsp;จองรายการนี้
	            		</span>
			    	</button>
			    	{/if}
	            </div>
	            <div class="addCartSuccess clearfix">
	            	<div class="col-xs-12">
	            		<span class="title">
	            			<i class="fa fa-info-circle"></i> 
	            			{if $edit}
	            			แก้ไขการจองรายการนี้เรียบร้อยแล้วค่ะ
	            			{else}
	            			เพิ่มรายการนี้ลงในการจองของคุณเรียบร้อยแล้วค่ะ
	            			{/if}
	            		</span>
	            		<table>
	            			<tr>
	            				<td>รายการบริการ</td>
	            				<td>{$prdData.svl_name}</td>
	            			</tr>
	            			<tr>
	            				<td>จำนวนผู้ใช้บริการ</td>
	            				<td><span id="persons_text"></span></td>
	            			</tr>
	            			<tr>
	            				<td>วันที่จอง</td>
	            				<td><span id="bkg_date_text"></span></td>
	            			</tr>
	            			<tr>
	            				<td>เวลาที่จอง</td>
	            				<td><span id="bkg_time_text"></span></td>
	            			</tr>
	            			<tr>
	            				<td>พนักงานที่จอง</td>
	            				<td><span id="bkgemp_id_text"></span></td>
	            			</tr>
	            		</table>
	            	</div>
	            	<div class="col-xs-6">
	            		<a href="shop_service_lists.php">
	            			<button class="btn btn-primary" type="button">ทำการจองต่อ</button>
	            		</a>
	            	</div>
	            	<div class="col-xs-6">
	            		<a href="shopping_cart.php">
	            			<button class="btn btn-danger" type="button">ดูตระกร้าสินค้า</button>
	            		</a>
	            	</div>
	            </div>
			</div>
		</div>
	</div>
</div>
{include file="_footer.html"}
</body>
</script>