<!DOCTYPE html>
<html>
<head>
	<title>Abhaibhubajhr Day Spa</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {include file="../common/common_headericon_ws.html"}
  {literal}
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="inc/Flat-UI-master/dist/css/flat-ui.css">
    <link rel="stylesheet" type="text/css" href="inc/datetimepicker/jquery.datetimepicker.css">
    <link rel="stylesheet" href="css/fontFace.css">
    <link rel="stylesheet" href="inc/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="inc/jquery-mCustomScrollbar/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="css/spaMain.css">
    <link rel="stylesheet" href="css/header-v5.css">
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="inc/jquery-mCustomScrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script src="inc/Flat-UI-master/dist/js/flat-ui.min.js"></script>
    <script src="inc/Flat-UI-master/docs/assets/js/application.js"></script>
    <script src="js/spaMain.js"></script>
    <script src="js/spaMainForm.js"></script>
    <style type="text/css">
      #error-message {
        color: #C0392B;
        background: #FADBD8;
        padding: 10px;
        border-radius: 6px;
      }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
        $('#error-message').slideUp(0);

        $('#resetPass-btn').click(function() {
          if(!checkRequiredInput()) {
            // No input error
            $.ajax({
              url: 'common/ajaxCustomerResetPass.php',
              type: 'POST',
              data: {
                'formData' : $('#form-login').serialize()
              },
              success:
              function(response) {
                if(response == 'PASS') {
                  parent.showActionDialog({
                      title: 'เปลี่ยนรหัสผ่านเรียบร้อยแล้ว',
                      actionList: [
                          {
                              id: 'ok',
                              name: 'กลับไปยังบัญชีของฉัน',
                              func:
                              function() {
                                  parent.hideActionDialog();
                                  document.location.href = 'myaccount.php';
                              }
                          }
                      ],
                      boxWidth: 400
                  });
                } else if(response == 'NOT_PASS') {
                  parent.showActionDialog({
                      title: 'เกิดข้อผิดพลาด',
                      message: 'เกิดข้อผิดพลาด การเปลี่ยนรหัสผ่านล้มเหลว',
                      actionList: [
                          {
                              id: 'ok',
                              name: 'ตกลง',
                              func:
                              function() {
                                  parent.hideActionDialog();
                              }
                          }
                      ],
                      boxWidth: 400
                  });
                } else if(response == 'INCORRECT_PASS') {
                  $('#cus_pass').addClass('has-error');
                  $('#err-cus_pass-incorrect').css('display', 'block');
                  $('#cus_pass').focus();
                }  else {
                  alert(response);
                }
              }
            });
          } else {
            // Has input error
            parent.showActionDialog({
                title: 'ข้อมูลไม่ถูกต้อง',
                message: 'คุณป้อนข้อมูลไม่ครบ หรือรูปแบบข้อมูลไม่ถูกต้อง โปรดตรวจสอบข้อความแจ้งเตือนและแก้ไขให้ถูกต้องด้วยค่ะ',
                actionList: [
                    {
                        id: 'ok',
                        name: 'ตกลง',
                        func:
                        function() {
                            parent.hideActionDialog();
                        }
                    }
                ],
                boxWidth: 400
            });
          }
          
        });

        $('#cus_password').focus(function() {
          $('#error-message').slideUp(0);
        });

        $('#cus_newPass').focusout(function() {
          checkEqualPassword();
        });
        $('#comfirm_newPasword').focusout(function() {
          checkEqualPassword();
        });
      });

      function checkEqualPassword() {
        setTimeout(function() {
          if($('#cus_newPass').val() != '' && $('#comfirm_newPasword').val() != '' && 
            $('#cus_newPass').val() != $('#comfirm_newPasword').val()) {
            $('#err-comfirm_newPasword-notEqual').css('display', 'block');
            $('#comfirm_newPasword').addClass('has-error');
          }
        }, 10);
      }
    </script>
    {/literal}
</head>
<body class="header-fixed">
{include file="_header.html"}
<div class="page-wrapper">
  <div class="container headerOffset">
    <div class="row">
      <div class="breadcrumbDiv col-md-12 col-lg-12">
        <ul class="breadcrumb">
              <li><a href="index.php"><span class="fui-home"></span> หน้าแรก</a></li>
              <li><a href="myaccount.php">บัญชีของฉัน</a></li>
              <li class="active">เปลี่ยนรหัสผ่าน</li>
           </ul>
      </div>
    </div>
    <div class="row">
  
    <div class="col-lg-12 col-md-12 col-sm-7">
      <h1 class="section-title-inner"><span><i class="fa fa-lock"></i> เปลี่ยนรหัสผ่าน</span></h1>
      <form id="form-login" role="form" class="logForm" onsubmit="return false;">
      <div class="row userInfo">
        <div class="col-xs-12 col-md-6">
          <h2 class="block-title-2"> ควรเปลี่ยนรหัสผ่านเป็นประจำ อย่างน้อยเดือนละครั้งเพื่อความปลอดภัยของบัญชีของคุณ </h2>
              <label class="input-required">รหัสผ่านปัจจุบัน</label>
              <input id="cus_pass" name="cus_pass" type="password" class="form-control" placeholder="Enter password" require>
              <span id="err-cus_pass-require" class="errInputMsg err-cus_pass">โปรดป้อนรหัสผ่านปัจจุบัน</span>
              <span id="err-cus_pass-incorrect" class="errInputMsg err-cus_pass">รหัสผ่านปัจจุบันไม่ถูกต้อง</span>

              <label class="input-required">รหัสผ่านใหม่</label>
              <input id="cus_newPass" name="cus_newPass" type="password" class="form-control" placeholder="Enter password" require>
              <span id="err-cus_newPass-require" class="errInputMsg err-cus_newPass">โปรดป้อนรหัสผ่านใหม่</span>

              <label class="input-required">ยืนยันรหัสผ่านใหม่</label>
              <input id="comfirm_newPasword" name="comfirm_newPasword" type="password" class="form-control" placeholder="Enter confirm password " require>
              <span id="err-comfirm_newPasword-require" class="errInputMsg err-comfirm_newPasword">โปรดป้อนรหัสผ่านใหม่อีกครั้ง</span>
              <span id="err-comfirm_newPasword-notEqual" class="errInputMsg err-comfirm_newPasword">โปรดป้อนรหัสผ่านใหม่ให้ตรงกันค่ะ</span>

              <hr class="hr hr30">
              <button id="resetPass-btn" class="btn btn-primary btn-lg btn-block" type="submit"><i class="fa fa-check"></i> เปลี่ยนรหัสผ่าน</button>
            </div>
        </div>
          </form>

          <div class="col-xs-12 col-md-6 clearfix">
            <ul class="pageBtnList">
              <li class="next pull-left"><a href="myaccount.php"><i class="fa fa-long-arrow-left"></i> กลับไปยังบัญชีของฉัน</a></li>
              <li class="next pull-right"><a href="index.php"><i class="fa fa-home"></i> ทำการจองต่อ</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--/row end--> 
    </div>
  </div>	
  </div>
</div>
{include file="_footer.html"}
</body>
</script>