<!DOCTYPE html>
<html>
<head>
	<title>Spa - Point of sale</title>
	<meta charset="UTF-8"/>
	{literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/point_of_sale.css">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/mbk_common_function.js"></script>
	<script type="text/javascript" src="../js/point_of_sale.js"></script>
	<script type="text/javascript">
		var productList 	= {/literal}{$productList|@json_encode}{literal};
		var productTypeList = {/literal}{$productTypeList|@json_encode}{literal};
	</script>
	{/literal}
</head>
<body>
<div id="header"></div>
<div id="control-sale">
	<div id="sale-transaction">
		<div id="sale-transaction-inner">
			<div id="sale-tranaction-inner-header">
				<div id="total-price-container">
					<span style="float:left">฿</span>
					<span id="total-price">0.00</span>
				</div>
			</div>
			<div id="sale-product-list-container">
				<div id="sale-product-list-header">
					<table>
						<thead>
							<th class="prdName-col">ชื่อสินค้า</th>
							<th class="qty-col">จำนวน</th>
							<th class="unitPrice-col">หน่วยละ</th>
							<th class="sumPrice-col">ราคารวม</th>
						</thead>
					</table>
				</div>
				<div id="sale-product-list-body">
					<form id="formSale" method="post">
						<table id="sale-product-list">
							<tbody>
							</tbody>
						</table>
						<input type="hidden" name="total-price">
					</form>
				</div>
			</div>
			<div id="barcode-input-container">
				<div class="icon-barcode">
					<i class="fa fa-barcode"></i>
				</div>
				<input type="text" id="barcode-input" placeholder="แสกนบาร์โค้ด หรือ พิมพ์รหัสบาร์โค้ด">
			</div>
			<table id="summary-sale-tranaction">
				<tbody>
					<tr>
						<td>รายการสินค้าทั้งหมด: <span id="total-product">0</span></td>
						<td>จำนวนสินค้าทั้งหมด: <span id="total-qty">0</span></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="sale-transaction-control"></div>
	</div>
	
</div>
<div id="quick-product-container">
	<div id="quick-product">
		<div id="quick-product-header">
			
		</div>
		<div id="quick-product-body">
			<div id="columns">
			    <!-- and so on ...  -->
			</div>
		</div>
	</div>
</div>
</body>
</html>