<!DOCTYPE html>
<html>
<head>
	<title>Spa - Point of sale</title>
	<meta charset="UTF-8"/>
	{literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/point_of_sale.css">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/mbk_common_function.js"></script>
	<script type="text/javascript" src="../js/point_of_sale.js"></script>
	<script type="text/javascript" src="../js/point_of_sale_element.js"></script>
	<script type="text/javascript">
		var productList 		= {/literal}{$productList|@json_encode}{literal};
		var productListFrequency= {/literal}{$productListFrequency|@json_encode}{literal};
		var promotionGroups 	= {/literal}{$productPrmGrpList|@json_encode}{literal};
		var productTypeList 	= {/literal}{$productTypeList|@json_encode}{literal};
		var promotion 			= {/literal}{$promotion|@json_encode}{literal};
		var promotionSale 		= {/literal}{$promotionSale|@json_encode}{literal};
		var promotionSaleGroup 	= {/literal}{$promotionSaleGroup|@json_encode}{literal};
	</script>
	{/literal}
</head>
<body>
<div id="header">
	<div class="searchProduct-container">
		<div class="searchProduct-inner">
			<i class="fa fa-search" style="margin-right:5px;"></i>
			<input id="searchProduct" type="text" name="searchProduct" placeholder="ค้นหาสินค้า...">
		</div>
	</div>
</div>
<div id="control-sale">
	<div id="sale-transaction">
		<div id="sale-transaction-inner">
			<div id="sale-tranaction-inner-header">
				<div id="total-price-container">
					<span style="float:left">฿</span>
					<span id="total-price">0.00</span>
				</div>
			</div>
			<div class="sale-transaction-setting">
				<div class="sale-transaction-setting-title">
					กลุ่มโปรโมชั่น:
				</div>
				<span id="prdprmgrp_txt">ไม่คิดโปรโมชั่น</span>
				<input type="hidden" id="prdprmgrp_id" value="">
				<button id="setPrdprmgrpBtn" class="sale-transaction-setting-btn">
					<i class="fa fa-pencil"></i>
				</button>
			</div>
			<div id="sale-product-list-container">
				<div id="sale-product-list-header">
					<table>
						<thead>
							<th class="prdName-col">ชื่อสินค้า</th>
							<th class="qty-col">จำนวน</th>
							<th class="unitPrice-col">หน่วยละ</th>
							<th class="sumDiscout-col">ส่วนลด</th>
							<th class="sumPrice-col">ราคารวม</th>
						</thead>
					</table>
				</div>
				<div id="sale-product-list-body">
					<form id="formSale" method="post">
						<table id="sale-product-list">
							<tbody>
							</tbody>
						</table>
						<input type="hidden" name="emp_id" value="{$session_emp_id}">
						<input type="hidden" name="total-price">
					</form>
				</div>
			</div>
			<div id="barcode-input-container">
				<div class="icon-barcode">
					<i class="fa fa-barcode"></i>
				</div>
				<input type="text" id="barcode-input" placeholder="แสกนบาร์โค้ด หรือ พิมพ์รหัสบาร์โค้ด">
			</div>
			<form id="formPrmds" method="post">
			<table id="summary-sale-tranaction">
				<tbody>
					<tr>
						<td>
							รายการสินค้าทั้งหมด:
						</td>
						<td class="value-col">
							<span id="total-product">0</span>
						</td>
						<td class="center-col"></td>
						<td>
							ส่วนลดการขาย:
						</td>
						<td class="value-col prmdsManual-col">
							<span id="sale-discout-txt">ไม่มี</span>
							<input name="prmds_id[]" type="hidden" value="">
							<input id="saleprmdsdtl_discout_manual" name="saleprmdsdtl_discout[]" type="hidden" value="0">
							<input id="sale-discout-val" name="sale-discont" type="hidden" value="0.00">
							<input id="sale-discout-type" name="sale-discont-type" type="hidden" value="บาท">
						</td>
					</tr>
					<tr>
						<td>
							จำนวนสินค้าทั้งหมด:
						</td>
						<td class="value-col">
							<span id="total-qty">0</span>
						</td>
						<td class="center-col"></td>
						<td>
							ส่วนลดโปรโมชั่นการขาย:
						</td>
						<td class="value-col prmds-col">
							<span id="sale-discout-promotion-txt">0.00 บาท</span>
						</td>
					</tr>
					<tr>
						<td></td>
						<td class="value-col"></td>
						<td class="center-col"></td>
						<td>
							ส่วนลดโปรโมชั่นผลิตภัณฑ์:
						</td>
						<td class="value-col">
							<span id="total-promotion-discout-txt">0.00 บาท</span>
						</td>
					</tr>
				</tbody>
			</table>
			</form>
		</div>
		<div id="sale-transaction-control">
			<div class="sale-transaction-control-inner">
				<button id="clearSaleBtn" type="button" class="pos-btn white">ยกเลิกการขาย</button> 
				<button id="openSaleDiscountBtn" type="button" class="pos-btn white">ส่วนลดการขาย</button> 
				<button id="openPayBoxBtn" type="button" class="pos-btn green">ชำระเงิน</button>
			</div>
		</div>
	</div>
	
</div>
<div id="quick-product-container">
	<div id="quick-product">
		<div id="quick-product-header">
			<button id="prevPagePrdTypBtn" type="button" class="pagePrdTypBtn" onclick="prevPagePrdTyp()">
				<i class="fa fa-chevron-left"></i>
			</button>
			<button id="nextPagePrdTypBtn" type="button" class="pagePrdTypBtn" onclick="nextPagePrdTyp()">
				<i class="fa fa-chevron-right"></i>
			</button>
			<div class="product-category-container">
				<ul class="product-category-list" data-page="1">
					<li>
						<div class="product-category-item"></div>
					</li>
					<li>
						<div class="product-category-item"></div>
					</li>
					
				</ul>
			</div>
		</div>
		<div id="quick-product-body">
			<div id="columns">
			    <!-- and so on ...  -->
			</div>
		</div>
	</div>
</div>
</body>
</html>