<div id="header">
	<div id="header-logo">
		<img src="../img/backoffice/logo-back-office.png">
	</div>
	<ul class="nav">
		<li>
            <a href="manage_table.php" {if $tplName == 'manage_table.html'}class="selected"{/if}>
                <img src="../img/backoffice/nav-manage-table.png"><br>
                จัดการข้อมูล
            </a>
        </li>
        {if $emp_privileges.point_of_sale}
		<li>
            <a href="../pos/select_shops.php">
                <img src="../img/backoffice/nav-cacher.png"><br>
                แคชเชียร์
            </a>
        </li>
        {/if}
        {if $emp_privileges.manage_website}
        <li>
            <a href="#">
                <img src="../img/backoffice/nav-web.png"><br>
                จัดการเว็บไซต์
            </a>
        </li>
        {/if}
        {if $emp_privileges.view_report}
		<li>
            <a href="report.php" {if $tplName == 'report.html'}class="selected"{/if}>
                <img src="../img/backoffice/nav-authen.png"><br>
                ออกรายงาน
            </a>
        </li>
        {/if}
	</ul>
	<ul id="header-tool">
		<li>
            <div id="account-box">
                {if $session_loggedin}
                <i class="fa fa-user"></i> 
                <b>คุณ{$session_emp_name} {$session_emp_surname}</b>
                <a href="logout.php" class="normal-link" style="color: rgb(60, 60, 60);">ออกจากระบบ</a>
                {else}
                <a href="login.php">เข้าสู่ระบบ</a>
                {/if}
            </div>
        </li>
	</ul>
</div>