<!DOCTYPE html>
<html lang="th">
<head>
	<title>Spa - Backoffice</title>
	<meta charset="UTF-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
    <link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
		var tableNameTH = '{/literal}{$tableNameTH}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_customers.php';
        var sexIdOfTitle = '';
        var refTitleData = {/literal}{$referenceData["titles"]|@json_encode}{literal};

        $(document).ready(function () {
            $('#cus_registered_date').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#cus_registered_date').blur();
                },
                onShow:function( ct ){
                    this.setOptions({
                        maxDate:realDateToTmpDate('{/literal}{$nowDate}{literal}')
                    })
                },
                timepicker:false
            });
            $('#cus_registered_date').change(function(){
                checkDate($('#cus_registered_date'));
            });

            $('#cus_birthdate').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#cus_birthdate').blur();
                },
                onShow:function( ct ){
                    this.setOptions({
                        maxDate:realDateToTmpDate('{/literal}{$nowDate}{literal}')
                    })
                },
                timepicker:false
            });
            $('#cus_birthdate').change(function(){
                checkDate($('#cus_birthdate'));
            });

            selectReferenceJS({
                elem            : $('#sex_id'),
                data            : {/literal}{$referenceData["sex"]|@json_encode}{literal},
                searchTool      : false,
                defaultValue    : '{/literal}{$values.sex_id}{literal}',
                beforeShow      : allowSelectSex
            });
            selectReferenceJS({
                elem            : $('#custype_id'),
                data            : {/literal}{$referenceData["customer_types"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.custype_id}{literal}'
            });
            selectReferenceJS({
                elem            : $('#title_id'),
                data            : {/literal}{$referenceData["titles"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.title_id}{literal}',
                onOptionSelect  : changeTitleId,
                success         :
                function() {
                    if(action == 'EDIT') {
                        changeTitleId();
                    }
                }
            });

            // Add input password
            if(action == 'ADD') {
                addInputPassword();
            }

            $('#cus_email').focusout(checkUserAndPass);
        });
        
        function checkDate(self){
            // Skip check
            if(self.val() == '' || isDateThaiFormat(self.val())) {
                return;
            }

            var selfDate = new Date(self.val());
            var nowDate = new Date(realDateToTmpDate('{/literal}{$nowDate}{literal}'));
            if(selfDate > nowDate){
                var titleTxt;
                var messageTxt;
                var descTxt;
                if(self.attr('id') == 'cus_registered_date'){
                    titleTxt   = 'วันที่สมัครสมาชิกไม่ถูกต้อง';
                    messageTxt = 'วันที่สมัครสมาชิกไม่สามารถอยู่หลังวันที่ปัจจุบันได้';
                    descTxt    = 'กรอกวันที่สมัครสมาชิกใหม่';
                }else if(self.attr('id') == 'cus_birthdate'){
                    titleTxt   = 'วันเกิดไม่ถูกต้อง';
                    messageTxt = 'วันเกิดไม่สามารถอยู่หลังวันที่ปัจจุบันได้';
                    descTxt    = 'กรอกวันเกิดใหม่';
                }
                if(parent.$('.action-dialog-container').length <= 0) {
                    parent.showActionDialog({
                        title: titleTxt,
                        message: messageTxt,
                        actionList: [
                            {
                                id: 'ok',
                                name: 'ตกลง',
                                desc: descTxt,
                                func:
                                function() {
                                    parent.hideActionDialog();
                                    self.val('');
                                    self.focus();
                                }
                            }
                        ],
                        boxWidth: 400
                    });
                }
            }
        }
        
        function beforeSaveRecord() {
            checkUserAndPass();
            return false;
        }

        function addInputPassword() {
            var inputPassHTML = '<tr>'
                              + '   <td colspan=2>'
                              + '       <label>รหัสผ่าน</label>'
                              + '       <input id="cus_pass" name="cus_pass" type="password" class="form-input full">'
                              + '   </td>'
                              + '</tr>'
                               + '<tr class="errMsgRow">'
                              + '   <td colspan="2">'
                              + '       <span id="err-cus_pass-require" class="errInputMsg err-cus_pass">'
                              + '           กรุณาป้อนรหัสผ่าน'
                              + '       </span>'
                              + '   </td>'
                              + '</tr>'
                              + '<tr>'
                              + '   <td colspan=2>'
                              + '       <label>ป้อนรหัสผ่านอีกครั้ง</label>'
                              + '       <input id="cus_re_pass" name="cus_re_pass" type="password" class="form-input full">'
                              + '   </td>'
                              + '</tr>'
                              + '<tr class="errMsgRow">'
                              + '   <td colspan="2">'
                              + '       <span id="err-cus_re_pass-equal" class="errInputMsg err-cus_re_pass">'
                              + '           กรุณาป้อนรหัสผ่านให้ตรงกันค่ะ'
                              + '       </span>'
                              + '   </td>'
                              + '</tr>';

            $('#tableforAddPass tbody').append(inputPassHTML);
            // Add event
            $('#cus_pass').focusout(checkUserAndPass);
            $('#cus_re_pass').focusout(checkUserAndPass);
        }

        function resetPass() {
            $('#trResetPass').remove();
            addInputPassword();
        }

        function checkUserAndPass() {
            if($('#cus_pass').length > 0) {
                // Check username
                if($('#cus_pass').val() != '' || $('#cus_re_pass').val() != '') {
                    if($('#cus_email').val() == '') {
                        $('#cus_email').addClass('required');
                        $('#err-cus_email-require').css('display', 'block');
                    }
                }
            }
            
            // Check password
            if($('#cus_email').val() != '' && $('#cus_pass').val() == '') {
                $('#cus_pass').addClass('required');
                $('#err-cus_pass-require').css('display', 'block');
            } else {
                // Clear password error
                $('#cus_pass').removeClass('required');
                $('.err-cus_pass').css('display', 'none');
            }

            // Check re-password
            if($('#cus_pass').val() != $('#cus_re_pass').val()) {
                $('#cus_re_pass').addClass('required');
                $('#err-cus_re_pass-equal').css('display', 'block');
            } else {
                // Clear re-password error
                $('#cus_re_pass').removeClass('required');
                $('.err-cus_re_pass').css('display', 'none');
            }
        }

        function changeTitleId() {
            var titleId = $('input[name="title_id"]').val();
            if(titleId != '') {
                var sexId = '';

                for(i in refTitleData) {
                    if(refTitleData[i].refValue == titleId) {
                        sexId = refTitleData[i].sex_id;
                        break;
                    }
                }

                if(sexId != '') {
                    sexIdOfTitle = sexId;
                    $('#sex_id_' + sexId).click();
                } else {
                    sexIdOfTitle = '';
                }
            } else {
                sexIdOfTitle = '';
            }
        }

        function allowSelectSex() {
            if(sexIdOfTitle == '') {
                return true;
            } else {
                var msg = 'คำนำหน้าชื่อ ' + $('#title_id').find('.selectReferenceJS-text').text()
                        + ' ถูกระบุให้เป็นได้เฉพาะเพศ' + $('#sex_id').find('.selectReferenceJS-text').text()
                        + 'เท่านั้น';
                parent.showActionDialog({
                    title: 'ไม่สามารถเลือกเพศได้',
                    message: msg,
                    actionList: [
                        {
                            id: 'ok',
                            name: 'ตกลง',
                            func:
                            function() {
                                parent.hideActionDialog();
                            }
                        }
                    ],
                    boxWidth: 400
                });
                return false;
            }
        }
    </script>
    {/literal}
</head>
<body>

{include file="form_table_header.html"}
{if $emp_privileges.manage_customers}
<div class="ftb-body">
    <div class="ftb-body">
    {if $action == 'VIEW_DETAIL'}
    <!-- VIEW_DETAIL -->
    <div class="table-view-detail-image full">
       
    </div>
    <table class="table-view-detail">
        <tbody>
            <tr>
                <td>รหัสผู้ใช้บริการ :</td>
                <td>{$code}</td>
            </tr>
            <tr>
                <td>ประเภทผู้ใช้บริการ :</td>
                <td><div id="custype_id" class="selectReferenceJS text"></div></td>
            </tr>
            <tr>
                <td>คำนำหน้าชื่อ :</td>
                <td><div id="title_id" class="selectReferenceJS text"></div></td>
            </tr>
            <tr>
                <td>ชื่อผู้ใช้บริการ :</td>
                <td>{$values.cus_name}</td>
            </tr>
            <tr>
                <td>นามสกุล :</td>
                <td>{$values.cus_surname}</td>
            </tr>
            <tr>
                <td>เพศ :</td>
                <td><div id="sex_id" class="selectReferenceJS text"></div></td>
            </tr>
            <tr>
                <td>ที่อยู่ :</td>
                <td>{$values.cus_addr}</td>
            </tr>
            <tr>
                <td>เบอร์โทรศัพท์ :</td>
                <td>{$values.cus_tel}</td>
            </tr>
            <tr>
                <td>วันเกิด :</td>
                <td>{$values.cus_birthdate}</td>
            </tr>
            <tr>
                <td>วันที่สมัคร :</td>
                <td>{$values.cus_registered_date}</td>
            </tr>
            <tr>
                <td>Facebook(Link) :</td>
                <td>{$values.cus_facebook}</td>
            </tr>
            <tr>
                <td>Line(ID) :</td>
                <td>{$values.cus_line_id}</td>
            </tr>
            <tr>
                <td>E-mail/ชื่อผู้ใช้งาน :</td>
                <td>{$values.cus_email}</td>
            </tr>
        </tbody> 
    </table> 
    {else}      
    <!-- ADD, EDIT -->                      

    <form id="form-table" name="form-table" onsubmit="return false;">
	<input type="hidden" name="requiredFields" value="custype_id,sex_id,title_id,cus_name,cus_surname,cus_addr,cus_tel,cus_registered_date,sex_id">
    <input type="hidden" name="uniqueFields" value="cus_email">
    <table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
	    <tbody>
            <tr>
                <td>
                    <label class="input-required">คำนำหน้าชื่อ</label>
                    <div id="title_id" class="selectReferenceJS form-input half" require></div>
                </td>
                <td>
                    <label class="input-required">เพศ</label>
                    <div id="sex_id" class="selectReferenceJS form-input half" require></div>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td>
                    <span id="err-title_id-require" class="errInputMsg half err-title_id">โปรดเลือกคำนำหน้าชื่อ</span>
                </td>
                <td>
                    <span id="err-sex_id-require" class="errInputMsg half err-sex_id">โปรดเลือกเพศ</span>
                </td>
            </tr>
		    <tr>
			    <td colspan="2">
				    <label class="input-required">ชื่อผู้ใช้บริการ</label>
				    <input id="cus_name" name="cus_name" type="text" class="form-input full" value="{$values.cus_name}" valuepattern="character" require>
			    </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-cus_name-require" class="errInputMsg err-cus_name">โปรดป้อนชื่อผู้ใช้บริการ</span>
                    <span id="err-cus_name-character" class="errInputMsg err-cus_name">โปรดกรอกตัวอักษรภาษาไทย หรือตัวอักษรภาษาอังกฤษเท่านั้น</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="input-required">นามสกุลผู้ใช้บริการ</label>
                    <input id="cus_surname" name="cus_surname" type="text" class="form-input full" value="{$values.cus_surname}" valuepattern="character" require>
                </td>
		    </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-cus_surname-require" class="errInputMsg err-cus_surname">โปรดป้อนนามสกุลผู้ใช้บริการ</span>
                    <span id="err-cus_surname-character" class="errInputMsg err-cus_surname">โปรดกรอกตัวอักษรภาษาไทย หรือตัวอักษรภาษาอังกฤษเท่านั้น</span>
                </td>
            </tr>
            <tr>
			    <td colspan="2">
				    <label class="input-required">ประเภทผู้ใช้บริการ</label>
				    <div id="custype_id" class="selectReferenceJS form-input full" require></div>
			    </td>
		    </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-custype_id-require" class="errInputMsg err-custype_id">โปรดเลือกประเภทผู้ใช้บริการ</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="input-required">ที่อยู่</label>
                    <textarea id="cus_addr" name="cus_addr" type="text" class="form-input full" require rows="6">{$values.cus_addr}</textarea>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-cus_addr-require" class="errInputMsg err-cus_addr">โปรดป้อนที่อยู่</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="input-required">เบอร์โทร</label>
                    <input id="cus_tel" name="cus_tel" type="text" class="form-input half" value="{$values.cus_tel}" valuepattern="tel" maxlength="10" size="10" require>
                </td>
                <td>
                    <label>วันเกิด</label>
                    <input id="cus_birthdate" name="cus_birthdate" type="text" class="mbk-dtp-th form-input half" value="{$values.cus_birthdate}">
                </td>
            </tr>
            <tr class="errMsgRow">
                <td>
                    <span id="err-cus_tel-require" class="errInputMsg err-cus_tel">โปรดป้อนเบอร์โทร</span>
                    <span id="err-cus_tel-tel" class="errInputMsg half err-cus_tel">โปรดกรอกเบอร์โทรเป็นตัวเลข 10 หลัก</span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="input-required">วันที่สมัคร</label>
                    <input id="cus_registered_date" name="cus_registered_date" type="text" class="mbk-dtp-th form-input full" value="{if $values.cus_registered_date}{$values.cus_registered_date}{else}{$nowDate}{/if}" require>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-cus_registered_date-require" class="errInputMsg err-cus_registered_date">โปรดป้อนวันที่สมัคร</span>
                </td>
            </tr>
             <tr>
                <td colspan="2">
                    <label>Faceook(Link)</label>
                    <input id="cus_facebook" name="cus_facebook" type="text" class="form-input full" value="{$values.cus_facebook}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>Line(ID)</label>
                    <input id="cus_line_id" name="cus_line_id" type="text" class="form-input full"  value="{$values.cus_line_id}">
                </td>
            </tr>
        </tbody>
    </table>

    <table id="tableforAddPass" class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
        <tbody>
             <tr>
                <td colspan="2">
                    <label>E-mail(E-mailนี้จะถูกนำไปใช้เป็นชื่อผู้ใช้งาน)</label>
                    <input id="cus_email" name="cus_email" type="text" class="form-input full" 
                    value="{$values.cus_email}" valuepattern="email">
                </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan=2>
                    <span id="err-cus_email-require" class="errInputMsg err-cus_email">โปรดป้อนอีเมล</span>
                    <td colspan="2">
                    <span id="err-cus_email-email" class="errInputMsg err-cus_email">รูปแบบอีเมลไม่ถูกต้อง</span>
                </td>
                </td>
            </tr>
            {if $action == 'EDIT'}
            <tr id="trResetPass">
                <td colspan="2">
                    <a href="javascript:resetPass();" class="normal-link">ตั้งรหัสผ่านใหม่</a>
                </td>
            </tr>
            {/if}
	    </tbody>
    </table>
    </form>
    {/if}
</div><!-- end ftb-body -->
{else}
<div class="noPrivilege-formTable-container">
    <div class="noPrivilege-formTable-inner">
        <i class="fa fa-lock"></i><br>คุณไม่ได้รับสิทธิ์ในการเข้าถึงข้อมูลในส่วนนี้
    </div>
</div>
{/if}<!-- end if privileges -->
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
	3.  input[name="uniqueFields"] ใส่ชื่อฟิลด์ที่ต้องการเช็คว่าห้ามซ้ำ
-->