<!DOCTYPE html>
<html lang="th">
<head>
	<title>Spa - Backoffice</title>
	<meta charset="UTF-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
	<link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
	<script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <style type="text/css">
        #service-lists-table tr:nth-child(2) .removeSvlBtn {
            display: none;
        }
    </style>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
		var tableNameTH = '{/literal}{$tableNameTH}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_packages.php';
        var valuesDetail    = '';
        var vdtlAllSvl 	= 0;

         // Set valuesDetail
        {/literal}
        {if $valuesDetail}
        {literal}
            valuesDetail= {/literal}{$valuesDetail|@json_encode}{literal};
        {/literal}
        {/if}
        {literal}

		$(document).ready(function() {
			$('#addSvlBtn').click(addServiceList);

			uploadImageInput({
				area: $('#pkg_picture'),
				input: $('input[name="pkg_picture"]'),
				selector: $('#pkg_picture_file'),
				defaultValue: '{/literal}{if $values.pkg_picture}../img/packages/{$values.pkg_picture}?rand={$randNum}{/if}{literal}'
			});

			$('#pkg_start').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#pkg_start').blur();
                },
                onShow:function( ct ){
                    if(action == 'ADD') {
                    	this.setOptions({
	                        minDate: realDateToTmpDate('{/literal}{$nowDate}{literal}'),
	                        maxDate:$('#pkg_stop').val()?unconvertThaiDate($('#pkg_stop').val()):false
	                    });
                    } else if(action == 'EDIT') {
                    	this.setOptions({
	                        maxDate:$('#pkg_stop').val()?unconvertThaiDate($('#pkg_stop').val()):false
	                    });
                    }
                },
                timepicker:false
            });

            $('#pkg_stop').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#pkg_stop').blur();
                },
                onShow:function( ct ){
                    if(action == 'ADD') {
                    	this.setOptions({
	                        minDate:$('#pkg_start').val()?unconvertThaiDate($('#pkg_start').val()):realDateToTmpDate('{/literal}{$nowDate}{literal}')
	                    });
                    } else if(action="EDIT") {
                    	this.setOptions({
	                        minDate:$('#pkg_start').val()?unconvertThaiDate($('#pkg_start').val()):false
	                    });
                    }
                },
                timepicker:false
            });

			// Check date
            $('#pkg_start').change(function(){
                checkDate($(this), $('#pkg_stop'));
            });
            $('#pkg_stop').change(function() {
                checkDate($(this), $('#pkg_start'));
            });

            function checkDate(self, sibling) {
                // Skip check
                if(self.val() == '' || isDateThaiFormat(self.val())) {
                    return;
                }

                var selfDate        = new Date(self.val());
                var siblingDate     = new Date(unconvertThaiDate(sibling.val()));
                var nowDate         = new Date(realDateToTmpDate('{/literal}{$nowDate}{literal}'));
                var selfId          = self.attr('id');

                // Check sibling
                if(sibling.val() != '') {
                    if(selfId == 'pkg_start') {
                        if(selfDate.getTime() > siblingDate.getTime()) {
                            showAlertInvalidDate(self, 'overSibling');
                            return;
                        }
                    } else if(selfId == 'pkg_stop') {
                        if(selfDate.getTime() < siblingDate.getTime()) {
                            showAlertInvalidDate(self, 'overSibling');
                            return;
                        }
                    }
                }

                if(action == 'ADD') {
                	// Check now date
	                if(selfId == 'pkg_start') {
	                    if(selfDate.getTime() < nowDate.getTime()) {
	                        showAlertInvalidDate(self, 'lessThanNow')
	                    }
	                } else if(selfId == 'pkg_stop') {
	                    if(selfDate.getTime() < nowDate.getTime()) {
	                        showAlertInvalidDate(self, 'lessThanNow')
	                    }
	                }
                }
            }
            function showAlertInvalidDate(self, errType) {
                var titleTxt    = '';
                var messageTxt  = '';
                var descTxt     = '';
                var selfId      = self.attr('id');

                if(selfId == 'pkg_start') {
                    titleTxt    = 'วันที่เริ่มใช้ไม่ถูกต้อง';
                    descTxt     = 'ป้อนวันที่เริ่มใช้ใหม่';
                    if(errType == 'overSibling') {
                        messageTxt  = 'วันที่เริ่มใช้ไม่สามารถอยู่หลังวันที่สิ้นสุดได้ค่ะ';
                    } else if(errType == 'lessThanNow') {
                        messageTxt  = 'ไม่สามารถป้อนวันที่เริ่มใช้ย้อนหลังได้ค่ะ';
                    }
                } else if(selfId == 'pkg_stop') {
                    titleTxt    = 'วันที่สิ้นสุดไม่ถูกต้อง';
                    descTxt     = 'ป้อนวันที่สิ้นสุดใหม่';
                    if(errType == 'overSibling') {
                        messageTxt  = 'วันที่สิ้นสุดไม่สามารถอยู่ก่อนหน้าวันที่เริ่มใช้ได้ค่ะ';
                    } else if(errType == 'lessThanNow') {
                        messageTxt  = 'ไม่สามารถป้อนวันที่สิ้นสุดย้อนหลังได้ค่ะ';
                    }
                }

                if(parent.$('.action-dialog-container').length <= 0) {
                    parent.showActionDialog({
                        title: titleTxt,
                        message: messageTxt,
                        actionList: [
                            {
                                id: 'ok',
                                name: 'ตกลง',
                                desc: descTxt,
                                func:
                                function() {
                                    parent.hideActionDialog();
                                    self.val('');
                                    self.focus();
                                }
                            }
                        ],
                        boxWidth: 400
                    });
                }
            }

			// Create service lists input
            if(action == 'ADD') {
                addServiceList({
                    defaultValue : false
                });
            } else if(action == 'EDIT') {
                for(i in valuesDetail) {
                     addServiceList({
                        defaultValue : true,
                        pkgsvl_id   : valuesDetail[i].pkgsvl_id,
                        svl_id      : valuesDetail[i].svl_id
                    });
                }
            } else if(action == 'VIEW_DETAIL') {
            	$('#allSvl').text('{/literal}{$pkgsvlDetailList|@count}{literal}');
            }


		});

		function addServiceList(data) {
            var randNum;
            var selectRefDefault = '';
            if(data.defaultValue) {
                selectRefDefault = data.svl_id;
            }
            do {
                randNum     = parseInt(Math.random()*1000);
            } while($('#svl_id_' + randNum).length > 0);
            var inputKeyId  = 'svl_id_' + randNum;

            // Create HTML and append
            var svlRowHTML  = '<tr class="svl-row">'
                            + '     <td>'
                            + '         <div id="' + inputKeyId + '" class="selectReferenceJS form-input full" require></div>';

            // add pkgsvl id for update
            if(action == 'EDIT' && typeof(data.pkgsvl_id) != 'undefined') {
                svlRowHTML += '         <input name="pkgsvl_id[]" type="hidden" value="' + data.pkgsvl_id + '">';
            }

                svlRowHTML += '         <a title="ลบรายการนี้"><button class="removeSvlBtn button button-icon button-icon-delete" onclick="removeServiceLists(\'' + randNum + '\')"></button></a>'
                            + '     </td>'
                            + '</tr>'
                            + '<tr id="' + inputKeyId + '_errRow">'
                            + '		<td>'
                            + '			<span id="err-' + inputKeyId + '-require" class="errInputMsg err-' + inputKeyId + '">'
                            + '				โปรดเลือกรายการบริการ'
                            + '			</span>'
                            + '		</td>'
                            + '</tr>';
            $('#service-lists-table tbody').append(svlRowHTML);

            selectReferenceJS({
                elem            : $('#' + inputKeyId),
                data            : {/literal}{$referenceData["service_lists"]|@json_encode}{literal},
                searchTool      : true,
                defaultValue    : selectRefDefault,
                allowChangeOption : allowSelectSvlId,
                success         : 
                function() {
                    $('input[name="' + inputKeyId + '"]').attr('name', 'svl_id[]');
                    refreshSvlTable();
                },
                group           : 'service_lists'
            });
        }

        function removeServiceLists(randNum) {
        	var selectRef 	= $('#svl_id_' + randNum);
        	var tr 			= selectRef.parent().parent();
        	var txt 		= selectRef.find('.selectReferenceJS-text').text();
        	var val 		= selectRef.find('.selectReferenceJS-input').val();
        	var msg 		= '';
        	if(val != '') {
        		msg = 'คุณต้องการลบรายการบริการ ' + txt + ' ออกจากแพ็คเกจนี้ใช่หรือไม่?';
        	} else {
        		msg = 'คุณต้องการลบรายการบริการที่เลือกออกจากแพ็คเกจนี้ใช่หรือไม่?';
        	}
        	parent.showActionDialog({
                title: 'ลบรายการบริการ',
                message: msg,
                actionList: [
                    {
                        id: 'ok',
                        name: 'ตกลง',
                        desc: 'ลบรายการบริการนี้ออกจากแพ็คเกจ',
                        func:
                        function() {
                            parent.hideActionDialog();
                            tr.remove();
                            $('#svl_id_' + randNum + '_errRow').remove();
                            refreshSvlTable();
                        }
                    },
                    {
                        id: 'cancel',
                        name: 'ยกเลิก',
                        desc: 'ยกเลิกการลบ',
                        func:
                        function() {
                            parent.hideActionDialog();
                        }
                    }
                ],
                boxWidth: 400
            });
        }

        function allowSelectSvlId(selected) {
            var notDuplicate = true;
            $('input[name="svl_id[]"]').each(function() {
                if($(this).val() == selected) {
                     parent.showActionDialog({
                        title: 'คุณเลือกรายการบริการนี้แล้ว',
                        message: 'รายการบริการไม่สามารถซ้ำกันได้ค่ะ',
                        actionList: [
                            {
                                id: 'ok',
                                name: 'ตกลง',
                                func:
                                function() {
                                    parent.hideActionDialog();
                                }
                            }
                        ],
                        boxWidth: 400
                    });
                    notDuplicate = false;
                }
            });
            return notDuplicate;
        }

        function refreshSvlTable() {
        	var allSvl = $('input[name="svl_id[]"]').length;
        	$('#allSvl').text(allSvl);
        }
    </script>
    {/literal}
</head>
<body>
 	 	 	 	 
{include file="form_table_header.html"}
<div class="ftb-body">
	{if $action == 'VIEW_DETAIL'}
	<!-- VIEW_DETAIL -->
	<div class="table-view-detail-image full">
        <img src="{if $values.pkg_picture}../img/packages/{$values.pkg_picture}?rand={$randNum}{else}../img/backoffice/no-pic.png{/if}">
	</div>
	<table class="table-view-detail">
		<tbody> 					
			<tr>
				<td>รหัสแพ็คเกจ :</td>
				<td>{$code}</td>
			</tr>
			<tr>
                <td>ชื่อพ็คเกจ :</td>
                <td>{$values.pkg_name}</td>
            </tr>
			<tr>
				<td>วันที่เริ่มใช้ :</td>
				<td>{$values.pkg_start_th}</td>
			</tr>
			<tr>
				<td>วันที่สิ้นสุด :</td>
				<td>{if $values.pkg_stop}{$values.pkg_stop_th}{else}-{/if}</td>
			</tr>
			<tr>
				<td>คำอธิบาย :</td>
				<td>{if $values.pkg_desc}{$values.pkg_desc}{else}-{/if}</td>
			</tr>
			<tr>
				<td>ราคา :</td>
				<td>{$values.pkg_price|number_format:2:".":","} บาท</td>
			</tr>
			
		</tbody>
	</table>
	<!--Service list Data-->
	<label class="article-title">รายการบริการที่จัดแพ็คเกจ</label>
	ทั้งหมด <span id="allSvl"></span> รายการ
	<table class="view-detail-reference" style="margin-top:5px;">
        <thead>
            <tr>
                <th style="text-align:center;">ลำดับ</th>
                <th>รหัสรายการบริการ</th>
                <th class="txtLong-col">ชื่อรายการบริการ</th>
                <th>เวลาที่ใช้</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$pkgsvlDetailList key=i item=pkgsvl}
            <tr>
                <td align="center">{$pkgsvl.no}</td>
                <td align="left">
                	<a href="form_table.php?action=VIEW_DETAIL&tableName=service_lists&code={$pkgsvl.svl_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                		{$pkgsvl.svl_id}
                	</a>
                </td>
                <td align="left" class="txtLong-col">{$pkgsvl.svl_name}</td>
                <td align="left">{$pkgsvl.svl_hr} ชั่วโมง {$pkgsvl.svl_min} นาที</td>
            </tr>
            {/foreach}
        </tbody>
    </table>
	{else}	 	
	<!-- ADD, EDIT -->	 	 	 	 	 	 	 	 	
    <form id="form-table" name="form-table" onsubmit="return false;">
	<input type="hidden" name="requiredFields" value="pkg_name,pkg_start,pkg_price">
	<table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td colspan=2>
					<label class="input-required">ชื่อแพ็คเกจ</label>
					<input id="pkg_name" name="pkg_name" type="text" class="form-input full" value="{$values.pkg_name}" require>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<span id="err-pkg_name-require" class="errInputMsg err-pkg_name">โปรดป้อนชื่อแพ็คเกจ</span>
				</td>
			</tr>
			<tr>
				<td>
					<label class="input-required">วันที่เริ่มใช้</label>
                	<input id="pkg_start" name="pkg_start" type="text" class="mbk-dtp-th form-input half" value="{if $values.pkg_start}{$values.pkg_start}{else}{$nowDate}{/if}" require>
                </td>
                <td>
					<label>วันที่สิ้นสุด</label>
                	<input id="pkg_stop" name="pkg_stop" type="text" class="mbk-dtp-th form-input half" value="{$values.pkg_stop}">
                </td>
			</tr>
			<tr>
				<td>
					<span id="err-pkg_start-require" class="errInputMsg err-pkg_start">โปรดป้อนวันที่เริ่มใช้</span>
				</td>
				<td></td>
			</tr>
			<tr>
				<td colspan=2>
					<label class="input-required">ราคา (บาท)</label>
					<input id="pkg_price" name="pkg_price" type="text" class="form-input full" value="{$values.pkg_price}" valuepattern="money" require style="text-align:right;">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<span id="err-pkg_price-require" class="errInputMsg err-pkg_price">โปรดป้อนราคา</span>
					<span id="err-pkg_price-money" class="errInputMsg err-pkg_price">รูปแบบจำนวนเงินไม่ถูกต้อง จำนวนเงินเป็นได้เฉพาะตัวเลข ไม่มีคอมม่าคั่น จุดทศนิยม 2 ตำแหน่ง เช่น 130, 1600.25</span>
				</td>
			</tr>
			<tr>
				<td colspan=2>
					<label>คำอธิบาย</label>
					<textarea id="pkg_desc" name="pkg_desc" class="form-input full">{$values.pkg_desc}</textarea>
				</td>
			</tr>
			<tr>
				<td colspan="2">
                    <label>รูปภาพแพ็คเกจ</label>
					<div id="pkg_picture" class="uploadImageArea full"></div>
					<input type="hidden" name="pkg_picture" value="{$values.pkg_picture}">
				</td>
			</tr>
		</tbody>
    </table>
    
    <label class="article-title">รายการบริการที่จัดแพ็คเกจ</label>
	<table id="service-lists-table" class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td><label class="input-required">รายการบริการ (<span id="allSvl"></span> รายการ)</label></td>
            </tr>
        </tbody>
    </table>
    <button id="addSvlBtn" class="button button-icon button-icon-add">เพิ่มรายการบริการ</button>
    </form>

	<form method="post" enctype="multipart/form-data">
		<input id="pkg_picture_file" type="file" name="imageFile" class="uploadImageSelector" multiple="multiple">
	</form>
	
	
	{/if}
</div>
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
-->