<!DOCTYPE html>
<html lang="th">
<head>
	<title>Spa - Backoffice</title>
	<meta charset="UTF-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
    <link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <style type="text/css">
    .payrollDetail {
        padding: 10px;
        border: 1px solid #ccc;
        width: 520px;
        display: none;
    }
    .payrollDetail table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }
    .payrollDetail tr td:first-child {
        white-space: nowrap;
    }
    .payrollDetail td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: center;
        border-top: 1px solid #ccc;
        word-wrap: break-word;
        table-layout: fixed;
    }
    .payrollDetail tr:first-child td {
        border-top: none;
    }
    .payrollDetail tr td:last-child {
        width: 100%;
        padding-right: 20px;
        text-align: right;
    }
    .pullEmpId-loader {
        height: 31px; 
        position: absolute; 
        margin-left: 10px;
        display: none;
        right: -40px;
        top: 21px;
    }
    .pullPayrollDtl-loader {
        height: 31px; 
        display: none;
    }
    </style>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
		var tableNameTH = '{/literal}{$tableNameTH}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_table.php';
        var payroll_year  = {/literal}{$optionData["payroll_year"]|@json_encode}{literal};
        var payroll_month  = {/literal}{$optionData["payroll_month"]|@json_encode}{literal};
        var oldPayroll_month_val = '';
        var oldPayroll_month_text = '';

        $(document).ready(function () {
            // pull emp_id when open form
            pullEmpId();

            if(action == "EDIT") {
                pullEmpId();
            }

            selectReferenceJS({
                elem            : $('#payroll_year'),
                data            : payroll_year,
                defaultValue    : '{/literal}{if $values.payroll_year}{$values.payroll_year}{else}{$nowYear}{/if}{literal}',
                searchTool      : false,
            });

            selectReferenceJS({
                elem            : $('#payroll_month'),
                data            : payroll_month,
                defaultValue    : '{/literal}{if $values.payroll_month}{$values.payroll_month}{else}{$nowMonth}{/if}{literal}',
                onOptionSelect      : changePayrollMonth,
                searchTool      : false,
            });

            selectReferenceJS({
                elem            : $('#emp_id'),
                data            : {/literal}{$referenceData["employees"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.emp_id}{literal}',
                onOptionSelect      : changeEmpId,
                success: 
                function(defaultValue) {
                    if(typeof(defaultValue) != 'undefinded') {
                        setYearAndMonth($('#payroll_monthly').val());
                        pullPayrollDetail();
                    }
                }
            });

            selectReferenceJS({
                elem            : $('#emp_give_id'),
                data            : {/literal}{$referenceData["employees"]|@json_encode}{literal},
                defaultValue    : '{/literal}{if $values.emp_give_id}{$values.emp_give_id}{else}{$session_emp_id}{/if}{literal}'
            });

            $('#payroll_monthly').datetimepicker({
                lang:'th',
                format:'Y/M',
                closeOnDateSelect:true,
                timepicker:false
            });

            $('#payroll_date').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#payroll_date').blur();
                },
                timepicker:false
            });
        });
        
        function setYearAndMonth(date) {
            if(date != '') {
                var monthsTH = ['มกราคม','กุมภาพันธ์','มีนาคม','เมษายน','พฤษภาคม','มิถุนายน','กรกฎาคม', 'สิงหาคม','กันยายน','ตุลาคม','พฤศจิกายน','ธันวาคม'];
                var tmp = date.split("-");
                tmp[0] = parseInt(tmp[0]);
                tmp[1] = parseInt(tmp[1])-1;
                $('#payroll_year').find('.selectReferenceJS-input').val(tmp[0]);
                $('#payroll_year').find('.selectReferenceJS-text').text(tmp[0]+543);
                $('#payroll_month').find('.selectReferenceJS-input').val(monthsTH[tmp[1]]);
                $('#payroll_month').find('.selectReferenceJS-text').text(monthsTH[tmp[1]]);
            }
        }
        
        function setPayrollMonth() {
            oldPayroll_month_val = parseInt($('input[name="payroll_month"]').val());
            oldPayroll_month_text = $('#payroll_month').find('.selectReferenceJS-text').text();
            var year = $('input[name="payroll_year"]').val();
            var month = (oldPayroll_month_val < 10 ? "0"+oldPayroll_month_val : oldPayroll_month_val);
            var payroll_monthly = year + '/' + month + '/01';
            $('input[name="payroll_monthly"]').val(payroll_monthly);
        }
        
        function changePayrollMonth() {
            newPayrollMonth = $('input[name="payroll_month"]').val();
            if($('input[name="emp_id"]').val() != '') {
                var msg         = 'การเปลี่ยนเดือนจำเป็นต้องเคลียร์ข้อมูลพนักงานที่รับเงินเดือนใหม่ '
                                + 'คุณแน่ใจหรือไม่ที่จะเปลี่ยนเดือน?';
                parent.showActionDialog({
                    title: 'เปลี่ยนเดือน',
                    message: msg,
                    actionList: [
                        {
                            id: 'change',
                            name: 'เปลี่ยน',
                            desc: 'ข้อมูลพนักงานที่รับเงินเดือนจะถูกเคลียร์',
                            func:
                            function() {
                                $('#emp_id').find('.selectReferenceJS-input').val('');
                                $('#emp_id').find('.selectReferenceJS-text').text('กรุณาเลือก');
                                $('.payrollDetail').css('display','none');
                                setPayrollMonth();
                                pullEmpId();
                                parent.hideActionDialog();
                            }
                        },
                        {
                            id: 'cancel',
                            name: 'ยกเลิก',
                            desc: 'ยกเลิกการเปลี่ยนเดือน',
                            func:
                            function() {
                                parent.hideActionDialog();
                                $('#payroll_month').find('.selectReferenceJS-input').val(oldPayroll_month_val);
                                $('#payroll_month').find('.selectReferenceJS-text').text(oldPayroll_month_text);
                            }
                        }
                    ],
                    boxWidth: 500
                });
            } else {
                setPayrollMonth();
                pullEmpId();
            }
            
        }

        function changeEmpId(success) {
            $('.payrollDetail').css('display', 'none');
            $('.pullPayrollDtl-loader').css('display', 'inline');
            pullPayrollDetail();
             
        }

        function pullPayrollDetail(success) {
            $.ajax({
                url: '../common/ajaxPullPayrollDetail.php',
                type: 'POST',
                data: {
                    emp_id: $('input[name="emp_id"]').val(),
                    payroll_monthly: $('#payroll_monthly').val()
                },
                success:
                function(responseJSON) {
                    var response = $.parseJSON(responseJSON);
                    var emp_salary = parseFloat(response.emp_salary);
                    var sumCommission = parseFloat(response.sumCommission);
                    var sumOvertime = parseFloat(response.sumOvertime);
                    var payrollTotalPrice = emp_salary + sumCommission + sumOvertime;

                    $('#payroll_salary').val(emp_salary);
                    $('.payroll_salary_txt').text(emp_salary.formatMoney(2, '.', ','));
                    $('#payroll_commission').val(sumCommission);
                    $('.payroll_commission_txt').text(sumCommission.formatMoney(2, '.', ','));
                    $('#payroll_overtime').val(sumOvertime);
                    $('.payroll_overtime_txt').text(sumOvertime.formatMoney(2, '.', ','));
                    $('.payroll_totalPrice').text(payrollTotalPrice.formatMoney(2, '.', ','));


                    if(typeof(success) == 'function') {
                        success();
                    }

                    $('.pullPayrollDtl-loader').css('display', 'none');
                    $('.payrollDetail').css('display', 'block');
                }
            });
        }

        function pullEmpId(success) {
            var payroll_monthly = $('#payroll_monthly').val();
            $('.pullEmpId-loader').css('display', 'inline');

            $.ajax({
                url: '../common/ajaxPullEmpIdOfPayrollsTable.php',
                type: 'POST',
                data: {
                    payroll_monthly: payroll_monthly
                },
                success:
                function(responseJSON) {
                    var response = $.parseJSON(responseJSON);
                    var empIdListHTML = '';
                    for(i in response) {
                        empIdListHTML  += '<li style="display: list-item;" id="emp_id_' + response[i].emp_id + '">'
                                        + '     <span class="text">' + response[i].emp_fullname + '</span>'
                                        + '     <span class="value">' + response[i].emp_id + '</span>'
                                        + '</li>';
                    }
                    $('#emp_id').find('.option-container').html(empIdListHTML);

                    addEventSelectReferenceJSLi({
                        elem : $('#emp_id'),
                        onOptionSelect : changeEmpId
                    });

                    if(typeof(success) == 'function') {
                        success();
                    }

                    $('.pullEmpId-loader').css('display', 'none');
                }
            });
        }
    </script>
    {/literal}
</head>
<body>

{include file="form_table_header.html"}
{if $emp_privileges.manage_payrolls}
<div class="ftb-body">
    <form id="form-table" name="form-table" onsubmit="return false;">
	<input type="hidden" name="requiredFields" value="emp_id,payroll_salary,payroll_monthly,payroll_date,payroll_commission,payroll_overtime">
    <table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
	    <tbody>
            <tr>
                <td colspan="2">
                    <label class="input-required">พนักงานที่จ่ายเงินเดือน</label>
                    <div id="emp_give_id" class="selectReferenceJS form-input full" require></div>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-emp_give_id-require" class="errInputMsg half err-emp_give_id">โปรดเลือกพนักงานที่จ่ายเงินเดือน</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="input-required">วันที่จ่ายเงินเดือน</label>
                    <input id="payroll_date" name="payroll_date" type="text" class="mbk-dtp-th form-input full" value="{if $values.payroll_date}{$values.payroll_date}{else}{$nowDate}{/if}" require>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-payroll_date-require" class="errInputMsg full err-payroll_date">โปรดป้อนวันที่จ่ายเงินเดือน</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="input-required">ปี</label>
                    <div id="payroll_year" class="selectReferenceJS form-input half" require></div>
                </td>
                <td>
                    <label class="input-required">เดือน</label>
                    <div id="payroll_month" class="selectReferenceJS form-input half" require></div>
                </td>
                <input id="payroll_monthly" name="payroll_monthly" type="hidden" value="{if $values.payroll_monthly}{$values.payroll_monthly}{else}{$nowDate}{/if}" require>
            </tr>
            <tr class="errMsgRow">
                <td>
                    <span id="err-payroll_year-require" class="errInputMsg half err-payroll_year">โปรดป้อนปี</span>
                </td>
                <td>
                    <span id="err-payroll_month-require" class="errInputMsg half err-payroll_month">โปรดป้อนเดือน</span>
                </td>
            </tr>
			<tr>
			    <td colspan="2" style="position:relative;">
				    <label class="input-required">พนักงานที่ได้รับเงินเดือน</label>
				    <div id="emp_id" class="selectReferenceJS form-input full" require></div>
                    <img class="pullEmpId-loader" src="../img/loading.gif">
			    </td>
		    </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-emp_id-require" class="errInputMsg half err-emp_id">โปรดเลือกพนักงานที่ได้รับเงินเดือน</span>
                </td>
            </tr>
	    </tbody>
    </table>
    <img class="pullPayrollDtl-loader" src="../img/loading.gif">
    <div class="payrollDetail">
        <table>
            <tr>
                <td>จำนวนเงินเดือน</td>
                <td>
                    <span class="payroll_salary_txt"></span> บาท
                    <input id="payroll_salary" name="payroll_salary" type="hidden" require>
                </td>
            </tr>
            <tr>
                <td>ค่าคอมมิชชั่น</td>
                <td>
                    <span class="payroll_commission_txt"></span> บาท
                    <input id="payroll_commission" name="payroll_commission" type="hidden" require>
                </td>
            </tr>
            <tr>
                <td>ค่าล่วงเวลา</td>
                <td>
                    <span class="payroll_overtime_txt"></span> บาท
                    <input id="payroll_overtime" name="payroll_overtime" type="hidden" require>
                </td>
            </tr>
            <tr>
                <td><b>รวมทั้งหมด</b></td>
                <td><b><span class="payroll_totalPrice"></span> บาท</b></td>
            </tr>
        </table>
    </div>
    </form>
</div><!-- end ftb-body -->
{else}
<div class="noPrivilege-formTable-container">
    <div class="noPrivilege-formTable-inner">
        <i class="fa fa-lock"></i><br>คุณไม่ได้รับสิทธิ์ในการเข้าถึงข้อมูลในส่วนนี้
    </div>
</div>
{/if}<!-- end if privileges -->
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
	3.  input[name="uniqueFields"] ใส่ชื่อฟิลด์ที่ต้องการเช็คว่าห้ามซ้ำ
-->