<!DOCTYPE html>
<html lang="th">
<head>
	<title>Spa - Backoffice</title>
	<meta charset="UTF-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
	<link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <script type="text/javascript" src="../js/form_services.js"></script>
    <style type="text/css">
        .pkg_unit_price, .svl_unit_price, .pkg_sumPrm_price, .serpkg_price_txt,
        .svl_sumPrm_price, .sersvl_price_txt, .svl_min_txt {
            width: 150px;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: right;
            padding: 5px;
        }
        .svl_min_txt {
            width: 100px;
        }
        .removePackageBtn, .removeServiceListBtn {
            padding: 5px;
            background: none repeat scroll 0% 0% #EEE;
            margin-left: 40px;
        }

        .package-prm-row > td, .service-list-prm-row > td, .service-list-com-row > td,
        .package-svl-row > td {
            padding-left: 100px;
        }
        .prm-list-container {
            width: 660px;
            margin-bottom: 10px;
            border: 1px solid #DDD;
        }
        .prm-list {
            position: relative;
            height: 60px;
            padding: 10px 10px 10px 60px;
            border-bottom: 1px solid #ddd;
        }
        .prm-list .prm-thumb {
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
            background-color: #F0F0F0;
            position: absolute;
            left: 5px;
            top: 5px;
        }
        .prm-list-container .prm-list:last-child {
            border-bottom: 1px solid rgba(255,255,255,0);
        }
        .prm-list table {
            width: 100%;
            height: 100%;
        }
        .prm-list table td {
            vertical-align: middle !important;
            word-break: break-word;
            font-size: 14px;
        }
        .prm-list table td.prm-name-col {
            width: 378px;
        }
        .prm-list table td.amount-col {
            width: 80px;
            text-align: right !important;
            display: none;
        }
        .prm-list table td.discout-col {
            color: #F44 !important;
            text-align: left !important;
            padding-left: 111px;
            display: none;
        }

        .prm-list table .prm-name {
            color: #595959;
        }
        .prm-list table .discount-rate {
            color: #b7b7b7;
        }

        .com-list-container {
            width: 100%;
        }
        .com-list-title {
            margin-bottom: 10px;
            display: inline-block;
            color: #666;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
        }
        .com-list-title:hover {
            color: #8AC007;
        }
        #service-service-list-table .service-list-row:not(:first-child) > td,
        #service-package-table .package-row:not(:first-child) > td {
            border-top: 1px solid #c4c4c4;
            padding-top: 21px;
        }
        .svlCom.com-list>table>tbody>tr>td {
            border-top: solid 1px #c4c4c4;
            padding-top: 15px;
        }
        .svlCom.com-list>table>tbody>tr>td:last-child {
            width: 100%;
            padding-left: 37px;
        }
        .com-list > table {
            width: 660px;
        }
        .addSvlComBtn {
            margin-bottom: 10px;
        }
        .pkgsvl-list {
            padding: 10px 10px 10px 0;
            border-top: 1px solid #ddd;
            width: 660px;
        }
        .pkgsvl-list .name-cont {
              float: left;
              width: 350px;
              word-wrap: break-word;
              margin-bottom: 15px;
        }
        .pkgsvl-list .time-cont {
            float: right;
            text-align: right;
        }
        .pkgsvl-list .time-cont input[type="text"] {
            width: 100px;
        }
        .com-rate-col {
            width: 100%;
            padding-left: 37px !important;
        }
        .pkgsvlCom.com-list {
            padding-top: 15px;
        }
        .custype_text_container {
            margin-top: -12px;
            margin-bottom: 15px;
            display: none;
        }
        .qty-column {
            display: none;
        }
        .com-err {
            display: none;
            padding-top: 10px;
        }
        .pullBkgId-loader {
            height: 31px; 
            position: absolute; 
            margin-left: 10px;
            display: none;
            top: 21px;
            left: 520px;
        }
        .inlineBlock {
            display: inline-block !important;
        }
    </style>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
		var tableNameTH = '{/literal}{$tableNameTH}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_services.php';
        var refPkgData  = {/literal}{$referenceData["packages"]|@json_encode}{literal};
        var refSvlData  = {/literal}{$referenceData["service_lists"]|@json_encode}{literal};
        var refCusData  = {/literal}{$referenceData["customers"]|@json_encode}{literal};
        var refBkgData  = {/literal}{$referenceData["booking"]|@json_encode}{literal};
        var refEmpData  = {/literal}{$referenceData["employees"]|@json_encode}{literal};
        var refEmpMasseuseData  = {/literal}{$referenceData["employeesMasseuse"]|@json_encode}{literal};
        var pkgPromotions   = {/literal}{$pkgPromotions|@json_encode}{literal};
        var svlPromotions   = {/literal}{$svlPromotions|@json_encode}{literal};
        var pkgsvlData      = {/literal}{$pkgsvlData|@json_encode}{literal};
        var curCustypeId    = '{/literal}{if $custype_id}{$custype_id}{/if}{literal}';
        var viewSerpkgData  = {/literal}{$viewSerpkgData|@json_encode}{literal};
        var viewSersvlData  = {/literal}{$viewSersvlData|@json_encode}{literal};
        var nowDate = {/literal}{$nowDate}{literal};
        var sersvtData = {/literal}{$sersvtData|@json_encode}{literal};

        // Set valuesDetail
        {/literal}
        {if $valuesPkg}
        {literal}
            valuesPkg = {/literal}{$valuesPkg|@json_encode}{literal};
        {/literal}
        {else}
        {literal}
            valuesPkg = Array();
        {/literal}
        {/if}
        {literal}

        {/literal}
        {if $valuesSvl}
        {literal}
            valuesSvl = {/literal}{$valuesSvl|@json_encode}{literal};
        {/literal}
        {else}
        {literal}
            valuesSvl = Array();
        {/literal}
        {/if}
        {literal}

        {/literal}
        {if $valuesSvlDtl}
        {literal}
            valuesSvlDtl = {/literal}{$valuesSvlDtl|@json_encode}{literal};
        {/literal}
        {else}
        {literal}
            valuesSvlDtl = Array();
        {/literal}
        {/if}
        {literal}

        {/literal}
        {if $valuesPkgDtl}
        {literal}
            valuesPkgDtl = {/literal}{$valuesPkgDtl|@json_encode}{literal};
        {/literal}
        {else}
        {literal}
            valuesPkgDtl = Array();
        {/literal}
        {/if}
        {literal}

        $(document).ready(function () {
            selectReferenceJS({
                elem            : $('#emp_id'),
                data            : refEmpData,
                defaultValue    : '{/literal}{if $values.emp_id}{$values.emp_id}{else}{$session_emp_id}{/if}{literal}'
            });
            selectReferenceJS({
                elem            : $('#cus_id'),
                data            : refCusData,
                allowChangeOption   : saveOldCusId,
                onOptionSelect      : changeCusId,
                defaultValue    : '{/literal}{$values.cus_id}{literal}'
            });
            selectReferenceJS({
                elem            : $('#custype_id'),
                data            : {/literal}{$referenceData["customer_types"]|@json_encode}{literal},
                beforeShow      : allowChangeCusTypeId,
                defaultValue    : '{/literal}{$values.custype_id}{literal}',
                clearBtnText    : '-',
                onOptionSelect  : function() {
                    $('#custype_text').text($('#custype_id').find('.selectReferenceJS-text').text());
                    $('.custype_text_container').css('display', 'block');
                },
                success         : 
                function() {
                    {/literal}{if $values.cus_id}{literal}
                        setCusTypeId('{/literal}{$values.cus_id}{literal}');
                    {/literal}{/if}{literal}
                    addItemForEdit();
                }
            });
            selectReferenceJS({
                elem            : $('#paytyp_id'),
                data            : {/literal}{$referenceData["pay_types"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.paytyp_id}{literal}'
            });
            selectReferenceJS({
                elem            : $('#bed_id'),
                data            : {/literal}{$referenceData["beds"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.bed_id}{literal}'
            });
            selectReferenceJS({
                elem            : $('#bkg_id'),
                data            : {/literal}{$referenceData["booking"]|@json_encode}{literal},
                beforeShow      : allowChangeBookingId,
                allowChangeOption   : saveOldBkgId,
                onOptionSelect      : changeBkgId,
                defaultValue    : '{/literal}{$values.bkg_id}{literal}',
                showClearBtn    : true,
                clearBtnText    : 'ไม่ระบุ',
                success         :
                function(defaultKey) {
                    if(typeof(defaultKey) != 'undefined') {
                        $('#addPackageBtn').css('display', 'none');
                        $('#addServiceListBtn').css('display', 'none');
                    }

                    $('#bkg_id').find('.clear-value-btn').click(function() {
                        $('#addPackageBtn').css('display', 'inline');
                        $('#addServiceListBtn').css('display', 'inline');
                    });
                }
            });
            $('#ser_date').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                maxDate: '{/literal}{$nowDateTmp}{literal}',
                onShow: 
                function() {
                    saveSerDate();
                },
                onSelectDate: 
                function(){
                  changeSerDate();
                  $('#ser_date').blur();
                },
                timepicker:false
            });
             $('#ser_time').datetimepicker({
                datepicker:false,
                format:'H:i',
                minTime:'08:30',
                maxTime: '20:05',
                step:5
            });

             // Check date
            $('#ser_date').change(function(){
                checkDate($(this));
            });
            $('#ser_time').change(function(){
                checkDate($('#ser_date'));
            });

            function checkDate(self) {
                // Skip check
                if(self.val() == '') {
                    return;
                }

                // Get Real date
                var selfRealDate = self.val();
                if(isDateThaiFormat(selfRealDate)) {
                    selfRealDate = getRealDate(selfRealDate);
                } else {
                    selfRealDate = tmpDateToRealDate(selfRealDate);
                }

                // Compare date
                var selfStrFormat = getDateString(selfRealDate, $('#ser_time').val());
                var selfDate  = new Date(selfStrFormat);
                var nowDate   = new Date();
                if(selfDate.getTime() > nowDate.getTime()) {
                    showAlertInvalidDate(self);
                }
            }

            function showAlertInvalidDate(self, errType) {
                var titleTxt    = 'วันเวลาที่บันทึกข้อมูลไม่ถูกต้อง';
                var messageTxt  = 'ไม่สามารถป้อนวันเวลาที่บันทึกข้อมูลล่วงหน้าได้ กรุณาแก้ไขวันเวลาที่บันทึกข้อมูลใหม่ค่ะ';
                var descTxt     = '';
                var selfId      = self.attr('id');

                if(parent.$('.action-dialog-container').length <= 0) {
                    parent.showActionDialog({
                        title: titleTxt,
                        message: messageTxt,
                        actionList: [
                            {
                                id: 'ok',
                                name: 'ตกลง',
                                desc: descTxt,
                                func:
                                function() {
                                    parent.hideActionDialog();
                                    self.val('');
                                    $('#ser_time').val('');
                                    self.focus();
                                }
                            }
                        ],
                        boxWidth: 400
                    });
                }
            }
        });
    </script>
    {/literal}
</head>
<body>

{include file="form_table_header.html"}
{if $emp_privileges.manage_services}
<div class="ftb-body">
    {if $action == 'VIEW_DETAIL'}
    <!-- VIEW_DETAIL -->
    <div class="table-view-detail-image full">
                        
    </div>
    <table class="table-view-detail">
        <tbody>
            <tr>
                <td>รหัสการใช้บริการ :</td>
                <td>{$code}</td>
            </tr>
            <tr>
                <td>ผู้ใช้บริการ :</td>
                <td>
                    <a href="form_table.php?action=VIEW_DETAIL&tableName=customers&code={$values.cus_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                            <div id="cus_id" class="selectReferenceJS text" style="cursor:pointer;"></div>
                        </a>
                </td>
            </tr>
            <tr>
                <td>พนักงานที่รับเงิน :</td>
                <td>
                    <a href="form_table.php?action=VIEW_DETAIL&tableName=employees&code={$values.emp_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                            <div id="emp_id" class="selectReferenceJS text" style="cursor:pointer;"></div>
                        </a>
                </td>
            </tr>
            <tr>
                <td>วันที่ใช้บริการ :</td>
                <td>{$values.ser_date_th}</td>
            </tr>
            <tr>
                <td>เวลาที่บันทึกข้อมูล :</td>
                <td>{$values.ser_time} น.</td>
            </tr>
            <tr>
                <td>อ้างอิงรหัสการจอง :</td>
                <td>
                    {if $values.bkg_id != '-'}
                        <a href="form_table.php?action=VIEW_DETAIL&tableName=booking&code={$values.bkg_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">{$values.bkg_id}</a>
                    {else}
                        ไม่ได้ระบุ
                    {/if}
                </td>
            </tr>
            <tr>
                <td>เตียงนวด :</td>
                <td><div id="bed_id" class="selectReferenceJS text"></div></td>
            </tr>
            <tr>
                <td>ราคาสุทธิ :</td>
                <td>{$values.ser_total_price|number_format:2:".":","} บาท</td>
            </tr>
            <tr>
                <td>ประเภทการชำระเงิน :</td>
                <td><div id="paytyp_id" class="selectReferenceJS text"></div></td>
            </tr>
        </tbody> 
    </table>
        <!--Service package Data-->
        {if $viewSerpkgData|@count > 0}
        <label class="article-title">แพ็คเกจที่ใช้บริการ</label>
        ทั้งหมด <span>{$viewSerpkgData|@count}</span> รายการ
        <table class="view-detail-reference" style="margin-top:5px;">
            <thead>
                <tr>
                    <th style="text-align:center;">ลำดับ</th>
                    <th>รหัสแพ็คเกจ</th>
                    <th class="txtLong-col">ชื่อแพ็คเกจ</th>
                    <th>พนักงานที่ให้บริการ</th>
                    <th>ราคาต่อรายการ(บาท)</th>
                    <th>จำนวน(ครั้ง)</th>
                    <th>ส่วนลด(บาท)</th>
                    <th>ราคารวม(บาท)</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$viewSerpkgData key=i item=serpkg}
                <tr>
                    <td align="center">{$serpkg.no}</td>
                    <td align="left">
                        <a href="form_table.php?action=VIEW_DETAIL&tableName=packages&code={$serpkg.pkg_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                            {$serpkg.pkg_id}
                        </a>
                    </td>
                    <td align="left" class="txtLong-col">{$serpkg.pkg_name}</td>
                    <td align="left">
                        <ul style="margin:0;">
                            {foreach from=$serpkg.employees key=i item=emp_fullname}
                                <li>{$emp_fullname}</li>
                            {/foreach}
                        </ul>
                    </td>
                    <td align="right">{$serpkg.pkg_price}</td>
                    <td align="right">{$serpkg.serpkg_amount}</td>
                    <td align="right">{$serpkg.serpkg_discout|number_format:2:".":","}</td>
                    <td align="right">{$serpkg.serpkg_total_price|number_format:2:".":","}</td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        <br><br>
        {/if}

        <!--Service service list Data-->
        {if $viewSersvlData|@count > 0}
        <label class="article-title">รายการบริการที่ใช้บริการ</label>
        ทั้งหมด <span>{$viewSersvlData|@count}</span> รายการ
        <table class="view-detail-reference" style="margin-top:5px;">
            <thead>
                <tr>
                    <th style="text-align:center;">ลำดับ</th>
                    <th>รหัสรายการบริการ</th>
                    <th class="txtLong-col">ชื่อรายการบริการ</th>
                    <th>พนักงานที่ให้บริการ</th>
                    <th>ครั่งละ(บาท)</th>
                    <th>จำนวน(ครั้ง)</th>
                    <th>ส่วนลด(บาท)</th>
                    <th>ราคารวม(บาท)</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$viewSersvlData key=i item=sersvl}
                <tr>
                    <td align="center">{$sersvl.no}</td>
                    <td align="left">
                        <a href="form_table.php?action=VIEW_DETAIL&tableName=service_lists&code={$sersvl.svl_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                            {$sersvl.svl_id}
                        </a>
                    </td>
                    <td align="left" class="txtLong-col">{$sersvl.svl_name}</td>
                    <td align="left">
                        <ul style="margin:0;">
                            {foreach from=$sersvl.employees key=i item=emp_fullname}
                                <li>{$emp_fullname}</li>
                            {/foreach}
                        </ul>
                    </td>
                    <td align="right">{$sersvl.svl_price}</td>
                    <td align="right">{$sersvl.sersvl_amount}</td>
                    <td align="right">{$sersvl.sersvl_discout|number_format:2:".":","}</td>
                    <td align="right">{$sersvl.sersvl_total_price|number_format:2:".":","}</td>
                </tr>
                {/foreach}
            </tbody>
        </table>
        {/if}
    {else}      
    <!-- ADD, EDIT -->             
    <form id="form-table" name="form-table" onsubmit="return false;">
    <input type="hidden" name="requiredFields" value="emp_id,cus_id,paytyp_id,bed_id,ser_date,ser_total_price,ser_time">
    <table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
	    <tbody>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-emp_id-require" class="errInputMsg err-emp_id">โปรดเลือกพนักงานที่รับเงิน</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="input-required">ผู้ใช้บริการ</label>
                    <div id="cus_id" class="selectReferenceJS form-input full" require></div>
                    <span class="custype_text_container">
                        (ประเภทผู้ใช้บริการ: <span id="custype_text"></span>)
                    </span>
                    <div id="custype_id" class="selectReferenceJS form-input full text" style="display:none;"></div>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-cus_id-require" class="errInputMsg err-cus_id">โปรดเลือกผู้ใช้บริการ</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="input-required">วันที่ใช้บริการ</label>
                      <input id="ser_date" name="ser_date" type="text" class="mbk-dtp-th form-input half" value="{if $values.ser_date}{$values.ser_date}{else}{$nowDate}{/if}" require>
                </td>
                <td>
                    <label class="input-required">เวลาที่บันทึกข้อมูล</label>
                      <input id="ser_time" name="ser_time" type="text" class="form-input half" value="{if $values.ser_time}{$values.ser_time}{else}{$nowTime}{/if}" require>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td>
                    <span id="err-ser_date-require" class="errInputMsg half err-ser_date">โปรดป้อนวันที่ใช้บริการ</span>
                </td>
                <td>
                    <span id="err-ser_time-require" class="errInputMsg half err-ser_time">โปรดป้อนเวลาที่ใช้บริการ</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="input-required">เตียงนวด</label>
                    <div id="bed_id" class="selectReferenceJS form-input full" require></div>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-bed_id-require" class="errInputMsg err-bed_id">โปรดเลือกเตียงนวด</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="position:relative;">
                    <label>รหัสการจอง</label>
                    <div id="bkg_id" class="selectReferenceJS form-input full"></div>
                    <img class="pullBkgId-loader" src="../img/loading.gif">
                </td>
            </tr>
	    </tbody>
    </table>

    <label class="article-title">รายละเอียดการใช้บริการแพ็คเกจ</label>
    รายการแพ็คเกจทั้งหมด <span id="allPkg"></span> รายการ<br><br>
    <table id="service-package-table" class="mbk-form-input-normal" cellpadding="0" cellspacing="0" style="width:100%;">
        <tbody>
            <tr class="headTable-row">
                <td><label class="input-required"><b>แพ็คเกจ</b></label></td>
                <td align="right" style="padding-right:20px;"><label><b>รายการละ</b></label></td>
                <td style="padding-left:40px;" class="qty-column"><label class="input-required"><b>จำนวน</b></label></td>
                <td align="right"><label>ส่วนลด</label></td>
                <td align="right"><label>ราคารวม</label></td>
            </tr>
        </tbody>
    </table>
    <button id="addPackageBtn" class="button button-icon button-icon-add">เพิ่มแพ็คเกจ</button>
    <br>
    <br>
    <br>
    <label class="article-title">รายละเอียดการใช้บริการรายการบริการ</label>
    รายการบริการทั้งหมด <span id="allSvl"></span> รายการ<br><br>
    <table id="service-service-list-table" class="mbk-form-input-normal" cellpadding="0" cellspacing="0" style="width:100%;">
        <tbody>
            <tr class="headTable-row">
                <td><label class="input-required"><b>รายการบริการ</b></label></td>
                <td><label class="input-required"><b>เวลาที่ใช้บริการ</b></label></td>
                <td align="right" style="padding-right:20px;"><b>เวลาที่ใช้</b></td>
                <td align="right" style="padding-right:20px;"><label><b>รายการละ</b></label></td>
                <td style="padding-left:40px;" class="qty-column"><label class="input-required"><b>จำนวน</b></label></td>
                <td align="right"><label>ส่วนลด</label></td>
                <td align="right"><label>ราคารวม</label></td>
            </tr>
        </tbody>
    </table>
    <button id="addServiceListBtn" class="button button-icon button-icon-add">เพิ่มรายการบริการ</button>

    <table class="mbk-form-input-normal" cellpadding="0" cellspacing="0" style="margin-top: 40px;">
        <tr>          
            <td colspan="2">
                <label class="input-required">ประเภทการชำระเงิน</label>
                <div id="paytyp_id" class="selectReferenceJS form-input full" require></div>
            </td>
        </tr>
        <tr class="errMsgRow">
            <td colspan="2">
                <span id="err-paytyp_id-require" class="errInputMsg err-paytyp_id">โปรดเลือกประเภทการชำระเงิน</span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label class="input-required">พนักงานที่รับเงิน</label>
                <div id="emp_id" class="selectReferenceJS form-input full" require></div>
            </td>
        </tr>
        <tr>
             <td colspan="2">
                <label class="input-required">ส่วนลดโปรโมชั่นทั้งหมด(บาท)</label>
               <input id="ser_prm_discout" name="ser_prm_discout" type="text" class="form-input full readonly" 
               value="{if $values.ser_prm_discout}{$values.ser_prm_discout}{else}0.00{/if}" valuepattern="money" require readonly>
            </td>         
        </tr>
        <tr class="errMsgRow">
            <td colspan="2">
                <span id="err-ser_prm_discout-require" class="errInputMsg err-ser_prm_discout">โปรดป้อนส่วนลดโปรโมชั่น</span>
                <span id="err-ser_prm_discout-money" class="errInputMsg err-ser_prm_discout">รูปแบบจำนวนเงินไม่ถูกต้อง จำนวนเงินเป็นได้เฉพาะตัวเลข ไม่มีคอมม่าคั่น จุดทศนิยม 2 ตำแหน่ง เช่น 130, 1600.25</span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <label class="input-required">ราคาสุทธิ(บาท)</label>
                <input id="ser_total_price" name="ser_total_price" type="text" class="form-input full readonly" value="{if $values.ser_total_price}{$values.ser_total_price}{else}0.00{/if}" valuepattern="money" require readonly>
            </td>
        </tr>
        <tr class="errMsgRow">
            <td colspan="2">
                <span id="err-ser_total_price-require" class="errInputMsg err-ser_total_price">โปรดป้อนราคาสุทธิ</span>
                <span id="err-ser_total_price-money" class="errInputMsg err-ser_total_price">รูปแบบจำนวนเงินไม่ถูกต้อง จำนวนเงินเป็นได้เฉพาะตัวเลข ไม่มีคอมม่าคั่น จุดทศนิยม 2 ตำแหน่ง เช่น 130, 1600.25</span>
            </td>
        </tr>
        <tr>
             <td colspan="2">
                <label>จำนวนเงินที่รับมา(บาท)</label>
               <input id="ser_pay_price" name="ser_pay_price" type="text" class="form-input full" 
               value="{if $values.ser_pay_price}{$values.ser_pay_price|number_format:2:".":""}{else}0.00{/if}" valuepattern="moneyMorethanEqual" data-morethanEqual-id="ser_total_price" require>
            </td>         
        </tr>
        <tr class="errMsgRow">
            <td colspan="2">
                <span id="err-ser_pay_price-require" class="errInputMsg err-ser_pay_price">โปรดป้อนจำนวนเงินที่รับมา</span>
                <span id="err-ser_pay_price-money" class="errInputMsg err-ser_pay_price">รูปแบบจำนวนเงินไม่ถูกต้อง จำนวนเงินเป็นได้เฉพาะตัวเลข ไม่มีคอมม่าคั่น จุดทศนิยม 2 ตำแหน่ง เช่น 130, 1600.25</span>
                <span id="err-ser_pay_price-moneyMorethanEqual" class="errInputMsg err-ser_pay_price">จำนวนเงินที่รับมาน้อยกว่าราคาสุทธิ กรุณาป้อนจำนวนเงินใหม่</span>
            </td>
        </tr>
        <tr>
             <td colspan="2">
                <label>เงินทอน(บาท)</label>
               <input id="changeMoney" name="changeMoney" type="text" class="form-input full readonly" 
               value="{if $changeMoney}{$changeMoney|number_format:2:".":","}{else}0.00{/if}" valuepattern="money" require readonly>
            </td>         
        </tr>
        <tr class="errMsgRow">
            <td colspan="2">
                <span id="err-changeMoney-require" class="errInputMsg err-changeMoney">โปรดป้อนเงินทอน</span>
                <span id="err-changeMoney-money" class="errInputMsg err-changeMoney">รูปแบบจำนวนเงินไม่ถูกต้อง จำนวนเงินเป็นได้เฉพาะตัวเลข ไม่มีคอมม่าคั่น จุดทศนิยม 2 ตำแหน่ง เช่น 130, 1600.25</span>
            </td>
        </tr>
    </table>
    </form>
    {/if}
</div><!-- end ftb-body -->
{else}
<div class="noPrivilege-formTable-container">
    <div class="noPrivilege-formTable-inner">
        <i class="fa fa-lock"></i><br>คุณไม่ได้รับสิทธิ์ในการเข้าถึงข้อมูลในส่วนนี้
    </div>
</div>
{/if}<!-- end if privileges -->
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
	3.  input[name="uniqueFields"] ใส่ชื่อฟิลด์ที่ต้องการเช็คว่าห้ามซ้ำ
-->