<!DOCTYPE html>
<html lang="th">
<head>
	<title>Spa - Backoffice</title>
	<meta charset="UTF-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
	<link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
	<script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
		var tableNameTH = '{/literal}{$tableNameTH}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_table.php';

        $(document).ready(function () {
            selectReferenceJS({
                elem            : $('#svl_id'),
                data            : {/literal}{$referenceData["service_lists"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.svl_id}{literal}'
            });

            selectReferenceJS({
                elem            : $('#prm_id'),
                data            : {/literal}{$referenceData["promotions"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.prm_id}{literal}'
            });

			$('#prmsvl_start').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#prmsvl_start').blur();
                },
                onShow:function( ct ){
                    if(action == 'ADD') {
                    	this.setOptions({
	                        minDate: realDateToTmpDate('{/literal}{$nowDate}{literal}'),
	                        maxDate:$('#prmsvl_end').val()?unconvertThaiDate($('#prmsvl_end').val()):false
	                    });
                    } else if(action == 'EDIT') {
                    	this.setOptions({
	                        maxDate:$('#prmsvl_end').val()?unconvertThaiDate($('#prmsvl_end').val()):false
	                    });
                    }
                },
                timepicker:false
            });

			$('#prmsvl_end').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#prmsvl_end').blur();
                },
                onShow:function( ct ){
                    if(action == 'ADD') {
                    	this.setOptions({
	                        minDate:$('#prmsvl_start').val()?unconvertThaiDate($('#prmsvl_start').val()):realDateToTmpDate('{/literal}{$nowDate}{literal}')
	                    });
                    } else if(action="EDIT") {
                    	this.setOptions({
	                        minDate:$('#prmsvl_start').val()?unconvertThaiDate($('#prmsvl_start').val()):false
	                    });
                    }
                },
                timepicker:false
            });

            // Check date
            $('#prmsvl_start').change(function(){
                checkDate($(this), $('#prmsvl_end'));
            });
            $('#prmsvl_end').change(function() {
                checkDate($(this), $('#prmsvl_start'));
            });
        });

		function checkDate(self, sibling) {
            // Skip check
            if(self.val() == '' || isDateThaiFormat(self.val())) {
                return;
            }

            var selfDate        = new Date(self.val());
            var siblingDate     = new Date(unconvertThaiDate(sibling.val()));
            var nowDate         = new Date(realDateToTmpDate('{/literal}{$nowDate}{literal}'));
            var selfId          = self.attr('id');

            // Check sibling
            if(sibling.val() != '') {
                if(selfId == 'prmsvl_start') {
                    if(selfDate.getTime() > siblingDate.getTime()) {
                        showAlertInvalidDate(self, 'overSibling');
                        return;
                    }
                } else if(selfId == 'prmsvl_end') {
                    if(selfDate.getTime() < siblingDate.getTime()) {
                        showAlertInvalidDate(self, 'overSibling');
                        return;
                    }
                }
            }

            if(action == 'ADD') {
            	// Check now date
                if(selfId == 'prmsvl_start') {
                    if(selfDate.getTime() < nowDate.getTime()) {
                        showAlertInvalidDate(self, 'lessThanNow')
                    }
                } else if(selfId == 'prmsvl_end') {
                    if(selfDate.getTime() < nowDate.getTime()) {
                        showAlertInvalidDate(self, 'lessThanNow')
                    }
                }
            }
        }
        function showAlertInvalidDate(self, errType) {
            var titleTxt    = '';
            var messageTxt  = '';
            var descTxt     = '';
            var selfId      = self.attr('id');

            if(selfId == 'prmsvl_start') {
                titleTxt    = 'วันที่เริ่มใช้ไม่ถูกต้อง';
                descTxt     = 'ป้อนวันที่เริ่มใช้ใหม่';
                if(errType == 'overSibling') {
                    messageTxt  = 'วันที่เริ่มใช้ไม่สามารถอยู่หลังวันที่สิ้นสุดได้ค่ะ';
                } else if(errType == 'lessThanNow') {
                    messageTxt  = 'ไม่สามารถป้อนวันที่เริ่มใช้ย้อนหลังได้ค่ะ';
                }
            } else if(selfId == 'prmsvl_end') {
                titleTxt    = 'วันที่สิ้นสุดไม่ถูกต้อง';
                descTxt     = 'ป้อนวันที่สิ้นสุดใหม่';
                if(errType == 'overSibling') {
                    messageTxt  = 'วันที่สิ้นสุดไม่สามารถอยู่ก่อนหน้าวันที่เริ่มใช้ได้ค่ะ';
                } else if(errType == 'lessThanNow') {
                    messageTxt  = 'ไม่สามารถป้อนวันที่สิ้นสุดย้อนหลังได้ค่ะ';
                }
            }

            if(parent.$('.action-dialog-container').length <= 0) {
                parent.showActionDialog({
                    title: titleTxt,
                    message: messageTxt,
                    actionList: [
                        {
                            id: 'ok',
                            name: 'ตกลง',
                            desc: descTxt,
                            func:
                            function() {
                                parent.hideActionDialog();
                                self.val('');
                                self.focus();
                            }
                        }
                    ],
                    boxWidth: 400
                });
            }
        }
    </script>
    {/literal}
</head>
<body>

{include file="form_table_header.html"}
<div class="ftb-body">
	{if $action == 'VIEW_DETAIL'}
	<!-- VIEW_DETAIL -->
	<table class="table-view-detail">
		<tbody> 			
			<tr>
				<td>รหัสรายการบริการที่จัดโปรโมชั่น :</td>
				<td>{$code}</td>
			</tr>
			<tr>
				<td>รายการบริการ :</td>
				<td>
					<a href="form_table.php?action=VIEW_DETAIL&tableName=service_lists&code={$values.svl_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                        <div id="svl_id" class="selectReferenceJS text" style="cursor:pointer;"></div>
                	</a>
				</td>
			</tr>
			<tr>
				<td>โปรโมชั่นที่จัด :</td>
				<td>
					<a href="form_table.php?action=VIEW_DETAIL&tableName=promotions&code={$values.prm_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                        <div id="prm_id" class="selectReferenceJS text" style="cursor:pointer;"></div>
                	</a>
				</td>
			</tr>
			<tr>
				<td>ราคา :</td>
				<td>{$values.prmsvl_price|number_format:2:".":","} บาท</td>
			</tr>
			<tr>
				<td>วันที่เริ่มใช้ :</td>
				<td>{$values.prmsvl_start}</td>
			</tr>
			<tr>
				<td>วันที่สิ้นสุด :</td>
				<td>{if $values.prmsvl_end}{$values.prmsvl_end}{else}-{/if}</td>
			</tr>
			<tr>
				<td>คำอธิบาย :</td>
				<td>{if $values.prmsvl_desc}{$values.prmsvl_desc}{else}-{/if}</td>
			</tr>
		
		</tbody>
	</table>
	{else}	 	
	<!-- ADD, EDIT -->	 
    <form id="form-table" name="form-table" onsubmit="return false;">
	<input type="hidden" name="requiredFields" value="svl_id,prm_id,prmsvl_price,prmsvl_start">
    <table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
	    <tbody>
			<tr>
			    <td colspan="2">
				    <label class="input-required">ชื่อรายการบริการ</label>
				    <div id="svl_id" class="selectReferenceJS form-input full" require></div>
			    </td>
		    </tr>
		    <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-svl_id-require" class="errInputMsg half err-svl_id">โปรดเลือกรายการบริการ</span>
                </td>
            </tr>
			<tr>
			    <td colspan="2">
				    <label class="input-required">ชื่อโปรโมชั่น</label>
				    <div id="prm_id" class="selectReferenceJS form-input full" require></div>
			    </td>
		    </tr>
		    <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-prm_id-require" class="errInputMsg half err-prm_id">โปรดเลือกโปรโมชั่น</span>
                </td>
            </tr>
		    <tr>
			    <td colspan="2">
				    <label class="input-required">ราคา (บาท)</label>
				    <input id="prmsvl_price" name="prmsvl_price" type="text" class="form-input full" value="{$values.prmsvl_price}" valuepattern="money" require style="text-align:right;">
			    </td>
		    </tr>
		    <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-prmsvl_price-require" class="errInputMsg half err-prmsvl_price">โปรดป้อนราคา</span>
                    <span id="err-prmsvl_price-money" class="errInputMsg err-prmsvl_price">รูปแบบจำนวนเงินไม่ถูกต้อง จำนวนเงินเป็นได้เฉพาะตัวเลข ไม่มีคอมม่าคั่น จุดทศนิยม 2 ตำแหน่ง เช่น 130, 1600.25</span>
                </td>
            </tr>
			<tr>
                <td>
                    <label class="input-required">วันที่เริ่มใช้</label>
				    <input id="prmsvl_start" name="prmsvl_start" type="text" class="mbk-dtp-th form-input half" value="{$values.prmsvl_start}" require>
			    </td>
			    <td>
				    <label>วันที่สิ้นสุด</label>
				    <input id="prmsvl_end" name="prmsvl_end" type="text" class="mbk-dtp-th form-input half" value="{$values.prmsvl_end}">
			    </td>
		    </tr>
		    <tr class="errMsgRow">
                <td>
                    <span id="err-prmsvl_start-require" class="errInputMsg half err-prmsvl_start">โปรดป้อนวันที่เริ่มใช้</span>
                </td>
                <td></td>
            </tr>
            <tr>
			    <td colspan="2">
				    <label>คำอธิบาย</label>
					<textarea id="prmsvl_desc" name="prmsvl_desc" class="form-input full" rows="6">{$values.prmsvl_desc}</textarea>
			    </td>
		    </tr>
	    </tbody>
    </table>
    </form>
    {/if}
</div>
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
	3.  input[name="uniqueFields"] ใส่ชื่อฟิลด์ที่ต้องการเช็คว่าห้ามซ้ำ
-->