<!DOCTYPE html>
<html lang="th">
<head>
	<title>Spa - Backoffice</title>
	<meta charset="UTF-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
    <link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
		var tableNameTH = '{/literal}{$tableNameTH}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_table.php';

        $(document).ready(function() {
            $('#hld_startdate').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#hld_startdate').blur();
                },
                onShow:function( ct ){
                    if(action == 'ADD') {
                        this.setOptions({
                            minDate: realDateToTmpDate('{/literal}{$nowDate}{literal}'),
                            maxDate:$('#hld_enddate').val()?unconvertThaiDate($('#hld_enddate').val()):false
                        });
                    } else if(action == 'EDIT') {
                        this.setOptions({
                            maxDate:$('#hld_enddate').val()?unconvertThaiDate($('#hld_enddate').val()):false
                        });
                    }
                },
                timepicker:false
            });

            $('#hld_enddate').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#hld_enddate').blur();
                },
                onShow:function( ct ){
                    if(action == 'ADD') {
                        this.setOptions({
                            minDate:$('#hld_startdate').val()?unconvertThaiDate($('#hld_startdate').val()):realDateToTmpDate('{/literal}{$nowDate}{literal}')
                        });
                    } else if(action="EDIT") {
                        this.setOptions({
                            minDate:$('#hld_startdate').val()?unconvertThaiDate($('#hld_startdate').val()):false
                        });
                    }
                },
                timepicker:false
            });

            // Check date
            $('#hld_startdate').change(function(){
                checkDate($(this), $('#hld_enddate'));
            });
            $('#hld_enddate').change(function() {
                checkDate($(this), $('#hld_startdate'));
            });

            
        });

        function checkDate(self, sibling) {
            // Skip check
            if(self.val() == '' || isDateThaiFormat(self.val())) {
                return;
            }

            var selfDate        = new Date(self.val());
            var siblingDate     = new Date(unconvertThaiDate(sibling.val()));
            var nowDate         = new Date(realDateToTmpDate('{/literal}{$nowDate}{literal}'));
            var selfId          = self.attr('id');

            // Check sibling
            if(sibling.val() != '') {
                if(selfId == 'hld_startdate') {
                    if(selfDate.getTime() > siblingDate.getTime()) {
                        showAlertInvalidDate(self, 'overSibling');
                        return;
                    }
                } else if(selfId == 'hld_enddate') {
                    if(selfDate.getTime() < siblingDate.getTime()) {
                        showAlertInvalidDate(self, 'overSibling');
                        return;
                    }
                }
            }

            if(action == 'ADD') {
                // Check now date
                if(selfId == 'hld_startdate') {
                    if(selfDate.getTime() < nowDate.getTime()) {
                        showAlertInvalidDate(self, 'lessThanNow')
                    }
                } else if(selfId == 'hld_enddate') {
                    if(selfDate.getTime() < nowDate.getTime()) {
                        showAlertInvalidDate(self, 'lessThanNow')
                    }
                }
            }
        }
        function showAlertInvalidDate(self, errType) {
            var titleTxt    = '';
            var messageTxt  = '';
            var descTxt     = '';
            var selfId      = self.attr('id');

            if(selfId == 'hld_startdate') {
                titleTxt    = 'วันหยุดเริ่มต้นไม่ถูกต้อง';
                descTxt     = 'ป้อนวันหยุดเริ่มต้นใหม่';
                if(errType == 'overSibling') {
                    messageTxt  = 'วันหยุดเริ่มต้นไม่สามารถอยู่หลังหยุดสิ้นสุดได้ค่ะ';
                } else if(errType == 'lessThanNow') {
                    messageTxt  = 'ไม่สามารถป้อนวันหยุดเริ่มต้นย้อนหลังได้ค่ะ';
                }
            } else if(selfId == 'hld_enddate') {
                titleTxt    = 'วันหยุดสิ้นสุดไม่ถูกต้อง';
                descTxt     = 'ป้อนวันหยุดสิ้นสุดใหม่';
                if(errType == 'overSibling') {
                    messageTxt  = 'วันหยุดสิ้นสุดไม่สามารถอยู่ก่อนหน้าวันหยุดเริ่มต้นได้ค่ะ';
                } else if(errType == 'lessThanNow') {
                    messageTxt  = 'ไม่สามารถป้อนวันหยุดสิ้นสุดย้อนหลังได้ค่ะ';
                }
            }

            if(parent.$('.action-dialog-container').length <= 0) {
                parent.showActionDialog({
                    title: titleTxt,
                    message: messageTxt,
                    actionList: [
                        {
                            id: 'ok',
                            name: 'ตกลง',
                            desc: descTxt,
                            func:
                            function() {
                                parent.hideActionDialog();
                                self.val('');
                                self.focus();
                            }
                        }
                    ],
                    boxWidth: 400
                });
            }
        }

        function beforeSaveRecord() {
            // Not check time overlap
            if($('#hld_name').val() == '' || $('#hld_startdate').val() == '' || $('#hld_enddate').val() == '') {
                return false;
            }

            var returnVal = true; // false = no err, true = have err

            $.ajax({
                url: '../common/ajaxCheckHolidaysTimeOverlap.php',
                type: 'POST',
                data: {
                    hld_id       : code,
                    startdate       : tmpDateToRealDate($('#hld_startdate').val()),
                    enddate         : tmpDateToRealDate($('#hld_enddate').val())
                },
                success:
                function(responseJSON) {
                    var response = $.parseJSON(responseJSON);
                    if(response.status == 'OVERLAP') {
                        var overlapListHTML = '<ul>';
                        for(i in response.overlapList) {
                            overlapListHTML += '<li>' + response.overlapList[i] + '</li>';
                        }
                        overlapListHTML += '</ul>';

                        var msg = 'คุณกำหนดระยะเวลาของวันหยุด ' 
                                + $('#hld_name').val()
                                + ' ซ้อนทับกับช่วงเวลาดังต่อไปนี้' + overlapListHTML 
                                + '<br>โปรดแก้ไขระยะเวลาของวันหยุดไม่ให้อยู่ในช่วงเวลาดังกล่าว';
                        parent.showActionDialog({
                            title: 'ระยะเวลาของวันหยุดซ้อนทับกัน',
                            message: msg,
                            actionList: [
                                {
                                    id: 'ok',
                                    name: 'ตกลง',
                                    func:
                                    function() {
                                        parent.hideActionDialog();
                                    }
                                }
                            ],
                            boxWidth: 500
                        });
                    } else if(response.status == 'NOT_OVERLAP') {
                        if(action == 'ADD') {
                            if(!hasInputError()) {
                                saveRecord();
                            }
                        } else if(action == 'EDIT') {
                            if(!hasInputError()) {
                                confirmSaveRecord();
                            }
                        }
                    } else {
                        alert(response.status);
                    }
                }
            });

            return returnVal;
        }
    </script>
    {/literal}
</head>
<body>

{include file="form_table_header.html"}
{if $emp_privileges.manage_standard_tables}
<div class="ftb-body">
    <form id="form-table" name="form-table" onsubmit="return false;">
	<input type="hidden" name="requiredFields" value="hld_name,hld_startdate,hld_enddate">
    <table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
	    <tbody>
		    <tr>
			    <td colspan="2">
				    <label class="input-required">ชื่อวันหยุด</label>
				    <input id="hld_name" name="hld_name" type="text" class="form-input full" value="{$values.hld_name}" require>
			    </td>
		    </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-hld_name-require" class="errInputMsg err-hld_name">โปรดป้อนชื่อวันหยุด</span>
                    <span id="err-hld_name-unique" class="errInputMsg err-hld_name">ชื่อเพศซ้ำ โปรดป้อนชื่อเพศใหม่</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="input-required">วันหยุดเริ่มต้น</label>
                      <input id="hld_startdate" name="hld_startdate" type="text" class="mbk-dtp-th form-input half" value="{if $values.hld_startdate}{$values.hld_startdate}{/if}" require>
                </td>
                <td>
                    <label class="input-required">วันหยุดสิ้นสุด</label>
                      <input id="hld_enddate" name="hld_enddate" type="text" class="mbk-dtp-th form-input half" value="{if $values.hld_enddate}{$values.hld_enddate}{/if}" require>
                </td>
            </tr>
             <tr class="errMsgRow">
                <td>
                    <span id="err-hld_startdate-require" class="errInputMsg err-hld_startdate">โปรดป้อนวันหยุดเริ่มต้น</span>
                </td>
                <td>
                    <span id="err-hld_enddate-require" class="errInputMsg err-hld_enddate">โปรดป้อนวันหยุดสิ้นสุด</span>
                </td>
            </tr>
	    </tbody>
    </table>
    </form>
</div><!-- end ftb-body -->
{else}
<div class="noPrivilege-formTable-container">
    <div class="noPrivilege-formTable-inner">
        <i class="fa fa-lock"></i><br>คุณไม่ได้รับสิทธิ์ในการเข้าถึงข้อมูลในส่วนนี้
    </div>
</div>
{/if}<!-- end if privileges -->
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
	3.  input[name="uniqueFields"] ใส่ชื่อฟิลด์ที่ต้องการเช็คว่าห้ามซ้ำ
-->