<!DOCTYPE html>
<html lang="th">
<head>
	<title>Spa - Backoffice</title>
	<meta charset="UTF-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
		var tableNameTH = '{/literal}{$tableNameTH}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_products.php';

        $(document).ready(function () {
            selectReferenceJS({
                elem            : $('#prdtyp_id'),
                data            : {/literal}{$referenceData["product_types"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.prdtyp_id}{literal}'
            });

            selectReferenceJS({
                elem            : $('#brand_id'),
                data            : {/literal}{$referenceData["brands"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.brand_id}{literal}'
            });

            selectReferenceJS({
                elem            : $('#unit_id'),
                data            : {/literal}{$referenceData["units"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.unit_id}{literal}'
            });

            uploadImageInput({
                area: $('#prd_pic'),
                input: $('input[name="prd_pic"]'),
                selector: $('#prd_pic_file'),
                defaultValue: '{/literal}{if $values.prd_pic}../img/products/{$values.prd_pic}?rand={$randNum}{/if}{literal}'
            });
        });
    </script>
    {/literal}
</head>
<body>

{include file="form_table_header.html"}
<div class="ftb-body">
    <div class="ftb-body">
    {if $action == 'VIEW_DETAIL'}
    <!-- VIEW_DETAIL-->
    <div class="table-view-detail-image full">
    <img src="{if $values.prd_pic != '-'}../img/products/{$values.prd_pic}?rand={$randNum}{else}../img/backoffice/no-pic.png{/if}">
    </div>
    <table class="table-view-detail">
        <tbody>                     
            <tr>
                <td>รหัสผลิตภัณฑ์ :</td>
                <td>{$code}</td>
            </tr>
            <tr>
                <td>ประเภทผลิตภัณฑ์ :</td>
                <td><div id="prdtyp_id" class="selectReferenceJS text"></td>
            </tr>
            <tr>
                <td>ยี่ห้อ :</td>
                <td><div id="brand_id" class="selectReferenceJS text"></td>
            </tr>
            <tr>
                <td>ชื่อผลิตภัณฑ์ :</td>
                <td>{$values.prd_name}</td>
            </tr>
            <tr>
                <td>คำอธิบาย :</td>
                <td>{if $values.prd_desc}{$values.prd_desc}{else}-{/if}</td>
            </tr>
            <tr>
                <td>ราคา :</td>
                <td>{$values.prd_price|number_format:2:".":","} บาท</td>
            </tr>
            <tr>
                <td>จำนวน :</td>
                <td>{$values.prd_amount}   <div id="unit_id" class="selectReferenceJS text"></td>
            </tr>
            <tr>
                <td>รหัสบาร์โค้ด :</td>
                <td>{if $values.prd_barcode}{$values.prd_barcode}{else}-{/if}</td>
            </tr>
        </tbody>
    </table>
    {else}      
    <!-- ADD, EDIT -->
    <form id="form-table" name="form-table" onsubmit="return false;">
	<input type="hidden" name="requiredFields" value="prd_name,prdtyp_id,brand_id,prd_price,unit_id">
    <input type="hidden" name="uniqueFields" value="prd_name">
    <table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
	    <tbody>
			<tr>
			    <td colspan="2">
				    <label class="input-required">ชื่อผลิตภัณฑ์</label>
				    <input id="prd_name" name="prd_name" type="text" class="form-input full" value="{$values.prd_name}" require>
			    </td>
		    </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-prd_name-require" class="errInputMsg half err-prd_name">โปรดป้อนชื่อผลิตภัณฑ์</span>
                    <span id="err-prd_name-unique" class="errInputMsg err-prd_name">ผลิตภัณฑ์้ำ โปรดป้อนชื่อผลิตภัณฑ์ใหม่</span>
                </td>
            </tr>
			<tr>
			    <td colspan="2">
				    <label class="input-required">ประเภทผลิตภัณฑ์</label>
				    <div id="prdtyp_id" class="selectReferenceJS form-input full" require></div>
			    </td>
		    </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-prdtyp_id-require" class="errInputMsg half err-prdtyp_id">โปรดเลือกประเภทผลิตภัณฑ์</span>
                </td>
            </tr>
			<tr>
			    <td colspan="2">
				    <label class="input-required">ยี่ห้อ</label>
				    <div id="brand_id" class="selectReferenceJS form-input full" require></div>
			    </td>
		    </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-brand_id-require" class="errInputMsg half err-brand_id">โปรดเลือกยี่ห้อ</span>
                </td>
            </tr>
		    <tr>
                <td>
                    <label class="input-required">ราคา (บาท)</label>
					 <input id="prd_price" name="prd_price" type="text" class="form-input half" value="{$values.prd_price}" valuepattern="money" require style="text-align:right;">
                </td>
                <td>
					<label class="twoInput twoInput-small input-required">จำนวน</label>
					<label class="twoInput twoInput-large input-required">หน่วยนับ</label>
                    <br>
					<input id="prd_amount" name="prd_amount" type="text" class="form-input twoInput twoInput-small" value="{$values.prd_amount}" maxlength="6" size="6" valuepattern="number" style="text-align:right;">
					<div id="unit_id" class="selectReferenceJS form-input twoInput twoInput-large" require>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td>
                    <span id="err-prd_price-require" class="errInputMsg half err-prd_price">โปรดป้อนราคา</span>
                    <span id="err-prd_price-money" class="errInputMsg half err-prd_price">รูปแบบจำนวนเงินไม่ถูกต้อง จำนวนเงินเป็นได้เฉพาะตัวเลข ไม่มีคอมม่าคั่น จุดทศนิยม 2 ตำแหน่ง เช่น 130, 1600.25</span>
                </td>
                <td>
                    <span id="err-prd_amount-number" class="errInputMsg half err-prd_amount">โปรดกรอกจำนวนเป็นเลขจำนวนเต็ม</span>
                    <span id="err-unit_id-require" class="errInputMsg half err-unit_id">โปรดเลือกหน่วยนับ</span>
                </td>
            </tr>
            <tr>
                <td colspan=2>
                    <label>คำอธิบาย</label>
                    <textarea id="prd_desc" name="prd_desc" class="form-input full" rows="6">{$values.prd_desc}</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>รหัสบาร์โค้ด</label>
                    <input id="prd_barcode" name="prd_barcode" type="text" class="form-input full" value="{$values.prd_barcode}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>รูปภาพผลิตภัณฑ์</label>
                    <div id="prd_pic" class="uploadImageArea full"></div>
                    <input type="hidden" name="prd_pic" value="{$values.prd_pic}">
                </td>
            </tr>
        </tbody>
    </table>
    </form>

    <form method="post" enctype="multipart/form-data">
        <input id="prd_pic_file" type="file" name="imageFile" class="uploadImageSelector" multiple="multiple">
    </form>

    {/if}
</div>
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
	3.  input[name="uniqueFields"] ใส่ชื่อฟิลด์ที่ต้องการเช็คว่าห้ามซ้ำ
-->