<!DOCTYPE html>
<html lang="th">
<head>
	<title>Spa - Backoffice</title>
	<meta charset="UTF-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
	<link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
	<link rel="stylesheet" type="text/css" href="../inc/jquery-ui/jquery-ui.css"> 
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
	<script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
	<script type="text/javascript" src="../inc/jquery-ui/jquery-ui.js"></script> 
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
		var tableNameTH = '{/literal}{$tableNameTH}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_service_lists.php';

		$(document).ready(function() {
            selectReferenceJS({
                elem            : $('#svltyp_id'),
                data            : {/literal}{$referenceData["service_list_types"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.svltyp_id}{literal}'
            });

			uploadImageInput({
				area: $('#svl_picture'),
				input: $('input[name="svl_picture"]'),
				selector: $('#svl_picture_file'),
				defaultValue: '{/literal}{if $values.svl_picture}../img/service_lists/{$values.svl_picture}?rand={$randNum}{/if}{literal}'
			});

			// Set default value of textarea
			$('#svl_desc').text('{/literal}{$values.svl_desc}{literal}');

			$('#svl_start').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#svl_start').blur();
                },
                onShow:function( ct ){
                    if(action == 'ADD') {
                    	this.setOptions({
	                        minDate: realDateToTmpDate('{/literal}{$nowDate}{literal}'),
	                        maxDate:$('#svl_stop').val()?unconvertThaiDate($('#svl_stop').val()):false
	                    });
                    } else if(action == 'EDIT') {
                    	this.setOptions({
	                        maxDate:$('#svl_stop').val()?unconvertThaiDate($('#svl_stop').val()):false
	                    });
                    }
                },
                timepicker:false
            });

            $('#svl_stop').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#svl_stop').blur();
                },
                onShow:function( ct ){
                    if(action == 'ADD') {
                    	this.setOptions({
	                        minDate:$('#svl_start').val()?unconvertThaiDate($('#svl_start').val()):realDateToTmpDate('{/literal}{$nowDate}{literal}')
	                    });
                    } else if(action="EDIT") {
                    	this.setOptions({
	                        minDate:$('#svl_start').val()?unconvertThaiDate($('#svl_start').val()):false
	                    });
                    }
                },
                timepicker:false
            });

			// Check date
            $('#svl_start').change(function(){
                checkDate($(this), $('#svl_stop'));
            });
            $('#svl_stop').change(function() {
                checkDate($(this), $('#svl_start'));
            });

            // Set default radio input
            if(action == 'EDIT') {
                $('input[name="svl_type"][value="{/literal}{$values.svl_type}{literal}"]').click();
            }
		});

		function checkDate(self, sibling) {
	        // Skip check
	        if(self.val() == '' || isDateThaiFormat(self.val())) {
	            return;
	        }

	        var selfDate        = new Date(self.val());
	        var siblingDate     = new Date(unconvertThaiDate(sibling.val()));
	        var nowDate         = new Date(realDateToTmpDate('{/literal}{$nowDate}{literal}'));
	        var selfId          = self.attr('id');

	        // Check sibling
	        if(sibling.val() != '') {
	            if(selfId == 'svl_start') {
	                if(selfDate.getTime() > siblingDate.getTime()) {
	                    showAlertInvalidDate(self, 'overSibling');
	                    return;
	                }
	            } else if(selfId == 'svl_stop') {
	                if(selfDate.getTime() < siblingDate.getTime()) {
	                    showAlertInvalidDate(self, 'overSibling');
	                    return;
	                }
	            }
	        }

	        if(action == 'ADD') {
	        	// Check now date
	            if(selfId == 'svl_start') {
	                if(selfDate.getTime() < nowDate.getTime()) {
	                    showAlertInvalidDate(self, 'lessThanNow')
	                }
	            } else if(selfId == 'svl_stop') {
	                if(selfDate.getTime() < nowDate.getTime()) {
	                    showAlertInvalidDate(self, 'lessThanNow')
	                }
	            }
	        }
	    }
	    function showAlertInvalidDate(self, errType) {
	        var titleTxt    = '';
	        var messageTxt  = '';
	        var descTxt     = '';
	        var selfId      = self.attr('id');

	        if(selfId == 'svl_start') {
	            titleTxt    = 'วันที่เริ่มใช้ไม่ถูกต้อง';
	            descTxt     = 'ป้อนวันที่เริ่มใช้ใหม่';
	            if(errType == 'overSibling') {
	                messageTxt  = 'วันที่เริ่มใช้ไม่สามารถอยู่หลังวันที่สิ้นสุดได้ค่ะ';
	            } else if(errType == 'lessThanNow') {
	                messageTxt  = 'ไม่สามารถป้อนวันที่เริ่มใช้ย้อนหลังได้ค่ะ';
	            }
	        } else if(selfId == 'svl_stop') {
	            titleTxt    = 'วันที่สิ้นสุดไม่ถูกต้อง';
	            descTxt     = 'ป้อนวันที่สิ้นสุดใหม่';
	            if(errType == 'overSibling') {
	                messageTxt  = 'วันที่สิ้นสุดไม่สามารถอยู่ก่อนหน้าวันที่เริ่มใช้ได้ค่ะ';
	            } else if(errType == 'lessThanNow') {
	                messageTxt  = 'ไม่สามารถป้อนวันที่สิ้นสุดย้อนหลังได้ค่ะ';
	            }
	        }

	        if(parent.$('.action-dialog-container').length <= 0) {
	            parent.showActionDialog({
	                title: titleTxt,
	                message: messageTxt,
	                actionList: [
	                    {
	                        id: 'ok',
	                        name: 'ตกลง',
	                        desc: descTxt,
	                        func:
	                        function() {
	                            parent.hideActionDialog();
	                            self.val('');
	                            self.focus();
	                        }
	                    }
	                ],
	                boxWidth: 400
	            });
	        }
	    }
    </script>
    {/literal}
</head>
<body>
 	 	 	 	 
{include file="form_table_header.html"}
{if $emp_privileges.manage_service_lists}
<div class="ftb-body">
	{if $action == 'VIEW_DETAIL'}
	<!-- VIEW_DETAIL -->
	<div class="table-view-detail-image full">
		<img src="{if $values.svl_picture != '-'}../img/service_lists/{$values.svl_picture}?rand={$randNum}{else}../img/backoffice/no-pic.png{/if}">
	</div>
	<table class="table-view-detail">
		<tbody>
			<tr>
				<td>รหัสรายการบริการ :</td>
				<td>{$code}</td>
			</tr>
			<tr>
				<td>ชื่อรายการบริการ :</td>
				<td>{$values.svl_name}</td>
			</tr>
			<tr>
				<td>ประเภทรายการบริการ :</td>
				<td><div id="svltyp_id" class="selectReferenceJS text"></div></td>
			</tr>
			<tr>
                <td>เวลาที่ใช้ :</td>
                <td>
                    {if $values.svl_hr || $values.svl_min}
                    	{if $values.svl_hr == 0 && $values.svl_min == 0}
                    		-
                    	{else}
	                        {if $values.svl_hr && $values.svl_hr > 0}{$values.svl_hr} ชั่วโมง {/if}
	                        {if $values.svl_min && $values.svl_min > 0}{$values.svl_min} นาที{/if}
                        {/if}
                    {else}
                        -
                    {/if}
                </td>
            </tr>
			<tr>
				<td>ราคา :</td>
				<td>{$values.svl_price|number_format:2:".":","} บาท</td>
			</tr>
			<tr>
				<td>คำอธิบาย :</td>
				<td>{if $values.svl_desc}{$values.svl_desc}{else}-{/if}</td>
			</tr>
			<tr>
				<td>วันที่เริ่มใช้ :</td>
				<td>{$values.svl_start}</td>
			</tr>
			<tr>
				<td>วันที่สิ้นสุด :</td>
				<td>{$values.svl_stop}</td>
			</tr>
			<tr>
				<td>รูปแบบรายการบริการ :</td>
				<td>
					{if $values.svl_type == 1}
						รายการบริการเดี่ยว
					{elseif $values.svl_type == 2}
						รายการบริการสำหรับแพ็คเกจ
					{/if}
				</td>
			</tr>
		</tbody>
	</table>
	{else}	 	
	<!-- ADD, EDIT -->		 	 	 	
    <form id="form-table" name="form-table" onsubmit="return false;">
	<input type="hidden" name="requiredFields" value="svltyp_id,svl_name,svl_price,svl_start,svl_type">
	<table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td colspan=2>
					<label class="input-required">ชื่อรายการบริการ</label>
					<input id="svl_name" name="svl_name" type="text" class="form-input full" value="{$values.svl_name}" valuepattern="character" require>
				</td>
			</tr>
			<tr>
                <td colspan="2">
                    <span id="err-svl_name-require" class="errInputMsg err-svl_name">โปรดป้อนชื่อรายการบริการ</span>
                    <span id="err-svl_name-character" class="errInputMsg err-svl_name">โปรดกรอกตัวอักษรภาษาไทย หรือตัวอักษรภาษาอังกฤษเท่านั้น</span>
                </td>
            </tr>
			<tr>
				<td colspan=2>
					<label class="input-required">ประเภทรายการบริการ</label>
					<div id="svltyp_id" class="selectReferenceJS form-input full" require></div>
				</td>
			</tr>
			<tr>
                <td colspan="2">
                    <span id="err-svltyp_id-require" class="errInputMsg err-svltyp_id">โปรดเลือกประเภทรายการบริการ</span>
                </td>
            </tr>
			<tr>
				<td>
					<label>เวลาที่ใช้(ชั่วโมง)</label>
					<input id="svl_hr" name="svl_hr" type="text" class="form-input half" value="{$values.svl_hr}" maxlength="2" size="2" valuepattern="number">
				</td>
				<td>
					<label>เวลาที่ใช้(นาที)</label>
					<input id="svl_min" name="svl_min" type="text" class="form-input half" value="{$values.svl_min}" maxlength="2" size="2" valuepattern="minute">
				</td>
			</tr>
			<tr class="errMsgRow">
                <td>
                    <span id="err-svl_hr-number" class="errInputMsg half err-svl_hr">โปรดกรอกชั่วโมงเป็นตัวเลขจำนวนเต็ม</span>
                </td>
                <td>
                    <span id="err-svl_min-minute" class="errInputMsg half err-svl_min">โปรดกรอกนาทีเป็นตัวเลขจำนวนเต็มที่มีค่าไม่เกิน 59</span>
                </td>
            </tr>
			<tr>
				<td colspan="2">
					<label class="input-required">ราคา</label>
					<input id="svl_price" name="svl_price" type="text" class="form-input full" value="{$values.svl_price}" valuepattern="money" require style="text-align:right;">
				</td>
			</tr>
			<tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-svl_price-require" class="errInputMsg full err-svl_price">โปรดป้อนราคา</span>
                    <span id="err-svl_price-money" class="errInputMsg full err-svl_price">รูปแบบจำนวนเงินไม่ถูกต้อง จำนวนเงินเป็นได้เฉพาะตัวเลข ไม่มีคอมม่าคั่น จุดทศนิยม 2 ตำแหน่ง เช่น 130, 1600.25</span>
                </td>
            </tr>
			<tr>
				<td colspan=2>
					<label>คำอธิบาย</label>
					<textarea id="svl_desc" name="svl_desc" class="form-input full" value="{$values.svl_desc}" rows="6"></textarea>
				</td>
			</tr>
			<tr>
				<td>
					<label class="input-required">วันที่เริ่มใช้</label>
                	<input id="svl_start" name="svl_start" type="text" class="mbk-dtp-th form-input half" value="{if $values.svl_start}{$values.svl_start}{else}{$nowDate}{/if}" require>
                </td>
                <td>
					<label>วันที่สิ้นสุด</label>
                	<input id="svl_stop" name="svl_stop" type="text" class="mbk-dtp-th form-input half" value="{$values.svl_stop}">
                </td>
			</tr>
			<tr>
				<td>
					<span id="err-svl_start-require" class="errInputMsg err-svl_start">โปรดป้อนวันที่เริ่มใช้</span>
				</td>
				<td></td>
			</tr>
			<tr class="showForSale">
                <td colspan="2">
                    <label class="input-required">รูปแบบรายการบริการ</label>
                    <label style="display:inline-block;"><input type="radio" name="svl_type" value="1" class="discout_type_radio" checked> รายการบริการเดี่ยว</label><br>
                    <label style="display:inline-block;"><input type="radio" name="svl_type" value="2" class="discout_type_radio"> รายการบริการสำหรับแพ็คเกจ</label><br><br>
                </td>
            </tr>
			<tr>
				<td colspan=2>
					<label>รูปภาพรายการบริการ</label>
					<div id="svl_picture" class="uploadImageArea full"></div>
					<input type="hidden" name="svl_picture" value="{$values.svl_picture}">
				</td>
			</tr>
	    </tbody>
    </table>
    </form>
	<form method="post" enctype="multipart/form-data">
		<input id="svl_picture_file" type="file" name="imageFile" class="uploadImageSelector" multiple="multiple">
	</form>
	{/if}
</div><!-- end ftb-body -->
{else}
<div class="noPrivilege-formTable-container">
	<div class="noPrivilege-formTable-inner">
		<i class="fa fa-lock"></i><br>คุณไม่ได้รับสิทธิ์ในการเข้าถึงข้อมูลในส่วนนี้
	</div>
</div>
{/if}<!-- end if privileges -->
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
-->