<!DOCTYPE html>
<html lang="th">
<head>
	<title>Spa - Backoffice</title>
	<meta charset="UTF-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
	<link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <script type="text/javascript" src="../js/form_sales.js"></script>
    <style type="text/css">
        .prd_unit_price, .prd_sumPrm_price, .saledtl_price_txt {
            width: 100px;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: right;
            padding: 5px;
            margin-right: 20px;
        }
        .prd_sumPrm_price {
            color: rgb(255, 68, 68);
        }
        #order-detail-table .form-input {
            margin-right: 20px;
        }
        #order-detail-table label {
            font-weight: bold;
        }
        .moneyCol {
            text-align: right;
            padding-right: 25px;
            padding-bottom: 10px;
        }
        .removeProductBtn {
            padding: 5px;
            background: none repeat scroll 0% 0% #EEE;
            border-radius: 3px;
        }
        .product-prm-row > td {
            padding-left: 100px;
        }
        .prm-list-container {
            width: 87.5%;
            margin-bottom: 40px;
            background: #f8f8f8;
            border-radius: 6px;
            box-shadow: 0 2px 2px #ddd;
        }
        .prm-list {
            position: relative;
            height: 60px;
            padding: 10px 10px 10px 60px;
            border-bottom: 1px solid #ddd;
        }
        .prm-list .prm-thumb {
            width: 50px;
            height: 50px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
            background-color: #F0F0F0;
            position: absolute;
            left: 5px;
            top: 5px;
        }
        .prm-list-container .prm-list:last-child {
            border-bottom: 1px solid rgba(255,255,255,0);
        }
        .prm-list table {
            width: 100%;
            height: 100%;
        }
        .prm-list table td {
            vertical-align: middle !important;
            word-break: break-word;
            font-size: 14px;
        }
        .prm-list table td.prm-name-col {
            width: 62%;
        }
        .prm-list table td.amount-col {
            width: 10%;
            text-align: right !important;
        }
        .prm-list table td.discout-col {
            width: 40%;
            text-align: right !important;
            color: rgb(255, 68, 68) !important;
        }

        .prm-list table .prm-name {
            color: #595959;
        }
        .prm-list table .discount-rate {
            color: #b7b7b7;
        }
    </style>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
		var tableNameTH = '{/literal}{$tableNameTH}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_sales.php';
        var valuesDetail    = '';
        var refProducts     = {/literal}{$referenceData["products"]|@json_encode}{literal};
        var products        = {/literal}{$products|@json_encode}{literal};
        var productPrmGrps  = {/literal}{$referenceData["product_promotion_groups"]|@json_encode}{literal};
        var promotions      = {/literal}{$promotion|@json_encode}{literal};
        var curPrdPrmGrpId  = '{/literal}{if $prdprmgrp_id}{$prdprmgrp_id}{/if}{literal}';
        var promotionSaleGroup = {/literal}{$promotionSaleGroup|@json_encode}{literal};

        // Set valuesDetail
        {/literal}
        {if $valuesDetail}
        {literal}
            valuesDetail= {/literal}{$valuesDetail|@json_encode}{literal};
        {/literal}
        {/if}
        {if $valuesPrmDetail}
        {literal}
            valuesPrmDetail= {/literal}{$valuesPrmDetail|@json_encode}{literal};
        {/literal}
        {/if}
        {literal}

        $(document).ready(function () {
            $('#addProjectBtn').click(addProduct);
            
            selectReferenceJS({
                elem            : $('#emp_id'),
                data            : {/literal}{$referenceData["employees"]|@json_encode}{literal},
                defaultValue    : '{/literal}{if $values.emp_id}{$values.emp_id}{else}{$session_emp_id}{/if}{literal}'
            });
            selectReferenceJS({
                elem            : $('#prdprmgrp_id'),
                data            : productPrmGrps,
                showClearBtn    : true,
                clearBtnText    : 'ไม่คิดโปรโมชั่น',
                allowChangeOption   : saveOldPrdPrmGrp,
                onOptionSelect      : changePrdprmGrpId,
                beforeShow          : allowChangePrdPrmGrpId,
                defaultValue    : '{/literal}{if $prdprmgrp_id}{$prdprmgrp_id}{/if}{literal}'
            });
            $('#sale_date').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#sale_date').blur();
                },
                timepicker:false
            });
             $('#sale_time').datetimepicker({
                datepicker:false,
                format:'H:i:s',
                step: 5
            });
       
        });
    </script>
    {/literal}
</head>
<body>

{include file="form_table_header.html"}
<div class="ftb-body"> 
    {if $action == 'VIEW_DETAIL'}
    <!-- VIEW_DETAIL -->
    <label class="article-title">ข้อมูลการขาย</label>
    <table class="table-view-detail">
        <tbody>
            <tr>
                <td>รหัสการขาย :</td>
                <td>{$code}</td>
            </tr>
            <tr>
                <td>พนักงานที่ขาย :</td>
                <td>
                    <a href="form_table.php?action=VIEW_DETAIL&tableName=employees&code={$values.emp_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                            <div id="emp_id" class="selectReferenceJS text" style="cursor:pointer;"></div>
                        </a>
                </td>
            </tr>
            <tr>
                <td>วันที่ขาย :</td>
                <td>{$values.sale_date_th}</td>
            </tr>
            <tr>
                <td>เวลาที่ขาย :</td>
                <td>{$values.sale_time} น.</td>
            </tr>
            <tr>
                <td>ส่วนลดการขาย :</td>
                <td>{$values.sale_discout|number_format:2:".":","} บาท</td>
            </tr>
            <tr>
                <td>ส่วนลดโปรโมชั่น :</td>
                <td>{$values.sale_prm_discout|number_format:2:".":","} บาท</td>
            </tr>
            <tr>
                <td>ราคาสุทธิ :</td>
                <td>{$values.sale_total_price|number_format:2:".":","} บาท</td>
            </tr>
        </tbody>
    </table>
    <!--Sale Details Data-->
    <label class="article-title">รายการผลิตภัณฑ์ที่ขาย</label>
    <table class="view-detail-reference">
        <thead>
            <tr>
                <th>ลำดับ</th>
                <th class="txtLong-col">ผลิตภัณฑ์</th>
                <th>หน่วยละ(บาท)</th>
                <th>จำนวนที่ขาย</th>
                <th>จำนวนฟรี</th>
                <th>ส่วนลด(บาท)</th>
                <th>ราคารวม(บาท)</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$saleDetailList key=i item=saledlt}
            <tr>
                <td align="center">{$saledlt.no}</td>
                <td class="txtLong-col">
                    <a href="form_table.php?action=VIEW_DETAIL&tableName=products&code={$saledlt.prd_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                        {$saledlt.prd_name}
                    </a>
                </td>
                <td align="right">{$saledlt.prd_price|number_format:2:".":","}</td>
                <td align="right">{$saledlt.saledtl_amount|number_format:0:"":""}</td>
                <td align="right">{$saledlt.freeAmount|number_format:0:"":""}</td>
                <td align="right">{$saledlt.discout|number_format:2:".":","}</td>
                <td align="right">{$saledlt.saledtl_price|number_format:2:".":","}</td>
            </tr>
            {/foreach}
        </tbody>
        <tfoot>
            <tr class="tfootSummary">
                <td align="right" colspan="3"><b>รวมทั้งหมด</b></td>
                <td align="right"><b>{$sum_saledtl_amount|number_format:0:"":""}</b></td>
                <td align="right"><b>{$sum_freeAmount|number_format:0:"":""}</b></td>
                <td align="right"><b>{$sum_discout|number_format:2:".":","}</b></td>
                <td align="right"><b>{$sum_saledtl_price|number_format:2:".":","}</b></td>
            </tr>
        </tfoot>
    </table>
    {else}      
    <!-- ADD, EDIT -->   
    <form id="form-table" name="form-table" onsubmit="return false;">
	<input type="hidden" name="requiredFields" value="emp_id,sale_date,sale_total_price,sale_time">
    <table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
	    <tbody>
            <tr>
                <td colspan="2">
                    <label class="input-required">พนักงานขาย</label>
                    <div id="emp_id" class="selectReferenceJS form-input full" require></div>
                </td>
                
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-emp_id-require" class="errInputMsg err-emp_id">โปรดเลือกพนักงานขาย</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="input-required">วันที่ขาย</label>
                      <input id="sale_date" name="sale_date" type="text" class="mbk-dtp-th form-input half" value="{if $values.sale_date}{$values.sale_date}{else}{$nowDate}{/if}" require>
                </td>
                <td>
                    <label class="input-required">เวลาที่ขาย</label>
                      <input id="sale_time" name="sale_time" type="text" class="form-input half" value="{if $values.sale_time}{$values.sale_time}{else}{$nowTimeFull}{/if}" require>
                </td>
		    </tr>
            <tr class="errMsgRow">
                <td>
                    <span id="err-sale_date-require" class="errInputMsg half err-sale_date">โปรดป้อนวันที่ขาย</span>
                </td>
                <td>
                    <span id="err-sale_time-require" class="errInputMsg half err-sale_time">โปรดป้อนเวลาที่ขาย</span>
                </td>
            </tr>
            <tr>
                 <td>
                    <label class="input-required">ส่วนลดการขายในครั้งนี้</label>
                   <input id="sale_discout_val" name="sale_discout" type="text" class="form-input half" 
                   value="{if $values.sale_discout}{$values.sale_discout}{else}0.00{/if}" valuepattern="money" require>
                   <input id="sale_discout" name="sale_discout" type="hidden" value="{if $values.sale_discout}{$values.sale_discout}{else}0.00{/if}">
                </td>
                <td>
                    <label style="margin-bottom: 10px;visibility: hidden;">รูปแบบส่วนลดการขาย</label>
                    <label style="display:inline-block"><input type="radio" name="sale_discout_type" value="บาท" checked> บาท</label> &nbsp;
                    <label style="display:inline-block"><input type="radio" name="sale_discout_type" value="%"> เปอร์เซ็น</label>
                </td>         
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-sale_discout_val-require" class="errInputMsg err-sale_discout_val">โปรดป้อนส่วนลดการขาย</span>
                    <span id="err-sale_discout_val-money" class="errInputMsg err-sale_discout_val">รูปแบบจำนวนเงินไม่ถูกต้อง จำนวนเงินเป็นได้เฉพาะตัวเลข ไม่มีคอมม่าคั่น จุดทศนิยม 2 ตำแหน่ง เช่น 130, 1600.25</span>
                </td>
            </tr>
            <tr>
                 <td colspan="2">
                    <label class="input-required">ส่วนลดโปรโมชั่นการขาย(บาท)</label>
                   <input id="prmds_sum_discout" name="prmds_sum_discout" type="text" class="form-input full readonly" 
                   value="0.00" valuepattern="money" require readonly>
                </td>         
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-prmds_sum_discout-require" class="errInputMsg err-prmds_sum_discout">โปรดป้อนส่วนลดโปรโมชั่นการขาย</span>
                    <span id="err-prmds_sum_discout-money" class="errInputMsg err-prmds_sum_discout">รูปแบบจำนวนเงินไม่ถูกต้อง จำนวนเงินเป็นได้เฉพาะตัวเลข ไม่มีคอมม่าคั่น จุดทศนิยม 2 ตำแหน่ง เช่น 130, 1600.25</span>
                </td>
            </tr>
            <tr>
                 <td colspan="2">
                    <label class="input-required">ส่วนลดโปรโมชั่น(บาท)</label>
                   <input id="sale_prm_discout" name="sale_prm_discout" type="text" class="form-input full readonly" 
                   value="{if $values.sale_prm_discout}{$values.sale_prm_discout}{else}0.00{/if}" valuepattern="money" require readonly>
                </td>         
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-sale_prm_discout-require" class="errInputMsg err-sale_prm_discout">โปรดป้อนส่วนลดโปรโมชั่น</span>
                    <span id="err-sale_prm_discout-money" class="errInputMsg err-sale_prm_discout">รูปแบบจำนวนเงินไม่ถูกต้อง จำนวนเงินเป็นได้เฉพาะตัวเลข ไม่มีคอมม่าคั่น จุดทศนิยม 2 ตำแหน่ง เช่น 130, 1600.25</span>
                </td>
            </tr>
			<tr>
                 <td colspan="2">
                    <label>ราคาสุทธิ(บาท)</label>
                   <input id="sale_total_price" name="sale_total_price" type="text" class="form-input full readonly" 
                   value="{if $values.sale_total_price}{$values.sale_total_price}{else}0.00{/if}" valuepattern="money" require readonly>
                   <input name="sale_totalPrice_no_saleDiscout" type="hidden">
                </td>         
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-sale_total_price-require" class="errInputMsg err-sale_total_price">โปรดป้อนราคาสุทธิ</span>
                    <span id="err-sale_total_price-money" class="errInputMsg err-sale_total_price">รูปแบบจำนวนเงินไม่ถูกต้อง จำนวนเงินเป็นได้เฉพาะตัวเลข ไม่มีคอมม่าคั่น จุดทศนิยม 2 ตำแหน่ง เช่น 130, 1600.25</span>
                </td>
            </tr>
            <tr class="prdprmgrp-row">
                 <td colspan="2">
                    <label class="input-required">กลุ่มโปรโมชั่น</label>
                   <div id="prdprmgrp_id" class="selectReferenceJS form-input full"></div>
                </td>         
            </tr>
	    </tbody>
    </table>

    <label class="article-title">รายละเอียดการขาย</label>
    รายการผลิตภัณฑ์ทั้งหมด <span id="allSalePrd"></span> รายการ<br><br>
    <table id="order-detail-table" class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
        <tbody>
            <tr class="headTable-row">
                <td><label class="input-required">ผลิตภัณฑ์</label></td>
                <td class="moneyCol"><label>หน่วยละ</label>
                <td><label class="input-required">จำนวน</label></td>
                <td><label>จำนวนฟรี</label>
                <td class="moneyCol"><label>ส่วนลด</label>
                <td class="moneyCol"><label>ราคารวม</label></td>
            </tr>
        </tbody>
    </table>
    <button id="addProjectBtn" class="button button-icon button-icon-add">เพิ่มผลิตภัณฑ์</button>
    </form>
    {/if}
</div>
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
	3.  input[name="uniqueFields"] ใส่ชื่อฟิลด์ที่ต้องการเช็คว่าห้ามซ้ำ
-->