<!DOCTYPE html>
<html lang="th">
<head>
	<title>Spa - Backoffice</title>
	<meta charset="UTF-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
    <link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <style type="text/css">
    .payrollDetail {
        padding: 10px;
        border: 1px solid #ccc;
        width: 520px;
    }
    .payrollDetail table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
    }
    .payrollDetail tr td:first-child {
        white-space: nowrap;
    }
    .payrollDetail td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: center;
        border-top: 1px solid #ccc;
        word-wrap: break-word;
        table-layout: fixed;
    }
    .payrollDetail tr:first-child td {
        border-top: none;
    }
    .payrollDetail tr td:last-child {
        width: 100%;
        padding-right: 20px;
        text-align: right;
    }
    </style>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
		var tableNameTH = '{/literal}{$tableNameTH}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_table.php';
        var payroll_year  = {/literal}{$optionData["payroll_year"]|@json_encode}{literal};
        var payroll_month  = {/literal}{$optionData["payroll_month"]|@json_encode}{literal};

        $(document).ready(function () {
            selectReferenceJS({
                elem            : $('#emp_id'),
                data            : {/literal}{$referenceData["employees"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.emp_id}{literal}'
            });

            $('#payroll_monthly').datetimepicker({
                lang:'th',
                format:'Y/M',
                closeOnDateSelect:true,
                timepicker:false
            });

            $('#payroll_date').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#payroll_date').blur();
                },
                timepicker:false
            });

            selectReferenceJS({
                elem            : $('#payroll_year'),
                data            : payroll_year,
                defaultValue    : '{/literal}{if $values.payroll_year}{$values.payroll_year}{else}{$nowYear}{/if}{literal}',
                searchTool      : false,
            });

            selectReferenceJS({
                elem            : $('#payroll_month'),
                data            : payroll_month,
                defaultValue    : '{/literal}{if $values.payroll_month}{$values.payroll_month}{else}{$nowMonth}{/if}{literal}',
                searchTool      : false,
            });
            
			
        });
    </script>
    {/literal}
</head>
<body>

{include file="form_table_header.html"}
{if $emp_privileges.manage_payrolls}
<div class="ftb-body">
    <form id="form-table" name="form-table" onsubmit="return false;">
	<input type="hidden" name="requiredFields" value="emp_id,payroll_salary,payroll_monthly,payroll_date,payroll_commission,payroll_overtime">
    <table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
	    <tbody>
            <tr>
                <td>
                    <label class="input-required">ปี</label>
                    <div id="payroll_year" class="selectReferenceJS form-input half" require></div>
                </td>
                <td>
                    <label class="input-required">เดือน</label>
                    <div id="payroll_month" class="selectReferenceJS form-input half" require></div>
                </td>
                <input id="payroll_monthly" name="payroll_monthly" type="hidden" value="{if $values.payroll_monthly}{$values.payroll_monthly}{else}{$nowDate}{/if}" require>
            </tr>
            <tr class="errMsgRow">
                <td>
                    <span id="err-payroll_year-require" class="errInputMsg half err-payroll_year">โปรดป้อนปี</span>
                </td>
                <td>
                    <span id="err-payroll_month-require" class="errInputMsg half err-payroll_month">โปรดป้อนเดือน</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="input-required">วันที่จ่ายเงินเดือน</label>
                    <input id="payroll_date" name="payroll_date" type="text" class="mbk-dtp-th form-input full" value="{if $values.payroll_date}{$values.payroll_date}{else}{$nowDate}{/if}" require>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-payroll_date-require" class="errInputMsg full err-payroll_date">โปรดป้อนวันที่จ่ายเงินเดือน</span>
                </td>
            </tr>
			<tr>
			    <td colspan="2">
				    <label class="input-required">ชื่อ-นามสกุลพนักงาน</label>
				    <div id="emp_id" class="selectReferenceJS form-input full" require> </div>
			    </td>
		    </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-emp_id-require" class="errInputMsg half err-emp_id">โปรดเลือกชื่อ-นามสกุลพนักงาน</span>
                </td>
            </tr>
	    </tbody>
    </table>
    <div class="payrollDetail">
        <table>
            <tr>
                <td>จำนวนเงินเดือน</td>
                <td>
                    <span class="payroll_salary_txt">1,000.00</span> บาท
                    <input id="payroll_salary" name="payroll_salary" type="hidden" require>
                </td>
            </tr>
            <tr>
                <td>ค่าคอมมิชชั่น</td>
                <td>
                    <span class="payroll_commission_txt">1,000.00</span> บาท
                    <input id="payroll_commission" name="payroll_commission" type="hidden" require>
                </td>
            </tr>
            <tr>
                <td>ค่าล่วงเวลา</td>
                <td>
                    <span class="payroll_overtime_txt">1,000.00</span> บาท
                    <input id="payroll_overtime" name="payroll_overtime" type="hidden" require>
                </td>
            </tr>
            <tr>
                <td><b>รวมทั้งหมด</b></td>
                <td><b><span class="payroll_overtime_txt">3,000.00</span> บาท</b></td>
            </tr>
        </table>
    </div>
    </form>
</div><!-- end ftb-body -->
{else}
<div class="noPrivilege-formTable-container">
    <div class="noPrivilege-formTable-inner">
        <i class="fa fa-lock"></i><br>คุณไม่ได้รับสิทธิ์ในการเข้าถึงข้อมูลในส่วนนี้
    </div>
</div>
{/if}<!-- end if privileges -->
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
	3.  input[name="uniqueFields"] ใส่ชื่อฟิลด์ที่ต้องการเช็คว่าห้ามซ้ำ
-->