<!DOCTYPE html>
<html lang="th">
<head>
	<title>Spa - Backoffice</title>
	<meta charset="UTF-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
	<link rel="stylesheet" type="text/css" href="../inc/jquery-ui/jquery-ui.css"> 
    <script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../inc/jquery-ui/jquery-ui.js"></script> 
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
		var tableNameTH = '{/literal}{$tableNameTH}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_spa.php';

		$(document).ready(function() {
			//spa_id	spa_name	spa_addr	spa_tel	spa_fax	spa_logo
			uploadImageInput({
				area: $('#spa_logo'),
				input: $('input[name="spa_logo"]'),
				selector: $('#spa_logo_file'),
				defaultValue: '{/literal}{if $values.spa_logo}../img/spa/{$values.spa_logo}?rand={$randNum}{/if}{literal}'
			});
		});
    </script>
    {/literal}
</head>
<body>
 	 	 	 	 
{include file="form_table_header.html"}
{if $emp_privileges.manage_spa}
<div class="ftb-body">
	{if $action == 'VIEW_DETAIL'}
	<!-- VIEW_DETAIL -->
	<div class="table-view-detail-image full">
	<img src="{if $values.spa_logo != '-'}../img/spa/{$values.spa_logo}?rand={$randNum}{else}../img/backoffice/no-pic.png{/if}">
	</div>
	<table class="table-view-detail">
		<tbody>
			<tr>
				<td>รหัสสปา :</td>
				<td>{$code}</td>
			</tr>
			<tr>
				<td>ชื่อสปา :</td>
				<td>{$values.spa_name}</td>
			</tr>
			<tr>
				<td>ที่อยู่ :</td>
				<td>{$values.spa_addr}</td>
			</tr>
			<tr>
				<td>เบอร์โทร :</td>
				<td>{$values.spa_tel}</td>
			</tr>
			<tr>
				<td>E-mail :</td>
				<td>{$values.spa_email}</td>
			</tr>
			<tr>
				<td>โทรสาร :</td>
				<td>{$values.spa_fax}</td>
			</tr>
		</tbody>
	</table>
	{else}	 	
	<!-- ADD, EDIT -->	 	 	 	 	
    <form id="form-table" name="form-table" onsubmit="return false;">
	<input type="hidden" name="requiredFields" value="spa_name,spa_addr,spa_tel">
	<table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
	    <tbody>
			<tr>
				<td colspan="2">
					<label class="input-required">ชื่อสปา</label>
					<input id="spa_name" name="spa_name" type="text" class="form-input full" value="{$values.spa_name}" valuepattern="character" require>
				</td>
			</tr>
			<tr>
                <td colspan="2">
                    <span id="err-spa_name-require" class="errInputMsg err-spa_name">โปรดป้อนชื่อสปา</span>
                    <span id="err-spa_name-character" class="errInputMsg err-spa_name">โปรดกรอกตัวอักษรภาษาไทย หรือตัวอักษรภาษาอังกฤษเท่านั้น</span>
                </td>
            </tr>
			<tr>
				<td colspan="2">
					<label class="input-required">ที่อยู่</label>
					<textarea id="spa_addr" name="spa_addr" class="form-input full" require rows="6">{$values.spa_addr}</textarea>
				</td>
			</tr>
			<tr>
                <td colspan="2">
                    <span id="err-spa_addr-require" class="errInputMsg err-spa_addr">โปรดป้อนที่อยู่สปา</span>
                </td>
            </tr>
			<tr>
				<td>
					<label class="input-required">เบอร์โทร</label>
					<input id="spa_tel" name="spa_tel" type="text" class="form-input half" value="{$values.spa_tel}" require maxlength="10">
				</td>
				<td>
					<label>โทรสาร</label>
					<input id="spa_fax" name="spa_fax" type="text" class="form-input half" value="{$values.spa_fax}">
				</td>
			</tr>
			<tr>
                <td>
                    <span id="err-spa_tel-require" class="errInputMsg err-spa_tel">โปรดป้อนเบอร์โทร</span>
                </td>
                <td></td>
            </tr>
			<tr>
                <td colspan="2">
                    <label>E-mail</label>
                    <input id="spa_email" name="spa_email" type="text" class="form-input full" 
                    value="{$values.spa_email}" valuepattern="email">
                </td>
            </tr>
			<tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-spa_email-email" class="errInputMsg err-spa_email">รูปแบบอีเมลไม่ถูกต้อง</span>
                </td>
            </tr>
			<tr>
				<td colspan="2">
					<label>รูปภาพสปา</label>
					<div id="spa_logo" class="uploadImageArea full"></div>
					<input type="hidden" name="spa_logo" value="{$values.spa_logo}">
				</td>
			</tr>
		</tbody>
	</table>
	
    </form>
	<form method="post" enctype="multipart/form-data">
		<input id="spa_logo_file" type="file" name="imageFile" class="uploadImageSelector" multiple="multiple">
	</form>
	{/if}
</div><!-- end ftb-body -->
{else}
<div class="noPrivilege-formTable-container">
	<div class="noPrivilege-formTable-inner">
		<i class="fa fa-lock"></i><br>คุณไม่ได้รับสิทธิ์ในการเข้าถึงข้อมูลในส่วนนี้
	</div>
</div>
{/if}<!-- end if privileges -->
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
-->