<!DOCTYPE html>
<html lang="th">
<head>
    <title>Spa - Backoffice</title>
    <meta charset="UTF-8"/>
    {literal}
    <link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
    <link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <style type="text/css">
        #svlprmTime {
            display: none;
            margin-top: -12px;
            margin-bottom: 15px;
            color: #aaa;
            font-size: 14px;
        }
        #previewPrmPrice {
            list-style: none;
            width: 520px;
            padding: 0;
            margin: 0;
            text-align: center;
        }
        #previewPrmPrice.viewDetail {
            width: 100%;
        }
        #previewPrmPrice li {
            width: 170px;
            height: 100px;
            display: block;
            float: left;
            border: 1px solid #ddd;
            margin-right: 5px;
        }
        #previewPrmPrice.viewDetail li {
            width: 32.5%;
            margin-right: 1.25%;
        }
        #previewPrmPrice li:last-child {
            margin-right: 0;
        }
        #previewPrmPrice li h2 {
            font-family: ThaiSansNeue-Bold;
        }
        #previewPrmPrice li p {
            font-size: 20px;
            margin-bottom: 20px;
        }
    </style>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
        var tableNameTH = '{/literal}{$tableNameTH}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_service_list_promotion_details.php';
        var refSvlData      = {/literal}{$referenceData["service_lists"]|@json_encode}{literal};
        var refSvlprmData   = {/literal}{$referenceData["todayOnward_service_list_promotions"]|@json_encode}{literal};
        var curSvlPrice     = null;
        var curCusTypeId     = '';

        // Check if not have product promotion now
        {/literal}
        {if $referenceData["todayOnward_service_list_promotions"] == null}
        parent.showActionDialog({
            title: 'ไม่พบโปรโมชั่นรายการบริการ',
            message: 'ไม่พบโปรโมชั่นรายการบริการที่สามารถจัดได้ในขณะนี้ กรุณาเพิ่มโปรโมชั่นรายการบริการก่อน',
            actionList: [
                {
                    id: 'ok',
                    name: 'ตกลง',
                    desc: 'ปิดฟอร์มเพิ่มข้อมูล',
                    func:
                    function() {
                        parent.closeManageBox();
                        parent.hideActionDialog();
                        self.val('');
                        self.focus();
                    }
                }
            ],
            boxWidth: 400
        });
        {/if}
        {literal}

        $(document).ready(function () {
            selectReferenceJS({
                elem            : $('#svl_id'),
                data            : refSvlData,
                defaultValue    : '{/literal}{$values.svl_id}{literal}',
                success         : 
                function () {
                    setCurSvlPrice();
                    calPreviewSvlPrice();
                },
                onOptionSelect  : 
                function() {
                    setCurSvlPrice();
                    validateDiscout();
                    calPreviewSvlPrice();
                }
            });

            selectReferenceJS({
                elem            : $('#svlprm_id'),
                data            : refSvlprmData,
                defaultValue    : '{/literal}{$values.svlprm_id}{literal}',
                onOptionSelect  :
                function() {
                    $('#svlprmdtl_startdate').val('');
                    $('#svlprmdtl_enddate').val('');
                    svlprmIdChange();
                    validateDiscout();
                },
                success         : svlprmIdChange
            });

            $('#svlprmdtl_startdate').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#svlprmdtl_startdate').blur();
                },
                onShow:function( ct ){
                    if(action == 'ADD') {
                        this.setOptions({
                            minDate: realDateToTmpDate('{/literal}{$nowDate}{literal}'),
                            maxDate:$('#svlprmdtl_enddate').val()?unconvertThaiDate($('#svlprmdtl_enddate').val()):false
                        });
                    } else if(action == 'EDIT') {
                        this.setOptions({
                            maxDate:$('#svlprmdtl_enddate').val()?unconvertThaiDate($('#svlprmdtl_enddate').val()):false
                        });
                    }
                },
                timepicker:false
            });

            $('#svlprmdtl_enddate').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#svlprmdtl_enddate').blur();
                },
                onShow:function( ct ){
                    if(action == 'ADD') {
                        this.setOptions({
                            minDate:$('#svlprmdtl_startdate').val()?unconvertThaiDate($('#svlprmdtl_startdate').val()):realDateToTmpDate('{/literal}{$nowDate}{literal}')
                        });
                    } else if(action="EDIT") {
                        this.setOptions({
                            minDate:$('#svlprmdtl_startdate').val()?unconvertThaiDate($('#svlprmdtl_startdate').val()):false
                        });
                    }
                },
                timepicker:false
            });

            // Check date
            $('#svlprmdtl_startdate').change(function(){
                checkDate($(this), $('#svlprmdtl_enddate'));
            });
            $('#svlprmdtl_enddate').change(function() {
                checkDate($(this), $('#svlprmdtl_startdate'));
            });

            // Change discout type
            $('input[name="svlprmdtl_discout_type"]').change(function() {
                if($(this).val() == 'บาท') {
                    $('#svlprmdtl_discout_type_text').text('บาท');
                } else if($(this).val() == '%') {
                    $('#svlprmdtl_discout_type_text').text('%');
                }
                validateDiscout();
            });

            // Check discout
            $('#svlprmdtl_discout').change(validateDiscout);

            // Set default radio input
            if(action == 'EDIT') {
                $('input[name="svlprmdtl_discout_type"][value="{/literal}{$values.svlprmdtl_discout_type}{literal}"]').click();
            }
        });

        function setCurSvlPrice() {
            var svl_id = $('#svl_id').find('.selectReferenceJS-input').val();
            if(svl_id != '') {
                for(i in refSvlData) {
                    if(refSvlData[i].refValue == svl_id) {
                        curSvlPrice = parseFloat(refSvlData[i].svl_price);
                        break;
                    }
                } 
            }
        }

        function checkDate(self, sibling) {
            // Skip check
            if(self.val() == '' || isDateThaiFormat(self.val())) {
                return;
            }

            var selfDate        = new Date(self.val());
            var siblingDate     = new Date(unconvertThaiDate(sibling.val()));
            var nowDate         = new Date(realDateToTmpDate('{/literal}{$nowDate}{literal}'));
            var selfId          = self.attr('id');

            // Check sibling
            if(sibling.val() != '') {
                if(selfId == 'svlprmdtl_startdate') {
                    if(selfDate.getTime() > siblingDate.getTime()) {
                        showAlertInvalidDate(self, 'overSibling');
                        return;
                    }
                } else if(selfId == 'svlprmdtl_enddate') {
                    if(selfDate.getTime() < siblingDate.getTime()) {
                        showAlertInvalidDate(self, 'overSibling');
                        return;
                    }
                }
            }

            if(action == 'ADD') {
                // Check now date
                if(selfId == 'svlprmdtl_startdate') {
                    if(selfDate.getTime() < nowDate.getTime()) {
                        showAlertInvalidDate(self, 'lessThanNow');
                    }
                } else if(selfId == 'svlprmdtl_enddate') {
                    if(selfDate.getTime() < nowDate.getTime()) {
                        showAlertInvalidDate(self, 'lessThanNow');
                    }
                }
            }

            // Check promotion date
            var svlprm_id = $('#svlprm_id').find('.selectReferenceJS-input').val();
            if(svlprm_id != '') {
                for(i in refSvlprmData) {
                    if(refSvlprmData[i].refValue == svlprm_id) {
                        var startDate = new Date(realDateToTmpDate(refSvlprmData[i].svlprm_startdate));
                        
                        if(refSvlprmData[i].svlprm_enddate == '') {
                            // no enddate
                            if(selfDate.getTime() < startDate.getTime()) {
                                showAlertInvalidDate(self, 'notInPrmTime');
                            }
                        } else {
                            // have enddate
                            var endDate = new Date(realDateToTmpDate(refSvlprmData[i].svlprm_enddate));

                            if(selfDate.getTime() < startDate.getTime() || 
                               selfDate.getTime() > endDate.getTime()) {
                                showAlertInvalidDate(self, 'notInPrmTime');
                            }
                        }
                        break;
                    }
                    
                }
            }
            
        }
        function showAlertInvalidDate(self, errType) {
            var titleTxt    = '';
            var messageTxt  = '';
            var descTxt     = '';
            var selfId      = self.attr('id');

            if(selfId == 'svlprmdtl_startdate') {
                titleTxt    = 'วันที่เริ่มใช้ไม่ถูกต้อง';
                descTxt     = 'ป้อนวันที่เริ่มใช้ใหม่';
                if(errType == 'overSibling') {
                    messageTxt  = 'วันที่เริ่มใช้ไม่สามารถอยู่หลังวันที่สิ้นสุดได้ค่ะ';
                } else if(errType == 'lessThanNow') {
                    messageTxt  = 'ไม่สามารถป้อนวันที่เริ่มใช้ย้อนหลังได้ค่ะ';
                } else if(errType == 'notInPrmTime') {
                    var prdprmName = $('#svlprm_id').find('.selectReferenceJS-text').text();
                    messageTxt = 'วันที่เริ่มใช้ไม่ได้อยู่ในระยะเวลาของโปรโมชั่น '
                               + prdprmName + ' ค่ะ';
                }
            } else if(selfId == 'svlprmdtl_enddate') {
                titleTxt    = 'วันที่สิ้นสุดไม่ถูกต้อง';
                descTxt     = 'ป้อนวันที่สิ้นสุดใหม่';
                if(errType == 'overSibling') {
                    messageTxt  = 'วันที่สิ้นสุดไม่สามารถอยู่ก่อนหน้าวันที่เริ่มใช้ได้ค่ะ';
                } else if(errType == 'lessThanNow') {
                    messageTxt  = 'ไม่สามารถป้อนวันที่สิ้นสุดย้อนหลังได้ค่ะ';
                } else if(errType == 'notInPrmTime') {
                    var prdprmName = $('#svlprm_id').find('.selectReferenceJS-text').text();
                    messageTxt = 'วันที่สิ้นสุดไม่ได้อยู่ในระยะเวลาของโปรโมชั่น '
                               + prdprmName + ' ค่ะ';
                }
            }

            if(parent.$('.action-dialog-container').length <= 0) {
                parent.showActionDialog({
                    title: titleTxt,
                    message: messageTxt,
                    actionList: [
                        {
                            id: 'ok',
                            name: 'ตกลง',
                            desc: descTxt,
                            func:
                            function() {
                                parent.hideActionDialog();
                                self.val('');
                                self.focus();
                            }
                        }
                    ],
                    boxWidth: 400
                });
            }
        }

        function validateDiscout() {
            if($('#svlprmdtl_discout').val() == '') {
                return;
            }

            var discout = parseFloat($('#svlprmdtl_discout').val());

            if($('input[name="svlprmdtl_discout_type"]:checked').val() == 'บาท') {
                if(curSvlPrice != null && discout >= curSvlPrice) {
                    var msg = $('#svl_id').find('.selectReferenceJS-text').text()
                            + ' ราคา ' + curSvlPrice.formatMoney(2, '.', ',') + ' บาท '
                            + 'คุณไม่สามารถกำหนดส่วนลดให้มากกว่าหรือเท่ากับราคาผลิตภัณฑ์ได้';

                    parent.showActionDialog({
                        title: 'ส่วนลดไม่ถูกต้อง',
                        message: msg,
                        actionList: [
                            {
                                id: 'ok',
                                name: 'ตกลง',
                                desc: 'ป้อนส่วนลดใหม่',
                                func:
                                function() {
                                    parent.hideActionDialog();
                                    $('#svlprmdtl_discout').val('');
                                    $('#svlprmdtl_discout').focus();
                                    calPreviewSvlPrice();
                                }
                            }
                        ],
                        boxWidth: 400
                    });
                    return;
                }
            } else if($('input[name="svlprmdtl_discout_type"]:checked').val() == '%') {
                if(curSvlPrice != null && discout >= 100) {
                    parent.showActionDialog({
                        title: 'ส่วนลดไม่ถูกต้อง',
                        message: '%ส่วนลดต้องน้อยกว่า 100%',
                        actionList: [
                            {
                                id: 'ok',
                                name: 'ตกลง',
                                desc: 'ป้อนส่วนลดใหม่',
                                func:
                                function() {
                                    parent.hideActionDialog();
                                    $('#svlprmdtl_discout').val('');
                                    $('#svlprmdtl_discout').focus();
                                    calPreviewSvlPrice();
                                }
                            }
                        ],
                        boxWidth: 400
                    });
                    return;
                }
            }
            calPreviewSvlPrice();
        }

        function calPreviewSvlPrice() {
            var discout = parseFloat($('#svlprmdtl_discout').val());

            // Product Price
            if(curSvlPrice != null) {
                $('#preview-svl_price').text(curSvlPrice.formatMoney(2, '.', ','));
            }

            // Discout
            if($('#svlprmdtl_discout').val() == '') {
                discout = 0.00;
                $('#preview-discout').text('0.00');
            } else {
                if($('input[name="svlprmdtl_discout_type"]:checked').val() == '%') {
                    discout = Math.round(parseFloat(curSvlPrice * discout / 100));
                }
                $('#preview-discout').text(discout.formatMoney(2, '.', ','));
            }

            // Promotion Price
            if(curSvlPrice != null) {
                $('#preview-svlPrm_price').text(parseFloat(curSvlPrice - discout).formatMoney(2, '.', ','));
            }
        }

        function beforeSaveRecord() {
            // Not check time overlap
            if($('#svlprmdtl_startdate').val() == '') {
                return false;
            }

            var returnVal = true; // false = no err, true = have err

            $.ajax({
                url: '../common/ajaxCheckServiceListPromotionDetailsTimeOverlap.php',
                type: 'POST',
                data: {
                    svlprmdtl_id       : code,
                    svl_id          : $('input[name="svl_id"]').val(),
                    startdate       : tmpDateToRealDate($('#svlprmdtl_startdate').val()),
                    enddate         : tmpDateToRealDate($('#svlprmdtl_enddate').val()),
                    custype_id      : curCusTypeId
                },
                success:
                function(responseJSON) {
                    var response = $.parseJSON(responseJSON);
                    if(response.status == 'OVERLAP') {
                        var overlapListHTML = '<ul>';
                        for(i in response.overlapList) {
                            overlapListHTML += '<li>' + response.overlapList[i] + '</li>';
                        }
                        overlapListHTML += '</ul>';

                        var msg = 'คุณกำหนดระยะเวลาโปรโมชั่นของรายการบริการ ' 
                                + $('#svl_id').find('.selectReferenceJS-text').text()
                                + ' ซ้อนทับกับช่วงเวลาดังต่อไปนี้' + overlapListHTML 
                                + '<br>โปรดแก้ไขระยะเวลาโปรโมชั่นไม่ให้อยู่ในช่วงเวลาดังกล่าว';
                        parent.showActionDialog({
                            title: 'จัดโปรโมชั่นรายการบริการซ้อนทับกัน',
                            message: msg,
                            actionList: [
                                {
                                    id: 'ok',
                                    name: 'ตกลง',
                                    func:
                                    function() {
                                        parent.hideActionDialog();
                                    }
                                }
                            ],
                            boxWidth: 500
                        });
                    } else if(response.status == 'NOT_OVERLAP') {
                        if(action == 'ADD') {
                            if(!hasInputError()) {
                                saveRecord();
                            }
                        } else if(action == 'EDIT') {
                            if(!hasInputError()) {
                                confirmSaveRecord();
                            }
                        }
                    } else {
                        alert(response.status);
                    }
                }
            });

            return returnVal;
        }

        function svlprmIdChange() {
            for(i in refSvlprmData) {
                if(refSvlprmData[i].refValue == $('#svlprm_id').find('.selectReferenceJS-input').val()) {
                    curCusTypeId  = refSvlprmData[i].custype_id;
                    // Gen promotion time text
                    var timeTxt = '(ระยะเวลาโปรโมชั่น: ';
                    if(refSvlprmData[i].svlprm_enddate == '') {
                        timeTxt += realDateToThaiDate(refSvlprmData[i].svlprm_startdate) + ' - ไม่มีกำหนด)';
                    } else if(refSvlprmData[i].svlprm_startdate == refSvlprmData[i].svlprm_enddate) {
                        timeTxt += 'เฉพาะวันที่ ' + realDateToThaiDate(refSvlprmData[i].svlprm_startdate) + ')';
                    } else {
                        timeTxt += realDateToThaiDate(refSvlprmData[i].svlprm_startdate) + ' - '
                                 + realDateToThaiDate(refSvlprmData[i].svlprm_enddate) + ')';
                    }
                    $('#svlprmTime').text(timeTxt);
                    $('#svlprmTime').css('display','block');

                    // Add or remove require of enddate
                    if(refSvlprmData[i].svlprm_enddate == '') {
                        $('#svlprmdtl_enddate').removeClass('required');
                        $('.err-svlprmdtl_enddate').css('display', 'none');
                        $('#svlprmdtl_enddate').removeAttr('require');
                        $('#svlprmdtl_enddate_label').removeClass('input-required');
                    } else {
                        $('#svlprmdtl_enddate').attr('require', '');
                        $('#svlprmdtl_enddate_label').addClass('input-required');
                        $('#svlprmdtl_enddate').focusout(validateInput);
                    }
                    break;
                }
            }
        }
    </script>
    {/literal}
</head>
<body>

{include file="form_table_header.html"}
<div class="ftb-body">
    {if $action == 'VIEW_DETAIL'}
    <!-- VIEW_DETAIL -->
    <table class="table-view-detail">
        <tbody>             
            <tr>
                <td>รหัสรายการบริการที่จัดโปรโมชั่น :</td>
                <td>{$code}</td>
            </tr>
            <tr>
                <td>รายการบริการ :</td>
                <td>
                    <a href="form_table.php?action=VIEW_DETAIL&tableName=service_lists&code={$values.svl_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                        <div id="svl_id" class="selectReferenceJS text" style="cursor:pointer;"></div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>โปรโมชั่นรายการบริการที่จัด :</td>
                <td>
                    <a href="form_table.php?action=VIEW_DETAIL&tableName=package_promotions&code={$values.svlprm_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                        <div id="svlprm_id" class="selectReferenceJS text" style="cursor:pointer;"></div>
                    </a>
                </td>
            </tr>
            <tr>
                <td>ส่วนลด :</td>
                <td>
                    {if $values.svlprmdtl_discout != '-'}
                        {$values.svlprmdtl_discout} {$values.svlprmdtl_discout_type}
                    {else}
                        ฟรี
                    {/if}
                </td>
            </tr>
            <tr>
                <td>วันที่เริ่มใช้ :</td>
                <td>{$values.svlprmdtl_startdate}</td>
            </tr>
            <tr>
                <td>วันที่สิ้นสุด :</td>
                <td>{if $values.svlprmdtl_enddate != '-'}{$values.svlprmdtl_enddate}{else}ไม่มีกำหนด{/if}</td>
            </tr>
        </tbody>
    </table>
    <!--For calculate PreviewPrmPrice-->
    <input name="svlprmdtl_discout_type" type="radio" value="{$values.svlprmdtl_discout_type}" style="display:none;" checked>
    <input id="svlprmdtl_discout" type="hidden" value="{$values.svlprmdtl_discout}"> 
    {else}      
    <!-- ADD, EDIT -->   
    <form id="form-table" name="form-table" onsubmit="return false;">
    <input type="hidden" name="requiredFields" value="svlprm_id,svl_id,svlprmdtl_startdate,svlprmdtl_discout,svlprmdtl_discout_type">
    <table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td colspan="2">
                    <label class="input-required">รายการบริการ</label>
                    <div id="svl_id" class="selectReferenceJS form-input full" require></div>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-svl_id-require" class="errInputMsg half err-svl_id">โปรดเลือกรายการบริการ</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="input-required">โปรโมชั่นรายการบริการที่จัด</label>
                    <div id="svlprm_id" class="selectReferenceJS form-input full" require></div>
                    <span id="svlprmTime"></span>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-svlprm_id-require" class="errInputMsg half err-svlprm_id">โปรดเลือกโปรโมชั่น</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="input-required">วันที่เริ่มใช้</label>
                    <input id="svlprmdtl_startdate" name="svlprmdtl_startdate" type="text" class="mbk-dtp-th form-input half" value="{$values.svlprmdtl_startdate}" require>
                </td>
                <td>
                    <label id="svlprmdtl_enddate_label">วันที่สิ้นสุด</label>
                    <input id="svlprmdtl_enddate" name="svlprmdtl_enddate" type="text" class="mbk-dtp-th form-input half" value="{$values.svlprmdtl_enddate}">
                </td>
            </tr>
            <tr class="errMsgRow">
                <td>
                    <span id="err-svlprmdtl_startdate-require" class="errInputMsg half err-svlprmdtl_startdate">โปรดป้อนวันที่เริ่มใช้</span>
                </td>
                <td>
                    <span id="err-svlprmdtl_enddate-require" class="errInputMsg half err-svlprmdtl_enddate">โปรดป้อนวันที่สิ้นสุด</span>
                </td>
            </tr>
            <tr class="showForSale">
                <td colspan="2">
                    <label class="input-required">รูปแบบส่วนลด</label>
                    <label style="display:inline-block;"><input type="radio" name="svlprmdtl_discout_type" value="บาท" class="discout_type_radio" checked> ราคาสุทธิ</label><br>
                    <label style="display:inline-block;"><input type="radio" name="svlprmdtl_discout_type" value="%" class="discout_type_radio"> เปอร์เซ็น</label><br><br>
                </td>
            </tr>
            <tr class="showForSale">
                <td colspan="2">
                    <label class="input-required">ส่วนลด (<span id="svlprmdtl_discout_type_text">บาท</span>)</label>
                    <input id="svlprmdtl_discout" name="svlprmdtl_discout" type="text" class="form-input full" value="{$values.svlprmdtl_discout}" valuepattern="money" require>
                </td>
            </tr>
            <tr class="errMsgRow showForSale">
                <td colspan="2">
                    <span id="err-svlprmdtl_discout-require" class="errInputMsg half err-svlprmdtl_discout">โปรดป้อนส่วนลด</span>
                    <span id="err-svlprmdtl_discout-money" class="errInputMsg err-svlprmdtl_discout">รูปแบบส่วนลดไม่ถูกต้อง ส่วนลดเป็นได้เฉพาะตัวเลขเท่านั้น</span>
                </td>
            </tr>
        </tbody>
    </table>
    </form>
    {/if}
    <ul id="previewPrmPrice" class="showForSale{if $action == 'VIEW_DETAIL'} viewDetail{/if}">
        <li>
            <h2>ราคาปกติ</h2>
            <p>฿<span id="preview-svl_price">0.00</span></p>
        </li>
        <li>
            <h2>ราคาส่วนลด</h2>
            <p style="color: rgb(208, 38, 38);">
                ฿<span id="preview-discout">0.00</span>
            </p>
        </li>
        <li>
            <h2>ราคาโปรโมชั่น</h2>
            <p style="color: rgb(41, 127, 210);">
                ฿<span id="preview-svlPrm_price">0.00</span>
            </p>
        </li>
    </ul>
</div>
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
    3.  input[name="uniqueFields"] ใส่ชื่อฟิลด์ที่ต้องการเช็คว่าห้ามซ้ำ
-->