<!DOCTYPE html>
<html lang="th">
<head>
	<title>Spa - Backoffice</title>
	<meta charset="UTF-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
	<link rel="stylesheet" type="text/css" href="../inc/jquery-ui/jquery-ui.css"> 
    <script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../inc/jquery-ui/jquery-ui.js"></script> 
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
		var tableNameTH = '{/literal}{$tableNameTH}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_service_lists.php';

		$(document).ready(function() {
			$("#emp_birthdate").datepicker();

            selectReferenceJS({
                elem            : $('#svltyp_id'),
                data            : {/literal}{$referenceData["service_list_types"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.svltyp_id}{literal}'
            });

			uploadImageInput({
				area: $('#svl_picture'),
				input: $('input[name="svl_picture"]'),
				selector: $('#svl_picture_file'),
				defaultValue: '{/literal}{if $values.svl_picture}../img/service_lists/{$values.svl_picture}?rand={$randNum}{/if}{literal}'
			});

			// Set default value of textarea
			$('#svl_desc').text('{/literal}{$values.svl_desc}{literal}');
		});
    </script>
    {/literal}
</head>
<body>
 	 	 	 	 
{include file="form_table_header.html"}
<div class="ftb-body">
	{if $action == 'VIEW_DETAIL'}
	<!-- VIEW_DETAIL -->
	<div class="table-view-detail-image full">
		<img src="{if $values.svl_picture != '-'}../img/service_lists/{$values.svl_picture}?rand={$randNum}{else}../img/backoffice/no-pic.png{/if}">
	</div>
	<table class="table-view-detail">
		<tbody>
			<tr>
				<td>รหัสรายการบริการ :</td>
				<td>{$code}</td>
			</tr>
			<tr>
				<td>ชื่อรายการบริการ :</td>
				<td>{$values.svl_name}</td>
			</tr>
			<tr>
				<td>ประเภทรายการบริการ :</td>
				<td><div id="svltyp_id" class="selectReferenceJS text"></div></td>
			</tr>
			<tr>
				<td>เวลาที่ใช้ :</td>
				<td>{$values.svl_hr} ชั่วโมง {$values.svl_min} นาที</td>
			</tr>
			<tr>
				<td>ราคา :</td>
				<td>{$values.svl_price|number_format:2:".":","} บาท</td>
			</tr>
			<tr>
				<td>ค่าคอมมิชชั่น :</td>
				<td>{$values.svl_commission|number_format:2:".":","} บาท</td>
			</tr>
			<tr>
				<td>คำอธิบาย :</td>
				<td>{if $values.svl_desc}{$values.svl_desc}{else}-{/if}</td>
			</tr>
		</tbody>
	</table>
	{else}	 	
	<!-- ADD, EDIT -->		 	 	 	
    <form id="form-table" name="form-table" onsubmit="return false;">
	<input type="hidden" name="requiredFields" value="svltyp_id,svl_name,svl_price,svl_commission">
	<input type="hidden" name="uniqueFields" value="svl_name">
	<table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td colspan=2>
					<label class="input-required">ชื่อรายการบริการ</label>
					<input id="svl_name" name="svl_name" type="text" class="form-input full" value="{$values.svl_name}" valuepattern="character" require>
				</td>
			</tr>
			<tr>
                <td colspan="2">
                    <span id="err-svl_name-require" class="errInputMsg err-svl_name">โปรดป้อนชื่อรายการบริการ</span>
                    <span id="err-svl_name-character" class="errInputMsg err-svl_name">โปรดกรอกตัวอักษรภาษาไทย หรือตัวอักษรภาษาอังกฤษเท่านั้น</span>
                    <span id="err-svl_name-unique" class="errInputMsg err-svl_name">ชื่อรายการบริการซ้ำ โปรดป้อนชื่อรายการบริการใหม่</span>
                </td>
            </tr>
			<tr>
				<td colspan=2>
					<label class="input-required">ประเภทรายการบริการ</label>
					<div id="svltyp_id" class="selectReferenceJS form-input full" require></div>
				</td>
			</tr>
			<tr>
                <td colspan="2">
                    <span id="err-svltyp_id-require" class="errInputMsg err-svltyp_id">โปรดเลือกประเภทรายการบริการ</span>
                </td>
            </tr>
			<tr>
				<td>
					<label>เวลาที่ใช้(ชั่วโมง)</label>
					<input id="svl_hr" name="svl_hr" type="text" class="form-input half" value="{$values.svl_hr}" maxlength="2" size="2" valuepattern="number">
				</td>
				<td>
					<label>เวลาที่ใช้(นาที)</label>
					<input id="svl_min" name="svl_min" type="text" class="form-input half" value="{$values.svl_min}" maxlength="2" size="2" valuepattern="minute">
				</td>
			</tr>
			<tr class="errMsgRow">
                <td>
                    <span id="err-svl_hr-number" class="errInputMsg half err-svl_hr">โปรดกรอกชั่วโมงเป็นตัวเลขจำนวนเต็ม</span>
                </td>
                <td>
                    <span id="err-svl_min-minute" class="errInputMsg half err-svl_min">โปรดกรอกนาทีเป็นตัวเลขจำนวนเต็มที่มีค่าไม่เกิน 59</span>
                </td>
            </tr>
			<tr>
				<td>
					<label class="input-required">ราคา</label>
					<input id="svl_price" name="svl_price" type="text" class="form-input half" value="{$values.svl_price}" valuepattern="money" require style="text-align:right;">
				</td>
				<td>
					<label class="input-required">ค่าคอมมิชชั่น</label>
					<input id="svl_commission" name="svl_commission" type="text" class="form-input half" value="{$values.svl_commission}"  valuepattern="money" require style="text-align:right;">
				</td>
			</tr>
			<tr class="errMsgRow">
                <td>
                    <span id="err-svl_price-require" class="errInputMsg half err-svl_price">โปรดป้อนราคา</span>
                    <span id="err-svl_price-money" class="errInputMsg half err-svl_price">รูปแบบจำนวนเงินไม่ถูกต้อง จำนวนเงินเป็นได้เฉพาะตัวเลข ไม่มีคอมม่าคั่น จุดทศนิยม 2 ตำแหน่ง เช่น 130, 1600.25</span>
                </td>
                <td>
                    <span id="err-svl_commission-require" class="errInputMsg half err-svl_commission">โปรดป้อนค่าคอมมิชชั่น</span>
                    <span id="err-svl_commission-money" class="errInputMsg half err-svl_commission">รูปแบบจำนวนเงินไม่ถูกต้อง จำนวนเงินเป็นได้เฉพาะตัวเลข ไม่มีคอมม่าคั่น จุดทศนิยม 2 ตำแหน่ง เช่น 130, 1600.25</span>
                </td>
            </tr>
			<tr>
				<td colspan=2>
					<label>คำอธิบาย</label>
					<textarea id="svl_desc" name="svl_desc" class="form-input full" value="{$values.svl_desc}" rows="6"></textarea>
				</td>
			</tr>
			<tr>
				<td colspan=2>
					<label>รูปภาพรายการบริการ</label>
					<div id="svl_picture" class="uploadImageArea full"></div>
					<input type="hidden" name="svl_picture" value="{$values.svl_picture}">
				</td>
			</tr>
	    </tbody>
    </table>
    </form>
	<form method="post" enctype="multipart/form-data">
		<input id="svl_picture_file" type="file" name="imageFile" class="uploadImageSelector" multiple="multiple">
	</form>
	{/if}
</div>
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
-->