<!DOCTYPE html>
<html lang="th">
<head>
    <title>avertising - Backoffice</title>
    <meta charset="UTF-8"/>
    {literal}
    <link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
    <link rel="stylesheet" type="text/css" href="../inc/jquery-ui/jquery-ui.css"> 
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../inc/jquery-ui/jquery-ui.js"></script> 
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
        var tableNameTH = '{/literal}{$tableNameTH}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_advertising.php';

        $(document).ready(function() {
            // Default value of radio input
            if(action == 'EDIT') {
                $('input[name="avs_status"][value="{/literal}{$values.avs_status}{literal}"]').click();
            }

            uploadImageInput({
                area: $('#avs_img'),
                input: $('input[name="avs_img"]'),
                selector: $('#avs_img_file'),
                defaultValue: '{/literal}{if $values.avs_img}../img/advertising/{$values.avs_img}?rand={$randNum}{/if}{literal}'
            });
        });
    </script>
    {/literal}
</head>
<body>
                 
{include file="form_table_header.html"}
{if $emp_privileges.manage_advertising}
<div class="ftb-body">
    {if $action == 'VIEW_DETAIL'}
    <!-- VIEW_DETAIL -->
    <div class="table-view-detail-image full">
    <img src="{if $values.avs_img != '-'}../img/advertising/{$values.avs_img}?rand={$randNum}{else}../img/backoffice/no-pic.png{/if}">
    </div>
    <table class="table-view-detail">
        <tbody>
            <tr>
                <td>รหัสการประชาสัมพันธ์ :</td>
                <td>{$code}</td>
            </tr>
            <tr>
                <td>ชื่อการประชาสัมพันธ์ :</td>
                <td>{$values.avs_name}</td>
            </tr>
            <tr>
                <td>สถานะการประชาสัมพันธ์ :</td>
                <td>{if $values.avs_status==1}แสดงการประชาสัมพันธ์{else if $values.avs_status==0}ไม่แสดงการประชาสัมพันธ์{else}-{/if}</td>
            </tr>
            <tr>
                <td>ข้อความ :</td>
                <td>{$values.avs_txt}</td>
            </tr>
        </tbody>
    </table>
    {else}      
    <!-- ADD, EDIT -->                  
    <form id="form-table" name="form-table" onsubmit="return false;">
    <input type="hidden" name="requiredFields" value="avs_name,avs_status">
    <table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td colspan="2">
                    <label class="input-required">ชื่อการประชาสัมพันธ์</label>
                    <input id="avs_name" name="avs_name" type="text" class="form-input full" value="{$values.avs_name}" requrie>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span id="err-avs_name-require" class="errInputMsg err-avs_name">โปรดป้อนชื่อการประชาสัมพันธ์</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="input-required">สถานะการประชาสัมพันธ์</label>
                    <label style="display: inline-block;">
                        <input id="avs_status_show" type="radio" name="avs_status" value="1" checked> แสดง
                    </label> &nbsp;
                    <label style="display: inline-block;">
                        <input id="avs_status_unshow" type="radio" name="avs_status" value="0"> ไม่แสดง
                    </label>
                    <br><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span id="err-avs_status-require" class="errInputMsg err-avs_status">โปรดเลือกสถานะการประชาสัมพันธ์</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>ข้อความประชาสัมพันธ์</label>
                    <textarea id="avs_txt" name="avs_txt" class="form-input full" rows="6">{$values.avs_txt}</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>รูปภาพประชาสัมพันธ์</label>
                    <div id="avs_img" class="uploadImageArea full"></div>
                    <input type="hidden" name="avs_img" value="{$values.avs_img}">
                </td>
            </tr>
        </tbody>
    </table>
    
    </form>
    <form method="post" enctype="multipart/form-data">
        <input id="avs_img_file" type="file" name="imageFile" class="uploadImageSelector" multiple="multiple">
    </form>
    {/if}
</div><!-- end ftb-body -->
{else}
<div class="noPrivilege-formTable-container">
    <div class="noPrivilege-formTable-inner">
        <i class="fa fa-lock"></i><br>คุณไม่ได้รับสิทธิ์ในการเข้าถึงข้อมูลในส่วนนี้
    </div>
</div>
{/if}<!-- end if privileges -->
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
-->