<!DOCTYPE html>
<html lang="th">
<head>
	<title>Spa - Backoffice</title>
	<meta charset="UTF-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
	<link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
	<script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <style type="text/css">
    .privilegesTable {
        -webkit-user-select: none;
        -moz-user-select: none;
        margin-top: 10px;
    }
    .privilegesTable td, .privilegesTable label {
        cursor: pointer;
    }
    .privilegesTable th {
        white-space: nowrap;
        table-layout: fixed;
    }
    .privilegesTable tr.selected, .privilegesTable tr.selected:hover {
        background: rgb(239, 255, 199);
    }
    </style>
    <script type="text/javascript">
        // Global variables
        var action      = '{/literal}{$action}{literal}';
        var tableName   = '{/literal}{$tableName}{literal}';
		var tableNameTH = '{/literal}{$tableNameTH}{literal}';
        var code        = '{/literal}{$code}{literal}';
        var ajaxUrl     = 'form_grant_privileges.php';
        var valuesDetail    = '';
        var vdtlAllSvl 	= 0;

         // Set valuesDetail
        {/literal}
        {if $valuesDetail}
        {literal}
            valuesDetail= {/literal}{$valuesDetail|@json_encode}{literal};
        {/literal}
        {/if}
        {literal}

		$(document).ready(function() {
            setAllPrivlg();

            selectReferenceJS({
                elem            : $('#emp_id'),
                data            : {/literal}{$referenceData["employees"]|@json_encode}{literal},
                defaultValue    : '{/literal}{if $values.emp_id}{$values.emp_id}{/if}{literal}'
            });

            $('.privilegesTable td').click(function() {
                var tr = $(this).parent();
                tr.find('input[type="checkbox"]').click();
            });
            $('.privilegesTable label').click(function(e) {
                e.stopPropagation();
            });
            $('input[name="privlg_id[]"]').click(function(e) {
                e.stopPropagation();
                var tr = $(this).parent().parent();
                if(tr.hasClass('selected')) {
                    tr.removeClass('selected');
                } else {
                    tr.addClass('selected');
                } 
                setAllPrivlg();
            });

            $('#selectAll').change(function() {
                var flag = $(this).prop('checked');
                $('input[name="privlg_id[]"]').prop('checked', flag);
                if(flag) {
                    $('.privilegesTable tr').addClass('selected');
                } else {
                    $('.privilegesTable tr').removeClass('selected');
                }
                setAllPrivlg();
            });
		});

        function setAllPrivlg() {
            $('#allPrivlg').text($('input[name="privlg_id[]"]:checked').length);
        }

        function beforeSaveRecord() {
            // Check input required
            var returnVal  = false;

            // Not input booking
            if(!hasInputError() && $('input[name="privlg_id[]"]:checked').length == 0) {
                parent.showActionDialog({
                    title   : 'คุณยังไม่ได้มอบสิทธิ์',
                    message : 'กรุณาเลือกสิทธิ์ที่ต้องการมอบอย่างน้อย 1 สิทธิ์ค่ะ',
                    actionList: [
                        {
                            id: 'ok',
                            name: 'ตกลง',
                            func:
                            function() {
                                parent.hideActionDialog();
                            }
                        }
                    ],
                    boxWidth: 500
                });
                returnVal = true;
            }
            return returnVal;
        }
    </script>
    {/literal}
</head>
<body>
 	 	 	 	 
{include file="form_table_header.html"}
<div class="ftb-body">
	{if $action == 'VIEW_DETAIL'}
	<!-- VIEW_DETAIL -->
    <label class="article-title">ข้อมูลการมอบสิทธิ์การใช้งาน</label>
	<table class="table-view-detail">
		<tbody> 					
			<tr>
				<td>รหัสพนักงานที่ได้รับสิทธิ์ :</td>
				<td>
                    <a href="form_table.php?action=VIEW_DETAIL&tableName=employees&code={$code}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                    {$code}
                    </a>
                </td>
			</tr>
			<tr>
                <td>ชื่อ-นามสกุลพนักงานที่ได้รับสิทธิ์ :</td>
                <td>{$emp_fullName}</td>
            </tr>
		</tbody>
	</table>
	<!--Service list Data-->
	<label class="article-title">รายการสิทธิ์ที่ได้รับ</label>
	ทั้งหมด {$grnprivlgList|count} รายการ
	<table class="view-detail-reference" style="margin-top:5px;">
        <thead>
            <tr>
                <th style="text-align:center;">ลำดับ</th>
                <th class="txtLong-col">ชื่อสิทธิ์</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$grnprivlgList key=i item=grnprivlg}
            <tr>
                <td align="center">{$grnprivlg.no}</td>
                <td align="left" class="txtLong-col">{$grnprivlg.privlg_name_th}</td>
            </tr>
            {/foreach}
        </tbody>
    </table>
	{else}	 	
	<!-- ADD, EDIT -->	 	 	 	 	 	 	 	 	
    <form id="form-table" name="form-table" onsubmit="return false;">
	<input type="hidden" name="requiredFields" value="emp_id">
	<table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
                <td colspan="2">
                    <label class="input-required">พนักงานที่ได้รับสิทธิ์</label>
                    <div id="emp_id" class="selectReferenceJS form-input full" require></div>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-emp_id-require" class="errInputMsg err-emp_id">โปรดเลือกพนักงานที่ได้รับสิทธิ์</span>
                </td>
            </tr>
		</tbody>
    </table>
    
    <label class="article-title">รายการสิทธิ์ที่ได้รับ</label>
    <label>จำนวนสิทธิ์ที่ได้รับทั้งหมด <span id="allPrivlg"></span> สิทธิ์</label>
	<table class="default-table privilegesTable">
        <thead>
            <tr>
                <th>ลำดับ</th>
                <th>
                    <label><input type="checkbox" id="selectAll"> เลือกทั้งหมด</label>
                </th>
                <th width="100%">ชื่อสิทธิ์</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$privlgList key=i item=privlg}
            <tr>
                <td style="text-align:center; width:80px;">{$privlg.no}</td>
                <td style="text-align:center;">
                    <input id="{$privlg.privlg_name}" type="checkbox" name="privlg_id[]" value="{$privlg.privlg_id}">
                </td>
                <td><label for="{$privlg.privlg_name}">{$privlg.privlg_name_th}</label></td>
            </tr>
            {/foreach}   
        </tbody>
        
    </table>
    </form>
	{/if}
</div>
</body>
</html>