<!DOCTYPE html>
<html lang="th">
<head>
	<title>Spa - Backoffice</title>
	<meta charset="UTF-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
	<link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <style type="text/css">
        .prd_unit_name {
            width: 60px;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>
    <script type="text/javascript">
        // Global variables
        var action          = '{/literal}{$action}{literal}';
        var tableName       = '{/literal}{$tableName}{literal}';
		var tableNameTH     = '{/literal}{$tableNameTH}{literal}';
        var code            = '{/literal}{$code}{literal}';
        var ajaxUrl         = 'form_orders.php';
        var valuesDetail    = '';
        var refPrdData      = {/literal}{$referenceData["products"]|@json_encode}{literal};

        // Set valuesDetail
        {/literal}
        {if $valuesDetail}
        {literal}
            valuesDetail= {/literal}{$valuesDetail|@json_encode}{literal};
        {/literal}
        {/if}
        {literal}

        $(document).ready(function () {
            $('#changeOrdStatus-remain_order-btn').click(function(){
                var title = 'เปลี่ยนสถานะเป็นรับไม่ครบตามที่สั่งซื้อ';
                var msg   = 'การสั่งซื้อครั้งนี้ได้รับสินค้าไม่ครบตามจำนวนที่ได้สั่งซื้อไว้ คุณต้องการเปลี่ยนสถานะการการสั่งซื้อนี้เป็น รับไม่ครบตามที่สั่งซื้อ ใช่หรือไม่?';
                changeOrdStatus(title, msg, 'OS04');
            });

            $('#addProjectBtn').click(addProduct);

            selectReferenceJS({
                elem            : $('#ordtyp_id'),
                data            : {/literal}{$referenceData["order_types"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.ordtyp_id}{literal}'
            });
            selectReferenceJS({
                elem            : $('#emp_id'),
                data            : {/literal}{$referenceData["employees"]|@json_encode}{literal},
                defaultValue    : '{/literal}{if $values.emp_id}{$values.emp_id}{else}{$session_emp_id}{/if}{literal}'
            });
            selectReferenceJS({
                elem            : $('#comp_id'),
                data            : {/literal}{$referenceData["companies"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.comp_id}{literal}'
            });
            selectReferenceJS({
                elem            : $('#ordstat_id'),
                data            : {/literal}{$referenceData["order_status"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.ordstat_id}{literal}'
            });

			$('#ord_date').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#ord_date').blur();
                },
                onShow:function( ct ){
                    this.setOptions({
                        minDate: realDateToTmpDate('{/literal}{$nowDate}{literal}'),
                        maxDate:$('#ord_snd_date').val()?unconvertThaiDate($('#ord_snd_date').val()):false
                    })
                },
                timepicker:false
            });

            $('#ord_snd_date').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#ord_snd_date').blur();
                },
                onShow:function( ct ){
                    this.setOptions({
                        minDate:$('#ord_date').val()?unconvertThaiDate($('#ord_date').val()):realDateToTmpDate('{/literal}{$nowDate}{literal}')
                    })
                },
                timepicker:false
            });

            // Create product input
            if(action == 'ADD') {
                addProduct({
                    defaultValue : false
                });
            } else if(action == 'EDIT') {
                for(i in valuesDetail) {
                     addProduct({
                        defaultValue : true,
                        orddtl_id   : valuesDetail[i].orddtl_id,
                        prd_id      : valuesDetail[i].prd_id,
                        prd_qty     : valuesDetail[i].orddtl_amount,
                        unit_name   : valuesDetail[i].unit_name
                    });
                }
            }

            // Check date
            $('#ord_date').change(function(){
                checkDate($(this), $('#ord_snd_date'));
            });
            $('#ord_snd_date').change(function() {
                checkDate($(this), $('#ord_date'));
            });

            function checkDate(self, sibling) {
                // Skip check
                if(self.val() == '' || isDateThaiFormat(self.val())) {
                    return;
                }

                var selfDate        = new Date(self.val());
                var siblingDate     = new Date(unconvertThaiDate(sibling.val()));
                var nowDate         = new Date(realDateToTmpDate('{/literal}{$nowDate}{literal}'));
                var selfId          = self.attr('id');

                // Check sibling
                if(sibling.val() != '') {
                    if(selfId == 'ord_date') {
                        if(selfDate.getTime() > siblingDate.getTime()) {
                            showAlertInvalidDate(self, 'overSibling');
                            return;
                        }
                    } else if(selfId == 'ord_snd_date') {
                        if(selfDate.getTime() < siblingDate.getTime()) {
                            showAlertInvalidDate(self, 'overSibling');
                            return;
                        }
                    }
                }

                // Check now date
                if(selfId == 'ord_date') {
                    if(selfDate.getTime() < nowDate.getTime()) {
                        showAlertInvalidDate(self, 'lessThanNow')
                    }
                } else if(selfId == 'ord_snd_date') {
                    if(selfDate.getTime() < nowDate.getTime()) {
                        showAlertInvalidDate(self, 'lessThanNow')
                    }
                }
            }
            function showAlertInvalidDate(self, errType) {
                var titleTxt    = '';
                var messageTxt  = '';
                var descTxt     = '';
                var selfId      = self.attr('id');

                if(selfId == 'ord_date') {
                    titleTxt    = 'วันที่สั่งซื้อไม่ถูกต้อง';
                    descTxt     = 'ป้อนวันที่สั่งซื้อใหม่';
                    if(errType == 'overSibling') {
                        messageTxt  = 'วันที่สั่งซื้อไม่สามารถอยู่หลังวันที่จัดส่งได้ค่ะ';
                    } else if(errType == 'lessThanNow') {
                        messageTxt  = 'ไม่สามารถป้อนวันที่สั่งซื้อย้อนหลังได้ค่ะ';
                    }
                } else if(selfId == 'ord_snd_date') {
                    titleTxt    = 'วันที่จัดส่งไม่ถูกต้อง';
                    descTxt     = 'ป้อนวันที่จัดส่งใหม่';
                    if(errType == 'overSibling') {
                        messageTxt  = 'วันที่จัดส่งไม่สามารถอยู่ก่อนหน้าวันที่สั่งซื้อได้ค่ะ';
                    } else if(errType == 'lessThanNow') {
                        messageTxt  = 'ไม่สามารถป้อนวันที่จัดส่งย้อนหลังได้ค่ะ';
                    }
                }

                if(parent.$('.action-dialog-container').length <= 0) {
                    parent.showActionDialog({
                        title: titleTxt,
                        message: messageTxt,
                        actionList: [
                            {
                                id: 'ok',
                                name: 'ตกลง',
                                desc: descTxt,
                                func:
                                function() {
                                    parent.hideActionDialog();
                                    self.val('');
                                    self.focus();
                                }
                            }
                        ],
                        boxWidth: 400
                    });
                }
            }
        });

        function changeOrdStatus(title, msg, ordstat_id) {
            parent.showActionDialog({
                title: title,
                message: msg,
                actionList: [
                    {
                        id: 'change',
                        name: 'ตกลง',
                        desc: 'สถานะการสั่งซื้อครั้งนี้จะถูกเปลี่ยน',
                        func:
                        function() {
                            parent.hideActionDialog();
                            $.ajax({
                                url: '../common/ajaxChangeOrdStatus.php',
                                type: 'POST',
                                data: {
                                    ord_id: $('input[name="ord_id"]').val(),
                                    ordstat_id: ordstat_id
                                },
                                success:
                                function(response) {
                                    if(response == 'PASS') {
                                         parent.confirmCloseFormTable(action);
                                         parent.pullTable(false);
                                    } else if(response == 'FAIL') {
                                        parent.showActionDialog({
                                            title: 'เกิดข้อผิดพลาด',
                                            message: 'ไม่สามารถเปลี่ยนสถานะการสั่งซื้อได้เนื่องจากเกิดข้อผิดพลาดบางประการ',
                                            actionList: [
                                                {
                                                    id: 'ok',
                                                    name: 'ตกลง',
                                                    func:
                                                    function() {
                                                        parent.hideActionDialog();
                                                    }
                                                }
                                            ]
                                        });
                                    } else {
                                        alert(response);
                                    }
                                }
                            });
                        }
                    },
                    {
                        id: 'cancel',
                        name: 'ยกเลิก',
                        desc: 'ยกเลิกการเปลี่ยนสถานะการสั่งซื้อ',
                        func:
                        function() {
                            parent.hideActionDialog();
                        }
                    }
                ],
                boxWidth: 500
            });
        }
                
        function addProduct(data) {
            var randNum;
            var selectRefDefault = '';
            var unitName = '';
            do {
                randNum     = parseInt(Math.random()*1000);
            } while($('#prd_id_' + randNum).length > 0);
            var inputKeyId  = 'prd_id_' + randNum;
            var inputQtyId  = 'prd_qty_' + randNum;
            if(typeof(data.unit_name) != 'undefined' && data.unit_name != '') {
                unitName = data.unit_name;
            }

            // Create HTML and append
            var prdRowHTML  = '<tr class="product-row">'
                            + '     <td width="350px">'
                            + '         <div id="' + inputKeyId + '" class="selectReferenceJS form-input half" require style="width:350px;"></div>'
                            + '     </td>'
                            + '     <td>';

            // add input product amount
            if(data.defaultValue) {
                prdRowHTML += '         <input id="' + inputQtyId + '" name="prd_qty[]" type="text" class="form-input half" value="' + data.prd_qty + '" maxlength="6" size="6" valuepattern="number" require style="text-align:right; width:80px;">';
                selectRefDefault = data.prd_id;
            } else {
                prdRowHTML += '         <input id="' + inputQtyId + '" name="prd_qty[]" type="text" class="form-input half" maxlength="6" size="6" valuepattern="numberMoreThanZero" require style="text-align:right; width:80px;">';
            }

            // add order detail id for update
            if(action == 'EDIT' && typeof(data.orddtl_id) != 'undefined') {
                prdRowHTML += '         <input name="orddtl_id[]" type="hidden" value="' + data.orddtl_id + '">';
            }
                prdRowHTML += '         <span class="prd_unit_name">' + unitName + '</span>'
                            + '         <button class="removeProductBtn button button-icon button-icon-delete" onclick="removeProduct(\'' + randNum + '\')">ลบ</button>'
                            + '     </td>'
                            + '</tr>'
                            + '<tr id="errMsgRow_' + randNum + '" class="errMsgRow">'
                            + '     <td>'
                            + '         <span id="err-' + inputKeyId + '-require" class="errInputMsg half err-' + inputKeyId + '">'
                            + '             โปรดเลือกผลิตภัณฑ์'
                            + '         </span>'
                            + '     </td>'
                            + '     <td>'
                            + '         <span id="err-' + inputQtyId + '-require" class="errInputMsg half err-' + inputQtyId + '">'
                            + '             โปรดกรอกจำนวนที่สั่งซื้อ'
                            + '         </span>'
                            + '         <span id="err-' + inputQtyId + '-numberMoreThanZero" class="errInputMsg half err-' + inputQtyId + '">'
                            + '             โปรดกรอกจำนวนเป็นตัวเลขจำนวนเต็มตั้งแต่ 1 ขึ้นไป'
                            + '         </span>'
                            + '     </td>'
                            + '</tr>';
            $('#order-detail-table tbody').append(prdRowHTML);

            // Create select reference
            selectReferenceJS({
                elem            : $('#' + inputKeyId),
                data            : refPrdData,
                defaultValue    : selectRefDefault,
                onOptionSelect  :
                function() {
                    pullUnitName(inputKeyId);
                },
                success         : 
                function() {
                    $('input[name="' + inputKeyId + '"]').attr('name', 'prd_id[]');
                    setAllOrdPrd();
                },
                group           : 'products'
            });
            // Check Input required and pattern
            $('#' + inputQtyId).focusout(validateInput);
        }

        function removeProduct(randNum) {
            if($('.removeProductBtn').length > 1) {
                var selectRef   = $('#prd_id_' + randNum);
                var tr          = selectRef.parent().parent();
                var txt         = selectRef.find('.selectReferenceJS-text').text();
                var val         = selectRef.find('.selectReferenceJS-input').val();
                var msg         = '';
                if(val != '') {
                    msg = 'คุณต้องการลบผลิตภัณฑ์ ' + txt + ' ออกจากการสั่งซื้อครั้งนี้ใช่หรือไม่?';
                } else {
                    msg = 'คุณต้องการลบผลิตภัณฑ์ที่เลือกออกจากการสั่งซื้อครั้งนี้ใช่หรือไม่?';
                }
                parent.showActionDialog({
                    title: 'ลบผลิตภัณฑ์',
                    message: msg,
                    actionList: [
                        {
                            id: 'ok',
                            name: 'ตกลง',
                            desc: 'ลบผลิตภัณฑ์นี้ออกจากการสั่งซื้อ',
                            func:
                            function() {
                                parent.hideActionDialog();
                                tr.remove();
                                $('#errMsgRow_' + randNum).remove();
                                setAllOrdPrd();
                            }
                        },
                        {
                            id: 'cancel',
                            name: 'ยกเลิก',
                            desc: 'ยกเลิกการลบ',
                            func:
                            function() {
                                parent.hideActionDialog();
                            }
                        }
                    ],
                    boxWidth: 400
                });
            } else {
                parent.showActionDialog({
                    title: 'ไม่สามารถลบผลิตภัณฑ์ได้',
                    message: 'รายการผลิตภัณฑ์ที่สั่งซื้อต้องมีอย่างน้อย 1 รายการค่ะ',
                    actionList: [
                        {
                            id: 'ok',
                            name: 'ตกลง',
                            func:
                            function() {
                                parent.hideActionDialog();
                            }
                        }
                    ],
                    boxWidth: 400
                });
            }
            
        }

        function allowSelectPrdId(selected) {
            var notDuplicate = true;
            $('input[name="prd_id[]"]').each(function() {
                if($(this).val() == selected) {
                     parent.showActionDialog({
                        title: 'คุณเลือกผลิตภัณฑ์นี้แล้ว',
                        message: 'รายการผลิตภัณฑ์ไม่สามารถซ้ำกันได้ค่ะ',
                        actionList: [
                            {
                                id: 'ok',
                                name: 'ตกลง',
                                func:
                                function() {
                                    parent.hideActionDialog();
                                }
                            }
                        ],
                        boxWidth: 400
                    });
                    notDuplicate = false;
                }
            });
            return notDuplicate;
        }

        function pullUnitName(inputKeyId) {
            var prdID       = $('#' + inputKeyId).find('.selectReferenceJS-input').val();
            
            if(typeof(prdID) != 'undefined' && prdID != '') {
                var prdUnitName = $('#' + inputKeyId).parent().parent().find('.prd_unit_name');
                var unitName    = '';

                for(i in refPrdData) {
                    if(refPrdData[i].refValue == prdID) {
                        unitName = refPrdData[i].unit_name;
                        break;
                    }
                }

                prdUnitName.text(unitName);
            }
        }

        function setAllOrdPrd() {
            $('#allOrdPrd').text($('input[name="prd_id[]"]').length);
        }

        function beforeSaveRecord() {
            // Not check time overlap
            if(hasInputError()) {
                if(parent.$('.action-dialog').length == 0) {
                    parent.showActionDialog({
                        title: 'ข้อมูลไม่ถูกต้อง',
                        message: 'คุณป้อนข้อมูลไม่ครบ หรือรูปแบบข้อมูลไม่ถูกต้อง '
                                +'โปรดตรวจสอบข้อความแจ้งเตือนและแก้ไขให้ถูกต้องด้วยค่ะ',
                        actionList: [
                            {
                                id: 'ok',
                                name: 'ตกลง',
                                func:
                                function() { 
                                    parent.hideActionDialog();
                                }
                            }
                        ],
                        boxWidth: 450
                    });
                }
                return false;
            }

            var returnVal = true; // false = no err, true = have err
            var prdOrdList = {};

            // Get product list
            $('input[name="prd_id[]"]').each(function() {
                var index   = $(this).val();
                var qty     = $(this).parent().parent().parent().find('input[name="prd_qty[]"]').val();
                prdOrdList[index] = {
                    prd_id  : index,
                    qty     : qty
                };
            });

            $.ajax({
                url: '../common/ajaxRemindProductMaxAmount.php',
                type: 'POST',
                data: {
                    prdOrdList : prdOrdList
                },
                success:
                function(responseJSON) {
                    var response = $.parseJSON(responseJSON);
                    if(response.status == 'OVER') {
                        var msg = 'ผลิตภัณฑ์ที่คุณสั่งซื้อมีจำนวนในคลังสินค้าเกินกว่ากำหนด ได้แก่<br>' 
                                + response.overListHtml
                                + '<br>คุณต้องการสั่งซื้อสินค้าครั้งนี้ใช่หรือไม่?';
                        parent.showActionDialog({
                            title: 'จำนวนในคลังสินค้าเกินกว่ากำหนด',
                            message: msg,
                            actionList: [
                                {
                                    id: 'ok',
                                    name: 'ตกลง',
                                    desc: 'สั่งซื้อผลิตภัณฑ์เกินจำนวนที่กำหนด',
                                    func:
                                    function() {
                                        parent.hideActionDialog();
                                        saveRecord();
                                    }
                                },
                                {
                                    id: 'cancel',
                                    name: 'ยกเลิก',
                                    desc: 'กลับไปแก้ไขจำนวนผลิตภัณฑ์ใหม่',
                                    func:
                                    function() {
                                        parent.hideActionDialog();
                                    }
                                }
                            ],
                            boxWidth: 500
                        });
                    } else if(response.status == 'NOT_OVER') {
                        if(action == 'ADD') {
                                saveRecord();
                        } else if(action == 'EDIT') {
                                confirmSaveRecord();
                        }
                    } else {
                        alert(response.status);
                    }
                }
            });

            return returnVal;
        }

        function changeOrdStatus(title, msg, ordstat_id) {
            parent.showActionDialog({
                title: title,
                message: msg,
                actionList: [
                    {
                        id: 'change',
                        name: 'ตกลง',
                        desc: 'สถานะการสั่งซื้อครั้งนี้จะถูกเปลี่ยน',
                        func:
                        function() {
                            parent.hideActionDialog();
                            $.ajax({
                                url: '../common/ajaxChangeOrdStatus.php',
                                type: 'POST',
                                data: {
                                    ord_id: $('input[name="ord_id"]').val(),
                                    ordstat_id: ordstat_id
                                },
                                success:
                                function(response) {
                                    if(response == 'PASS') {
                                         parent.confirmCloseFormTable(action);
                                         parent.pullTable(false);
                                    } else if(response == 'FAIL') {
                                        parent.showActionDialog({
                                            title: 'เกิดข้อผิดพลาด',
                                            message: 'ไม่สามารถเปลี่ยนสถานะการสั่งซื้อได้เนื่องจากเกิดข้อผิดพลาดบางประการ',
                                            actionList: [
                                                {
                                                    id: 'ok',
                                                    name: 'ตกลง',
                                                    func:
                                                    function() {
                                                        parent.hideActionDialog();
                                                    }
                                                }
                                            ]
                                        });
                                    } else {
                                        alert(response);
                                    }
                                }
                            });
                        }
                    },
                    {
                        id: 'cancel',
                        name: 'ยกเลิก',
                        desc: 'ยกเลิกการเปลี่ยนสถานะการสั่งซื้อ',
                        func:
                        function() {
                            parent.hideActionDialog();
                        }
                    }
                ],
                boxWidth: 500
            });
        }
    </script>
    {/literal}
</head>
<body>

{include file="form_table_header.html"}
{if $emp_privileges.manage_orders}
<div class="ftb-body">
    {if $action == 'VIEW_DETAIL'}
    <!-- VIEW_DETAIL -->
    <!--Orders Data-->
    <label class="article-title">ข้อมูลการสั่งซื้อ</label>
    <table class="table-view-detail">
        <tbody>
            <tr>
                <td>รหัสการสั่งซื้อ :</td>
                <td>
                    {$code}
                    <input type="hidden" name="ord_id" value="{$code}" />
                </td>
            </tr>
            <tr>
                <td>พนักงานที่สั่งซื้อ :</td>
                <td>
                    <a href="form_table.php?action=VIEW_DETAIL&tableName=employees&code={$values.emp_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                            <div id="emp_id" class="selectReferenceJS text" style="cursor:pointer;"></div>
                        </a>
                </td>
            </tr>
            <tr>
                <td>บริษัทจำหน่ายผลิตภัณฑ์ :</td>
                <td><div id="comp_id" class="selectReferenceJS text"></div></td>
            </tr>
            <tr>
                <td>ประเภทการสั่งซื้อ :</td>
                <td><div id="ordtyp_id" class="selectReferenceJS text"></div></td>
            </tr>
            <tr>
                <td>วันที่สั่งซื้อ :</td>
                <td>{if $values.ord_date}{$values.ord_date_th}{else}-{/if}</td>
            </tr>
            <tr>
                <td>วันที่จัดส่ง :</td>
                <td>{if $values.ord_snd_date}{$values.ord_snd_date_th}{else}-{/if}</td>
            </tr>
            <tr>
                <td>สถานะการสั่งซื้อ :</td>
                <td>
                    {if $values.ordstat_id == 'OS01'}
                    <span class="statusHL statusHL-gray">
                    {else if $values.ordstat_id == 'OS02'}
                    <span class="statusHL statusHL-lightGreen">
                    {else if $values.ordstat_id == 'OS03'}
                    <span class="statusHL statusHL-green">
                    {else if $values.ordstat_id == 'OS04'}
                    <span class="statusHL statusHL-yellow">
                    {/if}
                        <div id="ordstat_id" class="selectReferenceJS text"></div>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <!--Order Details Data-->
    <label class="article-title">รายการผลิตภัณฑ์ที่สั่งซื้อ</label>
    ทั้งหมด {$orderDetailList|@count} รายการ
    <table class="view-detail-reference" style="margin-top:5px;">
        <thead>
            <tr>
                <th>ลำดับ</th>
                <th lass="txtLong-col">ผลิตภัณฑ์</th>
                <th>ราคา/หน่วย (บาท)</th>
                <th>จำนวน</th>
                <th>หน่วยนับ</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$orderDetailList key=i item=orddlt}
            <tr>
                <td align="center">{$orddlt.no}</td>
                <td class="txtLong-col">
                    <a href="form_table.php?action=VIEW_DETAIL&tableName=products&code={$orddlt.prd_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                        {$orddlt.prd_name}
                    </a>
                </td>
                <td align="right">{$orddlt.prd_price|number_format:2:".":","}</td>
                <td align="right">{$orddlt.orddtl_amount|number_format:0:"":","}</td>
                <td align="left">{$orddlt.unit_name}</td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {else}      
    <!-- ADD, EDIT -->       
    <form id="form-table" name="form-table" onsubmit="return false;">
	<input type="hidden" name="requiredFields" value="ordtyp_id,emp_id,comp_id,ord_date">
    <label class="article-title">ข้อมูลการสั่งซื้อ</label>
    <table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
	    <tbody>
            <tr>
                <td colspan="2">
                    <label class="input-required">พนักงานที่สั่งซื้อ</label>
                    <div id="emp_id" class="selectReferenceJS form-input full" require></div>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-emp_id-require" class="errInputMsg err-emp_id">โปรดเลือกพนักงานที่สั่งซื้อ</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
				    <label class="input-required">บริษัทจำหน่ายผลิตภัณฑ์</label>
				    <div id="comp_id" class="selectReferenceJS form-input full" require></div>
			    </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-comp_id-require" class="errInputMsg err-comp_id">โปรดเลือกบริษัทจำหน่ายผลิตภัณฑ์</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="input-required">ประเภทการสั่งซื้อ</label>
                    <div id="ordtyp_id" class="selectReferenceJS form-input full" require></div>
                </td>
		    </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-ordtyp_id-require" class="errInputMsg err-ordtyp_id">โปรดเลือกประเภทการสั่งซื้อ</span>
                </td>
            </tr>
			<tr>
                
			    <td>
                    <label class="input-required">วันที่สั่งซื้อ</label>
                    <input id="ord_date" name="ord_date" type="text" class="mbk-dtp-th form-input half" value="{if $values.ord_date}{$values.ord_date}{else}{$nowDate}{/if}" require>
                </td>
                 <td>
                    <label>วันที่จัดส่ง</label>
                    <input id="ord_snd_date" name="ord_snd_date" type="text" class="mbk-dtp-th form-input half" value="{$values.ord_snd_date}">
                </td>
		    </tr>
            <tr class="errMsgRow">
                <td>
                    <span id="err-ord_date-require" class="errInputMsg half err-ord_date">โปรดเลือกวันที่สั่งซื้อ</span>
                </td>
                <td></td>
            </tr>
	    </tbody>
    </table>

    <label class="article-title">รายละเอียดการสั่งซื้อ</label>
    รายการผลิตภัณฑ์ทั้งหมด <span id="allOrdPrd"></span> รายการ<br><br>
    <table id="order-detail-table" class="mbk-form-input-normal" cellpadding="0" cellspacing="0" style="width:600px;">
        <tbody>
            <tr>
                <td><label class="input-required">ผลิตภัณฑ์</label></td>
                <td><label class="input-required">จำนวน</label></td>
            </tr>
        </tbody>
    </table>
    <button id="addProjectBtn" class="button button-icon button-icon-add">เพิ่มผลิตภัณฑ์</button>
    </form>
    {/if}
</div><!-- end ftb-body -->
{else}
<div class="noPrivilege-formTable-container">
    <div class="noPrivilege-formTable-inner">
        <i class="fa fa-lock"></i><br>คุณไม่ได้รับสิทธิ์ในการเข้าถึงข้อมูลในส่วนนี้
    </div>
</div>
{/if}<!-- end if privileges -->
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
	3.  input[name="uniqueFields"] ใส่ชื่อฟิลด์ที่ต้องการเช็คว่าห้ามซ้ำ
-->