<div class="ftb-header">
	<div class="title-container">
		<h1 id="ftb-title"></h1>
	</div>
    <div class="toolbar-container-left clearfix">
	    <ul class="toolbar-menu">
		    <li>
		    	{if $action == 'ADD'}
			    <a id="save-btn">
				    <i class="fa fa-check"></i> เพิ่ม
			    </a>
			    {elseif $action == 'EDIT'}
			    <a id="save-btn">
				    <i class="fa fa-floppy-o"></i> บันทึก
			    </a>
			    {elseif $action == 'VIEW_DETAIL'}
			    	{if !$hideBackButton}
				    <a id="back-btn">
					    <i class="fa fa-arrow-circle-left"></i> ย้อนกลับ
				    </a>
				    {/if}

			    	{if $tableName == 'employees' && $emp_privileges.manage_employees}
				    <a href="printEmployeeCard.php?empId={$code}">
					    <i class="fa fa-credit-card"></i> บัตรพนักงาน
				    </a>
				    {elseif $tableName == 'orders' && $emp_privileges.manage_orders}
				    <a id="printPurchaseOrd-btn" href="printPurchaseOrder.php?ordId={$code}">
					    <i class="fa fa-file-text-o"></i> ใบสั่งซื้อ
				    </a>
				    {elseif $tableName == 'sales' && $emp_privileges.print_sales_receipt}
				    <a id="printReceipt-btn" href="printReceiptBOF.php?sale_id={$code}">
					    <i class="fa fa-file-text-o"></i> ใบเสร็จ
				    </a>
				    {elseif $tableName == 'services' && $emp_privileges.manage_services}
				    <a id="printServiceReceipt-btn" href="printServiceReceiptContainer.php?ser_id={$code}">
					    <i class="fa fa-file-text-o"></i> ใบเสร็จ
				    </a>
				    {elseif $tableName == 'booking' && $emp_privileges.manage_booking}
				    <a id="printBookingPaper-btn" onclick="parent.openPrintBookingPaper('{$code}')">
					    <i class="fa fa-file-text-o"></i> ใบแสดงข้อมูลการชำระเงินการจอง
				    </a>
				    {/if}
				    
				    {if !$hideEditButton}
				    <a id="edit-btn">
					    <i class="fa fa-pencil"></i> แก้ไขข้อมูล
				    </a>
				    {/if}
			    {/if}
		    </li>
		    <li>
			    <a id="cancel-btn">
			    	{if $action == 'VIEW_DETAIL'}
			    	<i class="fa fa-times"></i> ปิด
			    	{else}
				    <i class="fa fa-times"></i> ยกเลิก
				    {/if}
			    </a>
		    </li>
	    </ul>
    </div>
    <div class="toolbar-container-right clearfix">
	    <ul class="toolbar-menu">
	    {if $action == 'VIEW_DETAIL' && $emp_privileges.manage_booking}
	    	{if $tableName == 'booking' && $values.status_id == 'S01'}
	    	<li><a id="changeBpkgStatus-pending_check-btn"><i class="fa fa-refresh"></i> เปลี่ยนสถานะเป็นรอชำระเงิน</a></li>
	    	{elseif $tableName == 'booking' && $values.status_id == 'S02'}
	    	<li><a id="changeBpkgStatus-pending_service-btn"><i class="fa fa-refresh"></i> เปลี่ยนสถานะเป็นรอใช้บริการ</a></li>
	    	{elseif $tableName == 'booking' && $values.status_id == 'S03' || $values.status_id == 'S04'}
	    	<li><a id="changeBpkgStatus-remain_service-btn"><i class="fa fa-refresh"></i> เปลี่ยนสถานะเป็นใช้บริการไม่ครบตามที่จอง</a></li>
	    	{/if}

	    	{if $tableName == 'booking' && $values.status_id == 'S01' || $values.status_id == 'S02'}
	    	<li><a id="changeBpkgStatus-cancel-btn"><i class="fa fa-trash-o"></i> ยกเลิกการจอง</a></li>
	    	{/if}
	    {/if}
	    {if $action == 'VIEW_DETAIL' && $emp_privileges.manage_orders}
	    	{if $tableName == 'orders' && $values.ordstat_id == 'OS02'}
	    	<li><a id="changeOrdStatus-remain_order-btn"><i class="fa fa-refresh"></i> เปลี่ยนสถานะเป็นรับไม่ครบตามที่สั่งซื้อ</a></li>
	    	{/if}
	    {/if}
		</ul>
	</div>
</div>