<div class="ftb-header">
	<div class="title-container">
		<h1 id="ftb-title"></h1>
	</div>
    <div class="toolbar-container clearfix">
	    <ul class="toolbar-menu">
		    <li>
		    	{if $action == 'ADD'}
			    <a id="save-btn">
				    <i class="fa fa-check"></i> เพิ่ม
			    </a>
			    {elseif $action == 'EDIT'}
			    <a id="save-btn">
				    <i class="fa fa-floppy-o"></i> บันทึก
			    </a>
			    {elseif $action == 'VIEW_DETAIL'}
			    	{if !$hideBackButton}
				    <a id="back-btn">
					    <i class="fa fa-arrow-circle-left"></i> ย้อนกลับ
				    </a>
				    {/if}

			    	{if $tableName == 'employees'}
				    <a href="printEmployeeCard.php?empId={$code}">
					    <i class="fa fa-credit-card"></i> บัตรพนักงาน
				    </a>
				    {elseif $tableName == 'orders'}
				    <a id="printPurchaseOrd-btn" href="printPurchaseOrder.php?ordId={$code}">
					    <i class="fa fa-file-text-o"></i> ใบสั่งซื้อ
				    </a>
				    {elseif $tableName == 'sales'}
				    <a id="printReceipt-btn" href="printReceiptBOF.php?sale_id={$code}">
					    <i class="fa fa-file-text-o"></i> ใบเสร็จ
				    </a>
				    {elseif $tableName == 'services'}
				    <a id="printServiceReceipt-btn" href="printServiceReceiptContainer.php?ser_id={$code}">
					    <i class="fa fa-file-text-o"></i> ใบเสร็จ
				    </a>
				    {/if}
				    
				    {if !$hideEditButton}
				    <a id="edit-btn">
					    <i class="fa fa-pencil"></i> แก้ไขข้อมูล
				    </a>
				    {/if}
			    {/if}
		    </li>
		    <li>
			    <a id="cancel-btn">
			    	{if $action == 'VIEW_DETAIL'}
			    	<i class="fa fa-times"></i> ปิด
			    	{else}
				    <i class="fa fa-times"></i> ยกเลิก
				    {/if}
			    </a>
		    </li>
	    </ul>
    </div>
</div>