<!DOCTYPE html>
<html lang="th">
<head>
    <title>Spa - Backoffice</title>
    <meta charset="UTF-8"/>
    {literal}
    <link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
    <link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" src="../js/mbk_main.js"></script>
    <script type="text/javascript" src="../js/mbk_form_table.js"></script>
    <style type="text/css">
        .prd_unit_name {
            width: 60px;
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    </style>
    <script type="text/javascript">
        // Global variables
        var action          = '{/literal}{$action}{literal}';
        var tableName       = '{/literal}{$tableName}{literal}';
        var tableNameTH     = '{/literal}{$tableNameTH}{literal}';
        var code            = '{/literal}{$code}{literal}';
        var ajaxUrl         = 'form_withdraws.php';
        var valuesDetail    = '';
        var refPrdData      = {/literal}{$referenceData["products"]|@json_encode}{literal};

        // Set valuesDetail
        {/literal}
        {if $valuesDetail}
        {literal}
            valuesDetail= {/literal}{$valuesDetail|@json_encode}{literal};
        {/literal}
        {/if}
        {literal}

        $(document).ready(function () {
            $('#addProjectBtn').click(addProduct);

            selectReferenceJS({
                elem            : $('#ser_id'),
                data            : {/literal}{$referenceData["services"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.ser_id}{literal}',
                showClearBtn    : true,
                clearBtnText    : 'ไม่ระบุ'
            });
            selectReferenceJS({
                elem            : $('#emp_id'),
                data            : {/literal}{$referenceData["employees"]|@json_encode}{literal},
                defaultValue    : '{/literal}{if $values.emp_id}{$values.emp_id}{/if}{literal}'
            });
             selectReferenceJS({
                elem            : $('#emp_give_id'),
                data            : {/literal}{$referenceData["employees"]|@json_encode}{literal},
                defaultValue    : '{/literal}{if $values.emp_give_id}{$values.emp_give_id}{else}{$session_emp_id}{/if}{literal}'
            });
             selectReferenceJS({
                elem            : $('#wdwtyp_id'),
                data            : {/literal}{$referenceData["withdraw_types"]|@json_encode}{literal},
                defaultValue    : '{/literal}{$values.wdwtyp_id}{literal}'
            });
            
            $('#wdw_date').datetimepicker({
                lang                : 'th',
                format              : 'Y/m/d',
                timepicker          :false,
                closeOnDateSelect   :true,
                scrollInput         :false,
                yearOffset          :543,
                onSelectDate: 
                function(){
                  $('#wdw_date').blur();
                }
            });

            // Create product input
            if(action == 'ADD') {
                addProduct({
                    defaultValue : false
                });
            } else if(action == 'EDIT') {
                for(i in valuesDetail) {
                     addProduct({
                        defaultValue    : true,
                        wdwdtl_id       : valuesDetail[i].wdwdtl_id,
                        prd_id          : valuesDetail[i].prd_id,
                        wdwdtl_amount   : valuesDetail[i].wdwdtl_amount,
                        unit_name       : valuesDetail[i].unit_name
                    });
                }
            }
        });
        
        function addProduct(data) {
            var randNum;
            var selectRefDefault = '';
            var unitName = '';
            do {
                randNum     = parseInt(Math.random()*1000);
            } while($('#prd_id_' + randNum).length > 0);
            var inputKeyId  = 'prd_id_' + randNum;
            var inputQtyId  = 'wdwdtl_amount_' + randNum;
            if(typeof(data.unit_name) != 'undefined' && data.unit_name != '') {
                unitName = data.unit_name;
            }

            // Create HTML and append
            var prdRowHTML  = '<tr class="product-row">'
                            + '     <td width="350px">'
                            + '         <div id="' + inputKeyId + '" class="selectReferenceJS form-input half" require style="width:350px;"></div>'
                            + '     </td>'
                            + '     <td>';

            // add input product amount
            if(data.defaultValue) {
                prdRowHTML += '         <input id="' + inputQtyId + '" name="wdwdtl_amount[]" type="text" class="form-input half" value="' + data.wdwdtl_amount + '" maxlength="6" size="6" valuepattern="number" require style="text-align:right; width:80px;">';
                selectRefDefault = data.prd_id;
            } else {
                prdRowHTML += '         <input id="' + inputQtyId + '" name="wdwdtl_amount[]" type="text" class="form-input half" maxlength="6" size="6" valuepattern="numberMoreThanZero" require style="text-align:right; width:80px;">';
            }

            // add withdraw detail id for update
            if(action == 'EDIT' && typeof(data.wdwdtl_id) != 'undefined') {
                prdRowHTML += '         <input name="wdwdtl_id[]" type="hidden" value="' + data.wdwdtl_id + '">';
            }
                prdRowHTML += '         <span class="prd_unit_name">' + unitName + '</span>'
                            + '         <button class="removeProductBtn button button-icon button-icon-delete" onclick="removeProduct(\'' + randNum + '\')"></button>'
                            + '     </td>'
                            + '</tr>'
                            + '<tr id="errMsgRow_' + randNum + '" class="errMsgRow">'
                            + '     <td>'
                            + '         <span id="err-' + inputKeyId + '-require" class="errInputMsg half err-' + inputKeyId + '">'
                            + '             โปรดเลือกผลิตภัณฑ์'
                            + '         </span>'
                            + '     </td>'
                            + '     <td>'
                            + '         <span id="err-' + inputQtyId + '-require" class="errInputMsg half err-' + inputQtyId + '">'
                            + '             โปรดกรอกจำนวนที่เบิก'
                            + '         </span>'
                            + '         <span id="err-' + inputQtyId + '-numberMoreThanZero" class="errInputMsg half err-' + inputQtyId + '">'
                            + '             โปรดกรอกจำนวนเป็นตัวเลขจำนวนเต็มตั้งแต่ 1 ขึ้นไป'
                            + '         </span>'
                            + '     </td>'
                            + '</tr>';
            $('#withdraw-detail-table tbody').append(prdRowHTML);

            // Create select reference
            selectReferenceJS({
                elem            : $('#' + inputKeyId),
                data            : refPrdData,
                defaultValue    : selectRefDefault,
                onOptionSelect  :
                function() {
                    pullUnitName(inputKeyId);
                },
                success         : 
                function() {
                    $('input[name="' + inputKeyId + '"]').attr('name', 'prd_id[]');
                    setAllOrdPrd();
                },
                group           : 'products'
            });
            // Check Input required and pattern
            $('#' + inputQtyId).focusout(validateInput);
        }

        function removeProduct(randNum) {
            if($('.removeProductBtn').length > 1) {
                var selectRef   = $('#prd_id_' + randNum);
                var tr          = selectRef.parent().parent();
                var txt         = selectRef.find('.selectReferenceJS-text').text();
                var val         = selectRef.find('.selectReferenceJS-input').val();
                var msg         = '';
                if(val != '') {
                    msg = 'คุณต้องการลบผลิตภัณฑ์ ' + txt + ' ออกจากการเบิกครั้งนี้ใช่หรือไม่?';
                } else {
                    msg = 'คุณต้องการลบผลิตภัณฑ์ที่เลือกออกจากการเบิกครั้งนี้ใช่หรือไม่?';
                }
                parent.showActionDialog({
                    title: 'ลบผลิตภัณฑ์',
                    message: msg,
                    actionList: [
                        {
                            id: 'ok',
                            name: 'ตกลง',
                            desc: 'ลบผลิตภัณฑ์นี้ออกจากการเบิก',
                            func:
                            function() {
                                parent.hideActionDialog();
                                tr.remove();
                                $('#errMsgRow_' + randNum).remove();
                                setAllOrdPrd();
                            }
                        },
                        {
                            id: 'cancel',
                            name: 'ยกเลิก',
                            desc: 'ยกเลิกการลบ',
                            func:
                            function() {
                                parent.hideActionDialog();
                            }
                        }
                    ],
                    boxWidth: 400
                });
            } else {
                parent.showActionDialog({
                    title: 'ไม่สามารถลบผลิตภัณฑ์ได้',
                    message: 'รายการผลิตภัณฑ์ที่เบิกต้องมีอย่างน้อย 1 รายการค่ะ',
                    actionList: [
                        {
                            id: 'ok',
                            name: 'ตกลง',
                            func:
                            function() {
                                parent.hideActionDialog();
                            }
                        }
                    ],
                    boxWidth: 400
                });
            }
        }

        function allowSelectPrdId(selected) {
            var notDuplicate = true;
            $('input[name="prd_id[]"]').each(function() {
                if($(this).val() == selected) {
                     parent.showActionDialog({
                        title: 'คุณเลือกผลิตภัณฑ์นี้แล้ว',
                        message: 'รายการผลิตภัณฑ์ไม่สามารถซ้ำกันได้ค่ะ',
                        actionList: [
                            {
                                id: 'ok',
                                name: 'ตกลง',
                                func:
                                function() {
                                    parent.hideActionDialog();
                                }
                            }
                        ],
                        boxWidth: 400
                    });
                    notDuplicate = false;
                }
            });
            return notDuplicate;
        }

        function pullUnitName(inputKeyId) {
            var prdID       = $('#' + inputKeyId).find('.selectReferenceJS-input').val();
            
            if(typeof(prdID) != 'undefined' && prdID != '') {
                var prdUnitName = $('#' + inputKeyId).parent().parent().find('.prd_unit_name');
                var unitName    = '';

                for(i in refPrdData) {
                    if(refPrdData[i].refValue == prdID) {
                        unitName = refPrdData[i].unit_name;
                        break;
                    }
                }

                prdUnitName.text(unitName);
            }
        }

        function setAllOrdPrd() {
            $('#allOrdPrd').text($('input[name="prd_id[]"]').length);
        }

        function beforeSaveRecord() {
            var returnVal       = true; // false = no err, true = have err
            var prdIdList       = Array();
            var wdwdtlAmountList = Array();

            if(!hasInputError()) {
                // Get product id
                $('input[name="prd_id[]"]').each(function() {
                    prdIdList.push($(this).val());
                });

                // Get withdraw amount
                $('input[name="wdwdtl_amount[]"]').each(function() {
                    wdwdtlAmountList.push($(this).val());
                });

                $.ajax({
                    url: '../common/ajaxCheckWithdrawAmoutCover.php',
                    type: 'POST',
                    data: {
                        wdwId               : code,
                        wdwtyp_id           : $('input[name="wdwtyp_id"]').val(),
                        prdIdList           : prdIdList,
                        wdwdtlAmountList    : wdwdtlAmountList
                    },
                    success:
                    function(responseJSON) {
                        var response = $.parseJSON(responseJSON);
                        if(response.status == 'PASS') {
                            if(action == 'ADD') {
                                saveRecord();
                            } else if(action == 'EDIT') {
                                confirmSaveRecord();
                            }
                        } else if(response.status == 'OVER') {
                            var msg = '';

                            // Gen over product amount error
                            if(response.overAmountList != '') {
                                msg += 'จำนวนผลิตภัณฑ์ในคลังสินค้าไม่เพียงพอต่อการเบิก ได้แก่<ul>';
                                for(i in response.overAmountList) {
                                    msg += '<li>' 
                                         + response.overAmountList[i].prdName 
                                         + ' เหลือ ' + response.overAmountList[i].stockAmount 
                                         + ' ' +  response.overAmountList[i].unitName 
                                         + ' <span style="color:red;">(ต้องการอีก ' + response.overAmountList[i].overAmount 
                                         + ' ' +  response.overAmountList[i].unitName + ')</span>'
                                         + '</li>';
                                }
                                 msg += '</ul>';
                            }

                            // Gen over product amount error
                            if(response.overShelfAmountList != '') {
                                msg += 'จำนวนผลิตภัณฑ์ที่วางขายไม่เพียงพอต่อการคืน ได้แก่<ul>';
                                for(i in response.overShelfAmountList) {
                                    msg += '<li>' 
                                         + response.overShelfAmountList[i].prdName 
                                         + ' จำนวนที่วางขาย ' + response.overShelfAmountList[i].stockAmount 
                                         + ' ' +  response.overShelfAmountList[i].unitName 
                                         + ' <span style="color:red;">(ต้องการคืนอีก ' + response.overShelfAmountList[i].overAmount 
                                         + ' ' +  response.overShelfAmountList[i].unitName + ')</span>'
                                         + '</li>';
                                }
                                 msg += '</ul>';
                            }
    
                            parent.showActionDialog({
                                title: 'จำนวนผลิตภัณฑ์ไม่เพียงพอ',
                                message: msg,
                                actionList: [
                                    {
                                        id: 'ok',
                                        name: 'ตกลง',
                                        func:
                                        function() {
                                            parent.hideActionDialog();
                                        }
                                    }
                                ],
                                boxWidth: 650
                            });
                        } else {
                            alert(response.status);
                        }
                    }
                });
            }

            return returnVal;
        }
    </script>
    {/literal}
</head>
<body>

{include file="form_table_header.html"}
<div class="ftb-body">
    {if $action == 'VIEW_DETAIL'}
    <!-- VIEW_DETAIL -->
    <!--Orders Data-->
    <label class="article-title">ข้อมูลการเบิกผลิตภัณฑ์</label>
    <table class="table-view-detail">
        <tbody>
            <tr>
                <td>รหัสการเบิก :</td>
                <td>{$code}</td>
            </tr>
            <tr>
                <td>ประเภทการเบิก :</td>
                <td><div id="wdwtyp_id" class="selectReferenceJS text"></div></td>
            </tr>
            <tr>
                <td>พนักงานที่ให้เบิก :</td>
                <td>
                    <a href="form_table.php?action=VIEW_DETAIL&tableName=employees&code={$values.emp_give_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                            <div id="emp_give_id" class="selectReferenceJS text" style="cursor:pointer;"></div>
                        </a>
                </td>
            </tr>
            <tr>
                <td>พนักงานที่เบิก :</td>
                <td>
                    <a href="form_table.php?action=VIEW_DETAIL&tableName=employees&code={$values.emp_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                            <div id="emp_id" class="selectReferenceJS text" style="cursor:pointer;"></div>
                        </a>
                </td>
            </tr>
            <tr>
                <td>วันที่เบิก :</td>
                <td>{if $values.wdw_date}{$values.wdw_date_th}{else}-{/if}</td>
            </tr>
            <tr>
                <td>อ้างอิงรหัสการใช้บริการ :</td>
                <td>
                    {if $values.ser_id}
                    <a href="form_table.php?action=VIEW_DETAIL&tableName=services&code={$values.ser_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                            <div id="ser_id" class="selectReferenceJS text" style="cursor:pointer;"></div>
                        </a>
                    {else}
                    <div id="ser_id" class="selectReferenceJS text" style="cursor:pointer;"></div>
                    {/if}
                </td>
            </tr>
        </tbody>
    </table>
    <!--Withdraw Details Data-->
    <label class="article-title">รายการผลิตภัณฑ์ที่เบิก</label>
    ทั้งหมด {$withdrawDetailList|@count} รายการ
    <table class="view-detail-reference" style="margin-top:5px;">
        <thead>
            <tr>
                <th>ลำดับ</th>
                <th lass="txtLong-col">ผลิตภัณฑ์</th>
                <th>ราคา/หน่วย (บาท)</th>
                <th>จำนวน</th>
                <th>หน่วยนับ</th>
            </tr>
        </thead>
        <tbody>
            {foreach from=$withdrawDetailList key=i item=wdwdtl}
            <tr>
                <td align="center">{$wdwdtl.no}</td>
                <td class="txtLong-col">
                    <a href="form_table.php?action=VIEW_DETAIL&tableName=products&code={$wdwdtl.prd_id}&hideEditButton=true" class="normal-link" title="คลิกเพื่อดูรายละเอียด">
                        {$wdwdtl.prd_name}
                    </a>
                </td>
                <td align="right">{$wdwdtl.prd_price|number_format:2:".":","}</td>
                <td align="right">{$wdwdtl.wdwdtl_amount|number_format:0:"":","}</td>
                <td align="left">{$wdwdtl.unit_name}</td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {else}      
    <!-- ADD, EDIT -->       
    <form id="form-table" name="form-table" onsubmit="return false;">
    <input type="hidden" name="requiredFields" value="emp_id,emp_give_id,wdw_date,wdwtyp_id">
    <label class="article-title">ข้อมูลการเบิก</label>
    <table class="mbk-form-input-normal" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td colspan="2">
                    <label class="input-required">พนักงานที่ให้เบิก</label>
                    <div id="emp_give_id" class="selectReferenceJS form-input full" require></div>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-emp_give_id-require" class="errInputMsg err-emp_give_id">โปรดเลือกพนักงานที่ให้เบิก</span>
                </td>
            </tr>
             <tr>
                <td colspan="2">
                    <label class="input-required">พนักงานที่เบิก</label>
                    <div id="emp_id" class="selectReferenceJS form-input full" require></div>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-emp_id-require" class="errInputMsg err-emp_id">โปรดเลือกพนักงานที่เบิก</span>
                </td>
            </tr>
            <td>
                    <label class="input-required">วันที่เบิก</label>
                    <input id="wdw_date" name="wdw_date" type="text" class="mbk-dtp-th form-input full" value="{if $values.wdw_date}{$values.wdw_date}{else}{$nowDate}{/if}" require>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td>
                    <span id="err-ord_date-require" class="errInputMsg full err-ord_date">โปรดเลือกวันที่เบิก</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label class="input-required">ประเภทการเบิก</label>
                    <div id="wdwtyp_id" class="selectReferenceJS form-input full" require></div>
                </td>
            </tr>
            <tr class="errMsgRow">
                <td colspan="2">
                    <span id="err-wdwtyp_id-require" class="errInputMsg err-wdwtyp_id">โปรดเลือกประเภทการเบิก</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>รหัสการใช้บริการ(ถ้ามี)</label>
                    <div id="ser_id" class="selectReferenceJS form-input full"> </div>
                </td>
            </tr>
        </tbody>
    </table>

    <label class="article-title">รายละเอียดการเบิก</label>
    รายการผลิตภัณฑ์ที่เบิกทั้งหมด <span id="allOrdPrd"></span> รายการ<br><br>
    <table id="withdraw-detail-table" class="mbk-form-input-normal" cellpadding="0" cellspacing="0" style="width:600px;">
        <tbody>
            <tr>
                <td><label class="input-required">ผลิตภัณฑ์</label></td>
                <td><label class="input-required">จำนวน</label></td>
            </tr>
        </tbody>
    </table>
    <button id="addProjectBtn" class="button button-icon button-icon-add">เพิ่มผลิตภัณฑ์</button>
    </form>
    {/if}
</div>
</body>
</html>
<!--
    [Note]
    1. ให้ใส่ field ที่ต้องการเช็คใน input[name="requiredFields"] โดยกำหนดชื่อฟิลด์ลงใน value หากมีมากกว่า 1 field ให้คั่นด้วยเครื่องหมาย คอมม่า (,) และห้ามมีช่องว่าง เช่น value="name,surname,address" เป็นต้น
    2. input จะต้องกำหนด id, name ให้ตรงกับชื่อฟิลด์ของตารางนั้นๆ และกำหนด value ให้มีรูปแบบ value="$values.ชื่อฟิลด์"
    3.  input[name="uniqueFields"] ใส่ชื่อฟิลด์ที่ต้องการเช็คว่าห้ามซ้ำ
-->