<!DOCTYPE html>
<html>
<head>
	<title>Spa - Backoffice</title>
	<meta charset="utf-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/mbk_main.js"></script>
	<script type="text/javascript" charset="utf-8" src="../js/mbk_manage_table.js"></script>
	{/literal}
</head>
<body>
<div id="page">
	<div id="wrapper">
		{include file="_manage_table_header.html"}
        <div class="mainContainer">
            <h1><i class="fa fa-gear"></i> จัดการระบบ</h1>
            <ul class="manage-system-list">
                <li>
                    <div class="thumbnail">
                        <a href="backup.php">
                            <i class="fa fa-database"></i> สำรอง และนำเข้าข้อมูล 
                        </a>
                    </div>
                </li>
            </ul>
        </div>
	</div>
</div>
<!-- end page-->
</body>
</html>