<!DOCTYPE html>
<html>
<head>
	<title>Spa - report</title>
	<meta charset="utf-8"/>
    {include file="../../common/common_headericon.html"}
    {literal}
    <link rel="shortcut icon" href="../common/common_headericon.html">
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/mbk_main.js"></script>
	<script type="text/javascript" charset="utf-8" src="../js/mbk_manage_table.js"></script>
	{/literal}
</head>
<body>
<div id="page">
	<div id="wrapper">
		{include file="_manage_table_header.html"}
        <div class="mainContainer">
            <h1><i class="fa fa-file-text"></i> กรุณาเลือกรายงานที่ต้องการแสดง</h1>
            <ul class="report-list">
                <li>
                    <a class="report-picture" style="background-image: url('../img/report/report1.png')" href="report_top_package.php">
                         <div class="report-info">
                             <div class="report-info-inner">
                                 <h2>รายงานแพ็คเกจเรียงลำดับตามความนิยม</h2>
                             </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="report-picture" style="background-image: url('../img/report/report2.png')" href="report_top_service_lists.php">
                         <div class="report-info">
                             <div class="report-info-inner">
                                 <h2>รายงานรายการบริการเรียงลำดับตามความนิยม</h2>
                             </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="report-picture" style="background-image: url('../img/report/report3.png')" href="report_top_product.php">
                         <div class="report-info">
                             <div class="report-info-inner">
                                 <h2>รายงานสรุปยอดขายผลิตภัณฑ์ เครื่องดื่ม และอาหาร</h2>
                             </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="report-picture" style="background-image: url('../img/report/report4.png')" href="report_top_massage.php">
                         <div class="report-info">
                             <div class="report-info-inner">
                                 <h2>รายงานสรุปยอดการใช้บริการ</h2>
                             </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="report-picture" style="background-image: url('../img/report/report5.png')" href="report_top_withdraw.php">
                         <div class="report-info">
                             <div class="report-info-inner">
                                 <h2>รายงานสรุปยอดการเบิกผลิตภัณฑ์</h2>
                             </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="report-picture" style="background-image: url('../img/report/report6.png')" href="report_income.php">
                         <div class="report-info">
                             <div class="report-info-inner">
                                 <h2>รายงานสรุปยอดรายได้ของสปา</h2>
                             </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="report-picture" style="background-image: url('../img/report/report7.png')" href="report_commission.php">
                         <div class="report-info">
                             <div class="report-info-inner">
                                 <h2>รายงานแสดงรายละเอียดค่าคอมมิชชั่นของพนักงาน</h2>
                             </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="report-picture" style="background-image: url('../img/report/report8.png')" href="report_overtime.php">
                         <div class="report-info">
                             <div class="report-info-inner">
                                 <h2>รายงานแสดงรายละเอียดค่าล่วงเวลาของพนักงาน</h2>
                             </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
	</div>
</div>
<!-- end page-->
</body>
</html>