<!DOCTYPE html>
<html>
<head>
	<title>Spa - Backoffice</title>
	<meta charset="utf-8"/>
    {include file="../../common/common_headericon.html"}
    {literal}
    <link rel="shortcut icon" href="../common/common_headericon.html">
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
    <link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/mbk_main.js"></script>
	<script type="text/javascript" charset="utf-8" src="../js/mbk_manage_table.js"></script>
    <script type="text/javascript" src="../js/jquery.table2excel.js"></script>
    <script type="text/javascript">
    var refEmpData = {/literal}{$refEmpData|@json_encode}{literal};
    var emp_ids = {/literal}{$emp_ids|@json_encode}{literal};

    $(document).ready(function() {
        $('#addEmpBtn').click(function() {
            addEmployee();
        });

        // Set default employee
        if(emp_ids.length > 0) {
            for(i in emp_ids) {
                addEmployee(emp_ids[i]);
            }
        } else {
            addEmployee();
        }

        selectReferenceJS({
            elem            : $('#curEmp_id'),
            data            : {/literal}{$refEmpData|@json_encode}{literal},
            defaultValue    : '{/literal}{if $curEmp_id}{$curEmp_id}{/if}{literal}',
        });

        $('#startDate').datetimepicker({
            lang                : 'th',
            format              : 'Y/m/d',
            timepicker          :false,
            closeOnDateSelect   :true,
            scrollInput         :false,
            yearOffset          :543,
            onSelectDate: 
            function(){
              $('#startDate').blur();
            },
            timepicker:false
        });
        $('#endDate').datetimepicker({
            lang                : 'th',
            format              : 'Y/m/d',
            timepicker          :false,
            closeOnDateSelect   :true,
            scrollInput         :false,
            yearOffset          :543,
            onSelectDate: 
            function(){
              $('#endDate').blur();
            },
            timepicker:false
        });

        $('#submit').click(function() {
            // Convert thai date to real date
            $('.mbk-dtp-th').each(function() {
                if($(this).val() != '') {
                    if(isDateThaiFormat($(this))) {
                        getRealDate($(this));
                    } else {
                        convertThaiDate($(this));
                        getRealDate($(this));
                    }
                }
            });
        });
        $('#print-btn').click(function() {
            if($('.printArea').length > 0) {
                printElemBOF($('.printArea'));
            } else {
                parent.showActionDialog({
                    title: 'ไม่พบข้อมูลสำหรับพิมพ์รายงาน',
                    message: 'ไม่สามารถพิมพ์ได้เนื่องจากไม่พบข้อมูลสำหรับพิมพ์รายงาน',
                    actionList: [
                        {
                            id: 'ok',
                            name: 'ตกลง',
                            func:
                            function() {
                                parent.hideActionDialog();
                            }
                        }
                    ],
                    boxWidth: 400
                });
            }
        });
        $('#exportExcel-btn').click(function() {
            if($('.printArea').length > 0) {
                tableToExcel('exportTable', 'รายงานแสดงรายละเอียดค่าคอมมิชชั่นของพนักงาน');
            } else {
                parent.showActionDialog({
                    title: 'ไม่พบข้อมูลสำหรับดาวโหลด',
                    message: 'ไม่สามารถดาวโหลดได้เนื่องจากไม่พบข้อมูลสำหรับดาวโหลด',
                    actionList: [
                        {
                            id: 'ok',
                            name: 'ตกลง',
                            func:
                            function() {
                                parent.hideActionDialog();
                            }
                        }
                    ],
                    boxWidth: 400
                });
            }
        });
    });

    function addEmployee(defaultValue) {
        var randNum;
        var selectRefDefault = '';
        if(typeof(defaultValue) != 'undefined') {
            selectRefDefault = defaultValue;
        }

        do {
            randNum     = parseInt(Math.random()*1000);
        } while($('#emp_id_' + randNum).length > 0);
        var inputKeyId  = 'emp_id_' + randNum;

        // Create HTML and append
        var empRowHTML  = '<tr class="emp-row">'
                        + '     <td><div id="' + inputKeyId + '" class="selectReferenceJS form-input" require style="width:450px;"></div></td>'
                        + '     <td style="padding-left:0;"><button class="removeEmpBtn button button-icon button-icon-delete" onclick="removeEmployee(\'' + randNum + '\')" style="margin-left:20px;" type="button">ลบ</button></td>'
                        + '</tr>'
                        + '<tr id="' + inputKeyId + '_errRow">'
                        + '     <td>'
                        + '         <span id="err-' + inputKeyId + '-require" class="errInputMsg err-' + inputKeyId + '">'
                        + '             โปรดเลือกพนักงาน'
                        + '         </span>'
                        + '     </td>'
                        + '</tr>';
        $('#employee-table tbody').append(empRowHTML);

        selectReferenceJS({
            elem            : $('#' + inputKeyId),
            data            : refEmpData,
            searchTool      : true,
            defaultValue    : selectRefDefault,
            success         : 
            function() {
                $('input[name="' + inputKeyId + '"]').attr('name', 'emp_ids[]');
            },
            group           : 'employees'
        });
    }

    function removeEmployee(randNum) {
        if($('.removeEmpBtn').length > 1) {
            var selectRef   = $('#emp_id_' + randNum);
            var tr          = selectRef.parent().parent();
            var txt         = selectRef.find('.selectReferenceJS-text').text();
            var val         = selectRef.find('.selectReferenceJS-input').val();
            var msg         = '';
            if(val != '') {
                msg = 'คุณต้องการลบพนักงาน ' + txt + ' ออกจากรายงานนี้ใช่หรือไม่?';
            } else {
                msg = 'คุณต้องการลบพนักงานที่เลือกออกจากรายงานนี้ใช่หรือไม่?';
            }
            parent.showActionDialog({
                title: 'ลบพนักงาน',
                message: msg,
                actionList: [
                    {
                        id: 'ok',
                        name: 'ตกลง',
                        desc: 'ลบพนักงานนี้ออกจากรายงาน',
                        func:
                        function() {
                            parent.hideActionDialog();
                            tr.remove();
                            $('#emp_id_' + randNum + '_errRow').remove();
                        }
                    },
                    {
                        id: 'cancel',
                        name: 'ยกเลิก',
                        desc: 'ยกเลิกการลบ',
                        func:
                        function() {
                            parent.hideActionDialog();
                        }
                    }
                ],
                boxWidth: 400
            });
        } else {
            parent.showActionDialog({
                title: 'ไม่สามารถลบพนักงานได้',
                message: 'การออกรายงานต้องมีพนักงานอย่างน้อย 1 คนค่ะ',
                actionList: [
                    {
                        id: 'ok',
                        name: 'ตกลง',
                        func:
                        function() {
                            parent.hideActionDialog();
                        }
                    }
                ],
                boxWidth: 400
            });
        }
    }
    </script>
	{/literal}
</head>
<body>
<div id="page">
	<div id="wrapper">
		{include file="_manage_table_header.html"}
        <div class="mainContainer">
            <h1>
                <img src="../img/report/report7.png" width="45px"> 
                รายงานแสดงรายละเอียดค่าคอมมิชชั่นของพนักงาน
            </h1>
            <br>
            <div class="toolbar-container clearfix">
                <ul class="toolbar-menu">
                    <li>
                        <a id="back-btn" href="report.php">
                            <i class="fa fa-arrow-circle-left"></i> ย้อนกลับ
                        </a>
                        <a id="print-btn">
                            <i class="fa fa-print"></i> พิมพ์
                        </a>
                       <!--  <a id="exportExcel-btn">
                            <i class="fa fa-download"></i> ดาวโหลด(Excel)
                        </a> -->
                        
                    </li>
                </ul>
            </div>
            <br><br>
            
            <form method="post" action="report_commission.php" class="mbk-form-input-normal">
                <label class="article-title">พนักงานที่ต้องการออกรายงาน</label>
                <table id="employee-table" class="mbk-form-input-normal" cellpadding="0" cellspacing="0" style="width:250px;margin-bottom:0;">
                    <tbody>
                    </tbody>
                </table>
                <button id="addEmpBtn" class="button button-icon button-icon-add" type="button">เพิ่มพนักงาน</button>
                <table style="margin-top: 20px;">
                    <tr>
                        <td>เริ่มวันที่</td>
                        <td>สิ้นสุดวันที่</td>
                    </tr>
                    <tr>
                        <td>
                            <input id="startDate" name="startDate" type="text" class="mbk-dtp-th form-input half" value="{if $startDate}{$startDate}{else}{$nowDate}{/if}">
                        </td>
                        <td>
                            <input id="endDate" name="endDate" type="text" class="mbk-dtp-th form-input half" value="{if $endDate}{$endDate}{else}{$nowDate}{/if}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input  type="hidden" name="submit" value="ออกรายงาน">
                            <button id="submit" type="submit" class="button button-icon button-icon-report"> ออกรายงาน</button>
                        </td>
                    </tr>
                </table>
            </form>
            
            <center>
            {if $report}
            <div class="printArea">
            <center>
                <table id="exportTable" class="report-top-table report-massage" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr class="headTable">
                            <td colspan="9" align="center">
                                <h3>รายงานแสดงรายละเอียดค่าคอมมิชชั่นของพนักงาน</h3>
                            </td>
                        </tr>
                        <tr class="headTable"><td></td><td></td><td></td><td></td></tr>
                        <tr class="headTable">
                            <td colspan="9" align="center">
                                พนักงาน : {$empFullName}
                                <br /><br />
                                เริ่มวันที่: {$startDate_th}&nbsp;&nbsp;&nbsp;&nbsp;
                                สิ้นสุดวันที่: {$endDate_th}&nbsp;&nbsp;&nbsp;&nbsp;
                                วันที่พิมพ์รายงาน: {$nowDate_th}
                            </td>
                        </tr>
                        <tr class="headTable"><td></td><td></td><td></td><td></td></tr>
                        <tr>
                            <th>วันที่</th>
                            <th>ชื่อ-สกุลผู้รับบริการ</th>
                            <th>ชื่อรายการบริการ</th>
                            <th>เวลาเริ่มต้น</th>
                            <th>เวลาสิ้นสุด</th>
                            <th>จำนวนเงิน(บาท)</th>
                            <th>อัตราคอมมิชชั่น</th>
                            <th>ส่วนแบ่ง</th>
                            <th>ค่าคอมมิชชั่น(บาท)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$report key=i item=c}
                            {if $c.empHeader}
                            <tr>
                                <td colspan="9" style="font-weight:bold;">{$c.empFullName}</td>
                            </tr>
                            {/if}
                            <tr>
                                {if $c.dateRowspan}
                                <td rowspan="{$c.dateRowspan}" valign="top">{$c.dateTH}</td>
                                {/if}
                                {if $c.cusRowspan}
                                <td rowspan="{$c.cusRowspan}" valign="top">{$c.customer}</td>
                                {/if}
                                <td>{$c.svl_name}</td>
                                <td>{$c.time} น.</td>
                                <td>{$c.timeEnd} น.</td>
                                <td align="right">{$c.txtRealPrice}</td>
                                <td align="right">{$c.comRate}%</td>
                                <td align="right">{$c.devidePer}%</td>
                                <td align="right">{$c.txtCom}</td>
                            </tr>
                            {if $c.subTotalRealPrice && $c.subTotalCom}
                            <tr style="background:#f1f1f1;font-weight:bold;">
                                <td colspan="5" align="right">รวม</td>
                                <td align="right">{$c.subTotalRealPrice}</td>
                                <td></td>
                                <td></td>
                                <td align="right">{$c.subTotalCom}</td>
                            </tr>
                            {/if}
                        {/foreach}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="space-column"></td>
                            <td class="space-column"></td>
                            <td class="space-column"></td>
                            <td align="right" class="report-total-column" colspan="2">รวมทั้งหมด</td>
                            <td align="right" class="report-total-column">{$totalRealPrice}</td>
                            <td align="right" class="report-total-column"></td>
                            <td align="right" class="report-total-column"></td>
                            <td align="right" class="report-total-column">{$totalCom}</td>
                        </tr>
                    </tfoot>
                </table>
            </center>
            </div>
            {else}
            ไม่พบข้อมูลเพื่อออกรายงานในช่วงเวลาดังกล่าว
            {/if}
            </center>
        </div>
	</div>
</div>

<!-- end page-->
</body>
</html>