<!DOCTYPE html>
<html>
<head>
	<title>Spa - Backoffice</title>
	<meta charset="utf-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/mbk_main.js"></script>
	<script type="text/javascript" charset="utf-8" src="../js/mbk_manage_table.js"></script>
	{/literal}
</head>
<body>
<div id="page">
	<div id="wrapper">
		{include file="_manage_table_header.html"}
        <div class="mainContainer">
            <h1><i class="fa fa-file-text"></i> กรุณาเลือกรายงานที่ต้องการแสดง</h1>
            <ul class="listLi">
                <li><a href="#">รายงานรายรับรายจ่าย</a></li>
                <li><a href="report_top_package.php">รายงานแพ็คเกจเรียงลำดับตามความนิยม</a></li>
                <li><a href="report_top_service_lists.php">รายงานรายการบริการเรียงลำดับตามความนิยม</a></li>
                <li><a href="report_top_product.php">รายงานยอดขายผลิตภัณฑ์</a></li>
                <li><a href="#">รายงานยอดขาย Cuisine Spa</a></li>
                <li><a href="#">รายงานสรุปยอดการเบิก</a></li>
                <li><a href="#">รายงานสรุปการจองและการใช้บริการ</a></li>
            </ul>
        </div>
	</div>
</div>
<!-- end page-->
</body>
</html>