<!DOCTYPE html>
<html>
<head>
	<title>Spa - Backoffice</title>
	<meta charset="utf-8"/>
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
    <link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/mbk_main.js"></script>
	<script type="text/javascript" charset="utf-8" src="../js/mbk_manage_table.js"></script>
    <script type="text/javascript">
    
    $(document).ready(function() {
        $('#startDate').datetimepicker({
            lang                : 'th',
            format              : 'Y/m/d',
            timepicker          :false,
            closeOnDateSelect   :true,
            scrollInput         :false,
            yearOffset          :543,
            onSelectDate: 
            function(){
              $('#startDate').blur();
            },
            timepicker:false
        });
        $('#endDate').datetimepicker({
            lang                : 'th',
            format              : 'Y/m/d',
            timepicker          :false,
            closeOnDateSelect   :true,
            scrollInput         :false,
            yearOffset          :543,
            onSelectDate: 
            function(){
              $('#endDate').blur();
            },
            timepicker:false
        });

        $('#submit').click(function() {
            // Convert thai date to real date
            $('.mbk-dtp-th').each(function() {
                if($(this).val() != '') {
                    if(isDateThaiFormat($(this))) {
                        getRealDate($(this));
                    } else {
                        convertThaiDate($(this));
                        getRealDate($(this));
                    }
                }
            });
        });
    });
    </script>
	{/literal}
</head>
<body>
<div id="page">
	<div id="wrapper">
		{include file="_manage_table_header.html"}
        <div class="mainContainer">
            <h1>
                <img src="../img/report/report4.png" width="45px"> 
                รายงานสรุปยอดการใช้บริการ
            </h1>
            <br><br>
            
            <form method="post" action="report_top_massage.php" class="mbk-form-input-normal">
                <table>
                    <tr>
                        <td>เริ่มวันที่</td>
                        <td>สิ้นสุดวันที่</td>
                    </tr>
                    <tr>
                        <td>
                            <input id="startDate" name="startDate" type="text" class="mbk-dtp-th form-input half" value="{if $startDate}{$startDate}{else}{$nowDate}{/if}">
                        </td>
                        <td>
                            <input id="endDate" name="endDate" type="text" class="mbk-dtp-th form-input half" value="{if $endDate}{$endDate}{else}{$nowDate}{/if}">
                        </td>
                        <td>
                            <input  type="hidden" name="submit" value="ออกรายงาน">
                            <button id="submit" type="submit" class="button button-icon button-icon-report"> ออกรายงาน</button>
                        </td>
                    </tr>
                </table>
            </form>
            
            <center>
            {if $reportServiceList || $reportPackage}
            <div class="printArea">
                <h3>รายงานสรุปยอดการใช้บริการ</h3>
                <br />
                เริ่มวันที่: {$startDate_th}&nbsp;&nbsp;&nbsp;&nbsp;
                สิ้นสุดวันที่: {$endDate_th}&nbsp;&nbsp;&nbsp;&nbsp;
                วันที่พิมพ์รายงาน: {$nowDate_th}
                <table class="report-top-table report-massage" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <!-- <th>ลำดับ</th> -->
                            <th>ชื่อรายการบริการ/แพ็คเกจ</th>
                            <th>เวลา</th>
                            <th>ราคาต่อหน่วย</th>
                            <th>จำนวนการใช้บริการ</th>
                            <th>ราคารวม</th>
                            <th>ส่วนลดรวม</th>
                            <th>ราคาสุทธิ</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$reportServiceList key=i item=svl}
                        {if $svl.type}
                            <tr style="font-weight:bold;">
                                <td colspan="7">{$svl.svltyp_name}</td>
                            </tr>
                        {/if}
                        <tr>
                            <td>{$svl.svl_name}</td>
                            <td align="right">
                                {if $svl.svl_hr || $svl.svl_min}
                                {if $svl.svl_hr}{$svl.svl_hr} ชั่วโมง {/if}
                                {if $svl.svl_min}{$svl.svl_min} นาที{/if}
                                {else}
                                -
                                {/if}
                            </td>
                            <td align="right">{$svl.svl_price}</td>
                            <td align="right">{$svl.sumAmount}</td>
                            <td align="right">{$svl.sumPrice}</td>
                            <td align="right">{$svl.discout}</td>
                            <td align="right">{$svl.sumTotal}</td>
                        </tr>
                        {if $svl.subtotal}
                        <tr class="type-col">
                            <td colspan="3" align="right">รวม</td>
                            <td align="right">{$svl.subtotal.sumAmount}</td>
                            <td align="right">{$svl.subtotal.sumPrice}</td>
                            <td align="right">{$svl.subtotal.sumDiscout}</td>
                            <td align="right">{$svl.subtotal.sumRealPrice}</td>
                        </tr>
                        {/if}
                        {/foreach}

                        {if $reportPackage|count > 0}
                        <tr style="font-weight:bold;">
                            <td colspan="7">แพ็คเกจ</td>
                        </tr>
                        {foreach from=$reportPackage key=i item=pkg}
                        <tr>
                            <td>{$pkg.pkg_name}</td>
                            <td align="right">
                                {if $pkg.pkg_hr || $pkg.pkg_min}
                                {if $pkg.pkg_hr}{$pkg.pkg_hr} ชั่วโมง {/if}
                                {if $pkg.pkg_min}{$pkg.pkg_min} นาที{/if}
                                {else}
                                -
                                {/if}
                            </td>
                            <td align="right">{$pkg.pkg_price}</td>
                            <td align="right">{$pkg.sumAmount}</td>
                            <td align="right">{$pkg.sumPrice}</td>
                            <td align="right">{$pkg.sumDiscout}</td>
                            <td align="right">{$pkg.sumTotal}</td>
                        </tr>
                        {/foreach}
                        <tr class="type-col">
                            <td colspan="3" align="right">รวม</td>
                            <td align="right">{$sumAmountPkg}</td>
                            <td align="right">{$sumPricePkg}</td>
                            <td align="right">{$sumDiscoutPkg}</td>
                            <td align="right">{$sumRealPricePkg}</td>
                        </tr>
                        {/if}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="space-column"></td>
                            <td class="space-column"></td>
                            <td align="right" class="report-total-column">รวมทั้งหมด</td>
                            <td align="right" class="report-total-column">{$totalAmount}</td>
                            <td align="right" class="report-total-column">{$totalPrice}</td>
                            <td align="right" class="report-total-column">{$totalDiscout}</td>
                            <td align="right" class="report-total-column">{$totalRealPrice}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            {else}
            ไม่พบข้อมูลเพื่อออกรายงานในช่วงเวลาดังกล่าว
            {/if}
            </center>
            <br><br>
            <center>
            <a href="report.php"><button class="button button-icon button-icon-back"> ย้อนกลับ</button></a>
            </center>
        </div>
	</div>
</div>

<!-- end page-->
</body>
</html>