<!DOCTYPE html>
<html>
<head>
	<title>Spa - Report</title>
	<meta charset="utf-8"/>
    {include file="../../common/common_headericon.html"}
    {literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
    <link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/mbk_main.js"></script>
	<script type="text/javascript" charset="utf-8" src="../js/mbk_manage_table.js"></script>
    <script type="text/javascript" src="../js/jquery.table2excel.js"></script>
    <style type="text/css">
    .breaker:not(:first-child) h3 {
        padding-top: 20px;
        border-top: 2px dashed #ddd;
    }
    </style>
    <script type="text/javascript">
    
    $(document).ready(function() {
        var curPage = 1
        var thead = $('#reportTable_1 thead').html();
        var tfoot = $('#reportTable_1 tfoot').html();
        $('#reportTable_1 tfoot').remove();

        while($('#reportTable_' + curPage).height() > 1000) {
            if($('#reportTable_' + parseInt(curPage+1))) {
                var emptyTable = '<table id="reportTable_' + parseInt(curPage+1) + '" class="report-top-table report-massage breaker" cellpadding="0" cellspacing="0"><thead>' + thead + '</thead><tbody></tbody></table>';
                $('.printArea center').append(emptyTable);
                $('#reportTable_' + parseInt(curPage+1)).find('.curPage').text(curPage+1);
            }
            while($('#reportTable_' + curPage).height() > 1000) {
                var tr = $('#reportTable_' + curPage + ' tbody tr:last-child');
                var trClass = tr.attr('class');
                var trStyle = tr.attr('style');
                var OpenTr = '<tr';
                if(typeof(trClass) != 'undefined')
                    OpenTr += ' class="' + trClass + '"';
                if(typeof(trStyle) != 'undefined')
                    OpenTr += ' style="' + trStyle + '"';
                OpenTr += '>';
                $('#reportTable_'+ parseInt(curPage+1) +' tbody').prepend(OpenTr + tr.html() + '</tr>');
                tr.remove();
            }
            curPage++;
        }
        $('.allPage').text(curPage);
        $('#reportTable_'+ curPage).append('<tfoot>' + tfoot + '</tfoot>');
        
        $('#startDate').datetimepicker({
            lang                : 'th',
            format              : 'Y/m/d',
            timepicker          :false,
            closeOnDateSelect   :true,
            scrollInput         :false,
            yearOffset          :543,
            onSelectDate: 
            function(){
              $('#startDate').blur();
            },
            timepicker:false
        });
        $('#endDate').datetimepicker({
            lang                : 'th',
            format              : 'Y/m/d',
            timepicker          :false,
            closeOnDateSelect   :true,
            scrollInput         :false,
            yearOffset          :543,
            onSelectDate: 
            function(){
              $('#endDate').blur();
            },
            timepicker:false
        });

        $('#submit').click(function() {
            // Convert thai date to real date
            $('.mbk-dtp-th').each(function() {
                if($(this).val() != '') {
                    if(isDateThaiFormat($(this))) {
                        getRealDate($(this));
                    } else {
                        convertThaiDate($(this));
                        getRealDate($(this));
                    }
                }
            });
        });
        $('#print-btn').click(function() {
            if($('.printArea').length > 0) {
                printElemBOF($('.printArea'));
            } else {
                parent.showActionDialog({
                    title: 'ไม่พบข้อมูลสำหรับพิมพ์รายงาน',
                    message: 'ไม่สามารถพิมพ์ได้เนื่องจากไม่พบข้อมูลสำหรับพิมพ์รายงาน',
                    actionList: [
                        {
                            id: 'ok',
                            name: 'ตกลง',
                            func:
                            function() {
                                parent.hideActionDialog();
                            }
                        }
                    ],
                    boxWidth: 400
                });
            }
        });
        $('#exportExcel-btn').click(function() {
            if($('.printArea').length > 0) {
                tableToExcel('exportTable', 'รายงานสรุปยอดการใช้บริการ');
            } else {
                parent.showActionDialog({
                    title: 'ไม่พบข้อมูลสำหรับดาวโหลด',
                    message: 'ไม่สามารถดาวโหลดได้เนื่องจากไม่พบข้อมูลสำหรับดาวโหลด',
                    actionList: [
                        {
                            id: 'ok',
                            name: 'ตกลง',
                            func:
                            function() {
                                parent.hideActionDialog();
                            }
                        }
                    ],
                    boxWidth: 400
                });
            }
        });
    });
    </script>
	{/literal}
</head>
<body>
<div id="page">
	<div id="wrapper">
		{include file="_manage_table_header.html"}
        <div class="mainContainer">
            <h1>
                <img src="../img/report/report4.png" width="45px"> 
                รายงานสรุปยอดการใช้บริการ
            </h1>
            <br>
            <div class="toolbar-container clearfix">
                <ul class="toolbar-menu">
                    <li>
                        <a id="back-btn" href="report.php">
                            <i class="fa fa-arrow-circle-left"></i> ย้อนกลับ
                        </a>
                        <a id="print-btn">
                            <i class="fa fa-print"></i> พิมพ์
                        </a>
                        <!-- <a id="exportExcel-btn">
                            <i class="fa fa-download"></i> ดาวโหลด(Excel)
                        </a> -->
                        
                    </li>
                </ul>
            </div>
            <br><br>
            
            <form method="post" action="report_top_massage.php" class="mbk-form-input-normal">
                <table>
                    <tr>
                        <td>เริ่มวันที่</td>
                        <td>สิ้นสุดวันที่</td>
                    </tr>
                    <tr>
                        <td>
                            <input id="startDate" name="startDate" type="text" class="mbk-dtp-th form-input half" value="{if $startDate}{$startDate}{else}{$nowDate}{/if}">
                        </td>
                        <td>
                            <input id="endDate" name="endDate" type="text" class="mbk-dtp-th form-input half" value="{if $endDate}{$endDate}{else}{$nowDate}{/if}">
                        </td>
                        <td>
                            <input  type="hidden" name="submit" value="ออกรายงาน">
                            <button id="submit" type="submit" class="button button-icon button-icon-report"> ออกรายงาน</button>
                        </td>
                    </tr>
                </table>
            </form>
            
            <center>
            {if $reportServiceList || $reportPackage}
            <div class="printArea">
            <center>
                <table id="reportTable_1" class="report-top-table report-massage breaker" cellpadding="0" cellspacing="0">
                    <thead style="display: table-header-group">
                        <tr class="headTable">
                            <td colspan="7" align="center">
                                <h3>รายงานสรุปยอดการใช้บริการ</h3>
                            </td>
                        </tr>
                        <tr class="headTable"><td></td><td></td><td></td><td></td></tr>
                        <tr class="headTable">
                            <td colspan="7" align="center">
                                เริ่มวันที่: {$startDate_th}&nbsp;&nbsp;&nbsp;&nbsp;
                                สิ้นสุดวันที่: {$endDate_th}&nbsp;&nbsp;&nbsp;&nbsp;
                                วันที่พิมพ์รายงาน: {$nowDate_th}&nbsp;&nbsp;&nbsp;&nbsp;
                                หน้า <span class="curPage">1</span> จาก <span class="allPage">1</span>
                            </td>
                        </tr>
                        <tr class="headTable"><td></td><td></td><td></td><td></td></tr>
                        <tr>
                            <th>ชื่อรายการบริการ/แพ็คเกจ</th>
                            <th>เวลา</th>
                            <th>ราคาต่อหน่วย(บาท)</th>
                            <th>จำนวนการใช้บริการ(ครั้ง)</th>
                            <th>ราคารวม(บาท)</th>
                            <th>ส่วนลดรวม(บาท)</th>
                            <th>ราคาสุทธิ(บาท)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$reportServiceList key=i item=svl}
                        {if $svl.type}
                            <tr style="font-weight:bold;">
                                <td colspan="7">{$svl.svltyp_name}</td>
                            </tr>
                        {/if}
                        <tr>
                            <td>{$svl.svl_name}</td>
                            <td align="right">
                                {if $svl.svl_hr || $svl.svl_min}
                                {if $svl.svl_hr}{$svl.svl_hr} ชั่วโมง {/if}
                                {if $svl.svl_min}{$svl.svl_min} นาที{/if}
                                {else}
                                -
                                {/if}
                            </td>
                            <td align="right">{$svl.svl_price}</td>
                            <td align="right">{$svl.sumAmount}</td>
                            <td align="right">{$svl.sumPrice}</td>
                            <td align="right">{$svl.discout}</td>
                            <td align="right">{$svl.sumTotal}</td>
                        </tr>
                        {if $svl.subtotal}
                        <tr class="type-col">
                            <td colspan="3" align="right">รวม</td>
                            <td align="right">{$svl.subtotal.sumAmount}</td>
                            <td align="right">{$svl.subtotal.sumPrice}</td>
                            <td align="right">{$svl.subtotal.sumDiscout}</td>
                            <td align="right">{$svl.subtotal.sumRealPrice}</td>
                        </tr>
                        {/if}
                        {/foreach}

                        {if $reportPackage|count > 0}
                        <tr style="font-weight:bold;">
                            <td colspan="7">แพ็คเกจ</td>
                        </tr>
                        {foreach from=$reportPackage key=i item=pkg}
                        <tr>
                            <td>{$pkg.pkg_name}</td>
                            <td align="right">
                                {if $pkg.pkg_hr || $pkg.pkg_min}
                                {if $pkg.pkg_hr}{$pkg.pkg_hr} ชั่วโมง {/if}
                                {if $pkg.pkg_min}{$pkg.pkg_min} นาที{/if}
                                {else}
                                -
                                {/if}
                            </td>
                            <td align="right">{$pkg.pkg_price}</td>
                            <td align="right">{$pkg.sumAmount}</td>
                            <td align="right">{$pkg.sumPrice}</td>
                            <td align="right">{$pkg.sumDiscout}</td>
                            <td align="right">{$pkg.sumTotal}</td>
                        </tr>
                        {/foreach}
                        <tr class="type-col">
                            <td colspan="3" align="right">รวม</td>
                            <td align="right">{$sumAmountPkg}</td>
                            <td align="right">{$sumPricePkg}</td>
                            <td align="right">{$sumDiscoutPkg}</td>
                            <td align="right">{$sumRealPricePkg}</td>
                        </tr>
                        {/if}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="space-column"></td>
                            <td class="space-column"></td>
                            <td align="right" class="report-total-column">รวมทั้งหมด</td>
                            <td align="right" class="report-total-column">{$totalAmount}</td>
                            <td align="right" class="report-total-column">{$totalPrice}</td>
                            <td align="right" class="report-total-column">{$totalDiscout}</td>
                            <td align="right" class="report-total-column">{$totalRealPrice}</td>
                        </tr>
                    </tfoot>
                </table>
            </center>
            </div>
            {else}
            ไม่พบข้อมูลเพื่อออกรายงานในช่วงเวลาดังกล่าว
            {/if}
            </center>
        </div>
	</div>
</div>

<!-- end page-->
</body>
</html>