<!DOCTYPE html>
<html>
<head>
    <title>Spa - Backoffice</title>
    <meta charset="utf-8"/>
    {include file="../../common/common_headericon.html"}
    {literal}
    <link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../css/lazybingo.css">
    <link rel="stylesheet" type="text/css" href="../inc/datetimepicker/jquery.datetimepicker.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/mbk_common_function.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/mbk_main.js"></script>
    <script type="text/javascript" charset="utf-8" src="../js/mbk_manage_table.js"></script>
    <script type="text/javascript" src="../js/jquery.table2excel.js"></script>
    <script type="text/javascript">
    
    $(document).ready(function() {
        $('#chooseDate').datetimepicker({
            lang                : 'th',
            format              : 'Y/m/d',
            timepicker          :false,
            closeOnDateSelect   :true,
            scrollInput         :false,
            yearOffset          :543,
            onSelectDate: 
            function(){
              $('#chooseDate').blur();
            },
            timepicker:false
        });

        $('#submit').click(function() {
            // Convert thai date to real date
            $('.mbk-dtp-th').each(function() {
                if($(this).val() != '') {
                    if(isDateThaiFormat($(this))) {
                        getRealDate($(this));
                    } else {
                        convertThaiDate($(this));
                        getRealDate($(this));
                    }
                }
            });
        });
        $('#print-btn').click(function() {
            if($('.printArea').length > 0) {
                printElemBOF($('.printArea'));
            } else {
                parent.showActionDialog({
                    title: 'ไม่พบข้อมูลสำหรับพิมพ์รายงาน',
                    message: 'ไม่สามารถพิมพ์ได้เนื่องจากไม่พบข้อมูลสำหรับพิมพ์รายงาน',
                    actionList: [
                        {
                            id: 'ok',
                            name: 'ตกลง',
                            func:
                            function() {
                                parent.hideActionDialog();
                            }
                        }
                    ],
                    boxWidth: 400
                });
            }
        });
        $('#exportExcel-btn').click(function() {
            if($('.printArea').length > 0) {
                tableToExcel('exportTable', 'รายงานสรุปยอดการเบิกผลิตภัณฑ์');
            } else {
                parent.showActionDialog({
                    title: 'ไม่พบข้อมูลสำหรับดาวโหลด',
                    message: 'ไม่สามารถดาวโหลดได้เนื่องจากไม่พบข้อมูลสำหรับดาวโหลด',
                    actionList: [
                        {
                            id: 'ok',
                            name: 'ตกลง',
                            func:
                            function() {
                                parent.hideActionDialog();
                            }
                        }
                    ],
                    boxWidth: 400
                });
            }
        });
    });
    </script>
    {/literal}
</head>
<body>
<div id="page">
    <div id="wrapper">
        {include file="_manage_table_header.html"}
        <div class="mainContainer">
            <h1>
                <img src="../img/report/report5.png" width="45px">
                รายงานสรุปยอดการเบิกผลิตภัณฑ์
            </h1>
            <br>
            <div class="toolbar-container clearfix">
                <ul class="toolbar-menu">
                    <li>
                        <a id="back-btn" href="report.php">
                            <i class="fa fa-arrow-circle-left"></i> ย้อนกลับ
                        </a>
                        <a id="print-btn">
                            <i class="fa fa-print"></i> พิมพ์
                        </a>
                        <!-- <a id="exportExcel-btn">
                            <i class="fa fa-download"></i> ดาวโหลด(Excel)
                        </a> -->
                        
                    </li>
                </ul>
            </div>
            <br><br>
            
            <form method="post" action="report_top_withdraw.php" class="mbk-form-input-normal">
                <table>
                    <tr>
                        <td>เลือกวันที่ออกรายงาน </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="chooseDate" name="chooseDate" type="text" class="mbk-dtp-th form-input half" value="{if $chooseDate}{$chooseDate}{else}{$nowDate}{/if}">
                        </td>
                        <td>
                            <input  type="hidden" name="submit" value="ออกรายงาน">
                            <button id="submit" type="submit" class="button button-icon button-icon-report"> ออกรายงาน</button>
                        </td>
                    </tr>
                </table>
                
            </form>
            
            <center>
            {if $report}
            <div class="printArea">
            <center>
                <table id="exportTable" class="report-top-table report-massage" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr class="headTable">
                            <td colspan="4" align="center">
                                <h3>รายงานสรุปยอดการเบิกผลิตภัณฑ์</h3>
                            </td>
                        </tr>
                        <tr class="headTable"><td></td><td></td><td></td><td></td></tr>
                        <tr class="headTable">
                            <td colspan="4" align="center">
                                ประจำวันที่: {$chooseDate_th}&nbsp;&nbsp;&nbsp;&nbsp;
                                วันที่พิมพ์รายงาน: {$nowDate_th}
                            </td>
                        </tr>
                        <tr class="headTable"><td></td><td></td><td></td><td></td></tr>
                        <tr>
                            <th>ชื่อผลิตภัณฑ์ที่เบิก</th>
                            <th>จำนวนที่เบิก</th>
                            <th>ชื่อผู้เบิก</th>
                            <th>ชื่อผู้ให้เบิก</th>                            
                        </tr>
                    </thead>
                    <tbody>
                        {foreach from=$report key=i item=wdw}
                        {if $wdw.type}
                            <tr class="type-col">
                                <td colspan="7">{$wdw.wdwtyp_name}</td>
                            </tr>
                        {/if}
                        <tr>
                            <td>{$wdw.prd_name}</td>
                            <td align="right">{$wdw.wdwdtl_amount} {$wdw.unit_name} </td>
                            <td>{$wdw.empFullname}</td>
                            <td>{$wdw.empGiveFullname}</td>
                        </tr>
                        {/foreach}
                    </tbody>
                </table>
            </center>
            </div>
            {else}
            ไม่พบข้อมูลเพื่อออกรายงานในช่วงเวลาดังกล่าว
            {/if}
            </center>
        </div>
    </div>
</div>

<!-- end page-->
</body>
</html>