<!DOCTYPE html>
<html>
<head>
	<title>Spa - Time Attendance</title>
	<meta charset="UTF-8"/>
	{literal}
	<link rel="stylesheet" type="text/css" href="../inc/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../css/timeAttendance.css">
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/mbk_common_function.js"></script>
	<script type="text/javascript" src="../inc/datetimepicker/mbk.datetimepickerThai.js"></script>
	<script type="text/javascript" src="../js/timeAttendance.js"></script>
	<script type="text/javascript">
		var nowDate = '{/literal}{$nowDate}{literal}';
		var advertisingList = {/literal}{$advertisingList|@json_encode}{literal};

		$(document).ready(function () {
			$('#nowDate').text(realDateToThaiDate(nowDate));
			StartClock24();
		});

		function showFilled(Value) {
			return (Value > 9) ? "" + Value : "0" + Value;
		}
		function StartClock24() {
			TheTime = new Date;
			var curTime = showFilled(TheTime.getHours()) + ":" +
			showFilled(TheTime.getMinutes());
			// var curTime = showFilled(TheTime.getHours()) + ":" +
			// showFilled(TheTime.getMinutes()) + ":" + showFilled(TheTime.getSeconds());
			$('#clock').text(curTime);
			setTimeout("StartClock24()",1000);
		}
	</script>
	{/literal}
</head>
<body>
<div class="title-container">
	<h1><span id="clock"></span></h1> 
	<h6><span id="nowDate"></span></h6>
</div>
<div class="container">
	<div class="advertising-container">
		<div class="advertising-image"></div>
		<div class="advertising-txt-container">
			<div class="advertising-txt-inner">
				<div class="advertising-txt"></div>
			</div>
		</div>
	</div>
</div>
<div class="textRunner">
	<marquee class="textRunner-text" scrollamount="4"></marquee>
</div>
<div class="barcode-container">
	<table>
		<tr>
			<td>
				<span class="welcome-msg">ยินดีต้อนรับ กรุณาสแกนบัตรหรือกรอกรหัสบัตรค่ะ</span>
			</td>
			<td style="text-align : left;">
				<input id="barcode-input" class="ta-input" type="text" name="barcode">
				<button class="ta-button ta-button-large button-color-green" id="scan-btn">
					<i class="fa fa-arrow-right"></i>
				</button>
			</td>
		</tr>
	</table>
</div>
</body>
</html>